page-on-boarding {
  .row form {
    width: 97%;
  }

  .pro-txt {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .pro-txt p {
    width: 100%;
    color: $light-color;
  }

  .row>span {
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
  }

  .item {
    margin-bottom: 10px;
  }

  .name {
    font-size: 1.9rem !important;
    color: #000000 !important;
  }

  .about {
    font-weight: bold;
    font-size: 2.3rem !important;
    color: #000000 !important;
  }

  .abt .item-inner {
    border-bottom: none !important;
  }

  .info-icon {
    color: #fff;
    background: #b2b2b2;
    margin-right: 3%;
  }

  .info {
    width: 70%;
    font-size: 1.6rem;
    color: #b2b2b2;
    margin-bottom: 10%;
    text-align: center;
    margin: 0 auto;
  }

  .next-button {
    background: $main-color;
    width: 41%;
    height: 40px;
    margin-top: 30px;
  }

  .follow-text {
    width: 100%;
    margin-left: 4%;
    margin-top: -5px;
    font-size: 1.1rem !important;
  }

  .back-arrow img {
    float: left;
    margin-left: 4%;
  }

  .left {
    float: left;
  }

  .step-2 {
    margin-top: 7%;
    margin-left: 7%;
  }

  .qstn {
    font-size: 2.7rem !important;
    color: #000000;
    font-weight: bold;
  }

  .err {
    border-bottom: 1px solid $other-color;
  }

  .error .item-md.item-input .item-inner {
    border-bottom-color: $other-color;
    -webkit-box-shadow: inset 0 -1px 0 0 $other-color;
    box-shadow: inset 0 -1px 0 0 $other-color;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: $secondary-color !important;
    -webkit-box-shadow: inset 0 -1px 0 0 $secondary-color !important;
    box-shadow: inset 0 -1px 0 0 $secondary-color !important;
  }

  .select-image .item-inner {
    border-bottom: none !important;
    text-align: center;
  }

  .select-image-select {
    max-width: 100% !important;
    width: 100%;
    text-align: center;
  }

  .select-image-select .select-md {
    padding: 13px 8px 13px 0px !important;
  }

  .select-image-select .select-icon {
    display: none !important;
  }

  #fileInput {
    width: 10px !important;
    height: 10px !important;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  #fileInput+label {
    margin: 0 auto;

    background: none !important;
    box-shadow: none !important;
    margin-top: 15px !important;
    font-size: 1.2em !important;
    font-weight: 500 !important;
    color: #b2b2b2 !important;
  }
}
