<div class="container-fluid m-auto">
  <div class="row justify-content-md-center main-content">
    <div class="col-11">
      <h1>Recomend a product</h1>
      <div class="row">
        <div class="col-md-4">
          <h3 class="head_color">Description</h3>
          <div>
            <form action="" class="add_product">
              <div class="product_input">
                <label for="product_name">What's the name of the product? *</label>
                <input type="text" placeholder="Product name (0/15 words)" class="form-control pl-0 input_style"
                  [(ngModel)]="product.name" name="name" />
              </div>
              <div class="product_input">
                <label for="product_category">Category? *</label>
                <select class="form-control pl-0 shadow_btn catg_btn" name="category" [(ngModel)]="product.category"
                  (change)="getSubcategories($event.target.value)">
                  <option class="catg_option" value="">Category</option>
                  <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
                </select>
                <select class="form-control pl-0 shadow_btn catg_btn" style="margin-top:20px;" name="subcategory"
                  [(ngModel)]="product.subcategory">
                  <option value="" class="subcatg_option">Subcategory</option>
                  <option *ngFor="let subcategory of subcategories" [value]="subcategory._id">{{ subcategory.name }}
                  </option>
                </select>
              </div>
              <div class="product_input">
                <label for="product_price">Price: USD (optional)</label>
                <input type="number" placeholder="ex. $20" class="form-control pl-0 input_style"
                  [(ngModel)]="product.price" name="price" />
              </div>
              <div class="product_input">
                <label for="product_desc">Product Description *</label>
                <textarea type="text" placeholder="About the product(0/100 words)" class="form-control pl-0 input_style"
                  rows="4" [(ngModel)]="product.description" name="description"></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="head_color">Company / Founder</h3>
          <div>
            <form action="" class="add_product">
              <div class="product_input">
                <label for="comp_name">What's the company or who's the founder created this product?
                  *</label>
                <input type="text" placeholder="Name of the company or founder" class="form-control pl-0 input_style"
                  [(ngModel)]="product.ownerName" name="ownerName" />
              </div>
              <div class="product_input">
                <label for="comp_desc">Tell us something about the company/founder. *</label>
                <textarea type="text"
                  placeholder="Somethinga bout the company or founder ex. mission, purpose, brand etc"
                  class="form-control pl-0 input_style" rows="4" [(ngModel)]="product.ownerDescription"
                  name="ownerDescription"></textarea>
              </div>
              <div class="product_input">
                <label for="comp_img">Upload an image of the company or the founder.</label>
                <div class="comp_photos">
                  <div class="upload_photo_wrapper" *ngIf="localUserImage">
                    <img [src]="localUserImage" alt="}" class="imagecheck-image" />
                  </div>
                  <div class="upload_photo_wrapper" *ngIf="!localUserImage">
                    <button class="btn shadow_btn upload_photo">+</button>
                    <input type="file" (change)="uploadUserImage($event)" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <h3 class="head_color">Photos</h3>
          <div>
            <form action="" class="add_product">
              <div class="business_photos">
                <div class="upload_photo_wrapper" *ngFor="let localFile of localFiles">
                  <img [src]="localFile" alt="}" class="imagecheck-image" />
                </div>
                <div class="upload_photo_wrapper">
                  <button class="shadow_btn upload_photo">+</button>
                  <input type="file" (change)="uploadImage($event)" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div style="padding: 20px;text-align: center">
        <button class="submit_business" (click)="addProduct()" id="submitButton">
          Submit
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>