<div class="container-fluid">
  <div class="row" style="height: 100vh;">
    <div class="col-3">
      <div class="page-sidebar expandit">
        <div class="sidebar-inner" id="main-menu-wrapper">
          <ul class="wraplist" style="height: auto;">
            <li><a href="index.html"> <span class="menu-title active">Account</span></a></li>
            <li><a href="security.html"> <span class="menu-title">Security</span></a></li>
            <li><a href="newsletter.html"> <span class="menu-title">Newsletter</span></a></li>
            <li><a href="notifications.html"> <span class="menu-title">Notification</span></a></li>
            <li><a href="report.html"> <span class="menu-title">Report</span></a></li>
            <li><a href="data-expert.html"><span class="menu-title">Data Export</span></a></li>
            <li><a href="deactive-account.html"> <span class="menu-title">Deactivate Account</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <section id="main-content">
        <section class="wrapper main-wrapper row">
          <div class="col-md-6">
            <section class="box">
              <h3 class="heading">Account</h3><BR>
              <form action="#">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="youremail@xxxx.com"
                    style="width: 50%; background-color: #f1f1f1;">
                </div>
                <div class="form-group">
                  <label for="email">Password</label>
                  <p class="pass-vali">For Security, please confirm you password</p>
                  <input type="email" class="form-control" id="email" placeholder="xxxxxxxxxxxxx"
                    style="width: 50%; background-color: white;">
                </div>
                <button type="submit" class="category">Confirm</button>
              </form>
            </section>
          </div>
        </section>
      </section>
    </div>
  </div>
  <app-footer></app-footer>
</div>