<div class="container-fluid">
  <div class="row main-content justify-content-md-center">
    <div class="col-11">
      <div class="row">
        <div class="col-md-4">
          <div class="media-container-row">
            <div class="wrap-img">
              <img src="/assets/images/shortcutAddBiz.png" class="img-responsive clients-img" media-simple="true"
                style="width: 100%;">
              <div style="text-align:left; padding:10px;" (click)="addBusiness()">
                <p class="card-text">Add a Business</p>
                <p>Help people find where conscious businesses are.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media-container-row">
            <div class="wrap-img">
              <img src="/assets/images/shortcutAddRecipe.png" class="img-responsive clients-img" media-simple="true"
                style="width: 100%;">
              <div style="text-align:left; padding:10px;" (click)="addRecipe()">
                <p class="card-text">Post a Recipe</p>
                <p>Don't keep your eco-friendly or healthy recipes to yourself. Let's share them.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media-container-row">
            <div class="wrap-img">
              <img src="/assets/images/shortcutAddProduct.png" class="img-responsive clients-img" media-simple="true"
                style="width: 100%;">
              <div style="text-align:left; padding:10px;" (click)="addProduct()">
                <p class="card-text">Recommend a Product</p>
                <p>Let more people know about the great products you've discovered</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="media-container-row">
            <div class="wrap-img">
              <img src="/assets/images/shortcutAddVideo.png" class="img-responsive clients-img" media-simple="true"
                style="width: 100%;">
              <div style="text-align:left; padding:10px;" (click)="addVlog()">
                <p class="card-text">Share Your Video</p>
                <p>Post your blog vidoes here and build your tribe</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="media-container-row">
            <div class="wrap-img">
              <img src="/assets/images/shortcutAddArticle.png" class="img-responsive clients-img" media-simple="true"
                style="width: 100%;">
              <div style="text-align:left; padding:10px;" (click)="addBlog()">
                <p class="card-text">Share Your Article</p>
                <p>Share your stories, wisdom, and be a local guide to the community</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="media-container-row">
            <div class="wrap-img">
              <img src="/assets/images/shortcutAddQuestion.png" class="img-responsive clients-img" media-simple="true"
                style="width: 100%;">
              <div style="text-align:left; padding:10px;" (click)="addForum()">
                <p class="card-text">Ask a Question</p>
                <p>Need advice? Check Community forum and ask thing you want to know.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>