<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-9 main-content">
      <h3 class="header">Successfully Submitted</h3>
      <p class="sub-heading">
        Your post has been submitted and is pending approval by the admin.
        You`ll get a notification once it is approved.
      </p>
      <div class="icon">
        <img src="/assets/images/addBusiness.png" alt="" />
      </div>
      <div class="check-icon">
        <img src="/assets/images/check.png" alt="" />
      </div>
      <div class="links">
        <a (click)="goto()">Preview your post</a>
      </div>
      <div>
        <a href="/">Go homepage</a>
      </div>
    </div>
  </div>
</div>