@media only screen and (min-height: 600px) and (min-width: 768px) {
  .modal-wrapper.sc-ion-modal-md-h {
    border-radius: 15px !important;
  }
}
.main-content {
  height: 100%;
  text-align: center;
}
.header {
  margin-top: 50px;
}
.sub-header {
  margin-top: 25px;
}
a {
  text-decoration: underline;
  color: #00b2aa;
}
.check-icon {
  margin-top: 20px;
}
.links {
  margin-top: 30px;
}
