.container-fluid {
  overflow: scroll;  
}
.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px){
  .container {
      max-width: 1450px;
  }}

.main-content {
  margin-bottom: 50px;
}

.business {
  border-radius: 10px;
  height: 310px;
  width: 100%;
}

.product_info {
  padding-top: 28px;
}
// .all_icons {
//   display: flex;
//   justify-content: space-between;
// }
.product_type {
  border-radius: 20px;
  font-size: 0.8em;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  border: 0px;
  padding: 6px 15px;
  margin-bottom: 10px;
  color: white;
  display: inline;
}
.bookmark {
  display: inline;
  padding: 9px 9px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #e3e3e3;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.bookmark img {
  width: 17px;
  height: 17px;
}
.heart {
  display: inline;
  height: 20px;
}
.likes {
  display: inline;
  padding: 0px 6px;
}
.share_btn {
  padding: 6px 15px;
  margin-bottom: 10px;
  display: inline;
  float: right;
}
.shadow_btn {
  border: 0px;
  border-radius: 46px;
  background-size: 20px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: textfield;
  font-size: 0.8em;
  font-weight: 300;
  background-position-y: 9px;
  background-position-x: 25px;
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
}
.shadow_btn:focus {
  outline: none;
}
.thumbnails {
  display: flex;
  justify-content: space-between;
}
.all_thumbnails {
  cursor: pointer;
  height: 80px;
  width: 22%;
  border-radius: 10px;
  margin-top: 9px;
}
.name_map {
  padding-top: 43px;
}
.user_name {
  margin-left: 80px;
  margin-top: 5px;
}
.user_loc {
  margin-left: 80px;
  margin-top: 0 !important;
}
.circle_img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  float: left;
}
.recommended_by {
  padding-top: 10px;
}
.prod_desc {
  padding-top: 30px;
}
.comp_name {
  margin-left: 80px;
  padding-top: 16px;
}
.comp {
  padding-top: 20px;
}
.staff_pick {
  padding-top: 30px;
}
.nh_pick {
  margin-left: 80px;
  padding-top: 16px;
}
.user-info {
  padding-top: 15px;
}
.user-info p {
  margin-bottom: 0 !important;
}

button {
  outline: none;
}
