<div class="card popular-placescard border-0">
  <div class="card-header border-0 p-0 background-property" [ngStyle]="{ 'background-image': 'url(' + thumbnail + ')'}">
    <div class="bookmark-div">
      <img src="/assets/images/bookmark.svg">
    </div>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary">{{ business.category.name }}</button>
    <h3>{{ business.name }}</h3>
    <p class="mb-0"><img src="/assets/images/category/maps-and-flags.svg">{{ business.city }}, {{ business.state }}</p>
  </div>
</div>