<ion-content>
    <app-navbar></app-navbar>
<div class="background-property community-img text-center align-content-center">
        <h2>A Conscious minded community</h2>
        <p class="mb-0">Make friends here, learn from here, start conscious life from here.</p>
    </div>
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mt-4 main-heading">Naturehub Community Groups</h2>
                        <div class="row mt-4 community-grouprow">
                            <div class="col-6">
                                <div class="community-groupcard background-property community-groupcardimg1">
                                </div>
                                <h2 class="mt-3">NatureHub Platform Q & A: Ask anything to NatureHub!</h2>
                                <p class="mb-0">We are real human we'd like to ----</p>
                            </div>
                            <div class="col-6">
                                <div class="community-groupcard  background-property community-groupcardimg2">
                                </div>
                                <h2 class="mt-3">NatureHub channel. Meet the influencers!</h2>
                                <p class="mb-0">We are real human we'd like to ----</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mt-4 main-heading">Explore Groups in Your Area<span class="show-more">Show More
                                <img src="./../../../assets/images/arrow-pointing-to-right.svg"></span></h2>
                        <div class="location-grid mt-3 mb-2">
                            <div>
                                <p class="location-name mb-0"><span><img src="./../../../assets/images/location.svg"
                                            alt=""></span>Florida, FL
                                </p>
                            </div>
                            <div>
                                <span class="change-location">Change Location</span>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-3">
                                <div class="background-property explore-groupimg explore-groupimg1">
                                </div>
                                <h2 class="mt-3 sub-heading">Plants & Seeds Exchange in Orlando</h2>
                            </div>
                            <div class="col-3">
                                <div class="background-property explore-groupimg explore-groupimg2">
                                </div>
                                <h2 class="mt-3 sub-heading">Orlando Yoga Gathering </h2>
                            </div>
                            <div class="col-3">
                                <div class="background-property explore-groupimg explore-groupimg3">
                                </div>
                                <h2 class="mt-3 sub-heading">Biking for Good Cause/ Central Florida</h2>
                            </div>
                            <div class="col-3">
                                <div class="background-property explore-groupimg explore-groupimg4">
                                </div>
                                <h2 class="mt-3 sub-heading">Healthy Diet Weekend Workshop</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <h2 class="mt-4 main-heading">Trending discussions<span class="show-more">Show More
                                <img src="./../../../assets/images/arrow-pointing-to-right.svg"></span>
                        </h2>
                        <div class="row mt-4">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="card discussion-card border-0">
                                            <div class="card-body">
                                                <span class="discussion-tag"># vegan</span><span
                                                    class="discussion-time">Posted 2h ago</span>
                                                <div class="grid-section mt-2 mb-1">
                                                    <div
                                                        class="discussionuser-img background-property discussionuser-img1">
                                                    </div>
                                                    <h2 class="mb-0">Omar Jez</h2>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="discussion-info">
                                                        <h2 class="mt-2">Where to buy this organic fruit jam in NY?</h2>
                                                        <p class="mb-0">Last time i found it in the mark..</p>
                                                        <ul class="pl-0 mb-0 discussion-commentlist mt-3">
                                                            <li>
                                                                <img src="./../../../assets/images/like.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                            <li>
                                                                <img src="./../../../assets/images/chat.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="discussion-img background-property"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card discussion-card border-0">
                                            <div class="card-body">
                                                <span class="discussion-tag"># vegan</span><span
                                                    class="discussion-time">Posted 2h ago</span>
                                                <div class="grid-section mt-2 mb-1">
                                                    <div
                                                        class="discussionuser-img background-property discussionuser-img1">
                                                    </div>
                                                    <h2 class="mb-0">Omar Jez</h2>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="discussion-info">
                                                        <h2 class="mt-2">Where to buy this organic fruit jam in NY?</h2>
                                                        <p class="mb-0">Last time i found it in the mark..</p>
                                                        <ul class="pl-0 mb-0 discussion-commentlist mt-3">
                                                            <li>
                                                                <img src="./../../../assets/images/like.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                            <li>
                                                                <img src="./../../../assets/images/chat.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="discussion-img background-property"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card discussion-card border-0">
                                            <div class="card-body">
                                                <span class="discussion-tag"># vegan</span><span
                                                    class="discussion-time">Posted 2h ago</span>
                                                <div class="grid-section mt-2 mb-1">
                                                    <div
                                                        class="discussionuser-img background-property discussionuser-img1">
                                                    </div>
                                                    <h2 class="mb-0">Omar Jez</h2>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="discussion-info">
                                                        <h2 class="mt-2">Where to buy this organic fruit jam in NY?</h2>
                                                        <p class="mb-0">Last time i found it in the mark..</p>
                                                        <ul class="pl-0 mb-0 discussion-commentlist mt-3">
                                                            <li>
                                                                <img src="./../../../assets/images/like.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                            <li>
                                                                <img src="./../../../assets/images/chat.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="discussion-img background-property"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="card discussion-card border-0">
                                            <div class="card-body">
                                                <span class="discussion-tag"># vegan</span><span
                                                    class="discussion-time">Posted 2h ago</span>
                                                <div class="grid-section mt-2 mb-1">
                                                    <div
                                                        class="discussionuser-img background-property discussionuser-img1">
                                                    </div>
                                                    <h2 class="mb-0">Omar Jez</h2>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="discussion-info">
                                                        <h2 class="mt-2">Where to buy this organic fruit jam in NY?</h2>
                                                        <p class="mb-0">Last time i found it in the mark..</p>
                                                        <ul class="pl-0 mb-0 discussion-commentlist mt-3">
                                                            <li>
                                                                <img src="./../../../assets/images/like.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                            <li>
                                                                <img src="./../../../assets/images/chat.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="discussion-img background-property"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card discussion-card border-0">
                                            <div class="card-body">
                                                <span class="discussion-tag"># vegan</span><span
                                                    class="discussion-time">Posted 2h ago</span>
                                                <div class="grid-section mt-2 mb-1">
                                                    <div
                                                        class="discussionuser-img background-property discussionuser-img1">
                                                    </div>
                                                    <h2 class="mb-0">Omar Jez</h2>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="discussion-info">
                                                        <h2 class="mt-2">Where to buy this organic fruit jam in NY?</h2>
                                                        <p class="mb-0">Last time i found it in the mark..</p>
                                                        <ul class="pl-0 mb-0 discussion-commentlist mt-3">
                                                            <li>
                                                                <img src="./../../../assets/images/like.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                            <li>
                                                                <img src="./../../../assets/images/chat.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="discussion-img background-property"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card discussion-card border-0">
                                            <div class="card-body">
                                                <span class="discussion-tag"># vegan</span><span
                                                    class="discussion-time">Posted 2h ago</span>
                                                <div class="grid-section mt-2 mb-1">
                                                    <div
                                                        class="discussionuser-img background-property discussionuser-img1">
                                                    </div>
                                                    <h2 class="mb-0">Omar Jez</h2>
                                                </div>
                                                <div class="d-flex">
                                                    <div class="discussion-info">
                                                        <h2 class="mt-2">Where to buy this organic fruit jam in NY?</h2>
                                                        <p class="mb-0">Last time i found it in the mark..</p>
                                                        <ul class="pl-0 mb-0 discussion-commentlist mt-3">
                                                            <li>
                                                                <img src="./../../../assets/images/like.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                            <li>
                                                                <img src="./../../../assets/images/chat.svg" alt="no-image">
                                                                <span>1652</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="discussion-img background-property"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <h2 class="mt-4 main-heading">Latest discussions<span class="show-more">Show
                                                More
                                                <img src="./../../../assets/images/arrow-pointing-to-right.svg"></span>
                                        </h2>
                                        <div class="row mt-4">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="card discussion-card border-0">
                                                            <div class="card-body">
                                                                <span class="discussion-tag"># vegan</span><span
                                                                    class="discussion-time">Posted 2h ago</span>
                                                                <div class="grid-section mt-2 mb-1">
                                                                    <div
                                                                        class="discussionuser-img background-property discussionuser-img1">
                                                                    </div>
                                                                    <h2 class="mb-0">Omar Jez</h2>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="discussion-info">
                                                                        <h2 class="mt-2">Where to buy this organic fruit
                                                                            jam in NY?</h2>
                                                                        <p class="mb-0">Last time i found it in the
                                                                            mark..</p>
                                                                        <ul
                                                                            class="pl-0 mb-0 discussion-commentlist mt-3">
                                                                            <li>
                                                                                <img src="./../../../assets/images/like.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                            <li>
                                                                                <img src="./../../../assets/images/chat.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="discussion-img background-property">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="card discussion-card border-0">
                                                            <div class="card-body">
                                                                <span class="discussion-tag"># vegan</span><span
                                                                    class="discussion-time">Posted 2h ago</span>
                                                                <div class="grid-section mt-2 mb-1">
                                                                    <div
                                                                        class="discussionuser-img background-property discussionuser-img1">
                                                                    </div>
                                                                    <h2 class="mb-0">Omar Jez</h2>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="discussion-info">
                                                                        <h2 class="mt-2">Where to buy this organic fruit
                                                                            jam in NY?</h2>
                                                                        <p class="mb-0">Last time i found it in the
                                                                            mark..</p>
                                                                        <ul
                                                                            class="pl-0 mb-0 discussion-commentlist mt-3">
                                                                            <li>
                                                                                <img src="./../../../assets/images/like.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                            <li>
                                                                                <img src="./../../../assets/images/chat.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="discussion-img background-property">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="card discussion-card border-0">
                                                            <div class="card-body">
                                                                <span class="discussion-tag"># vegan</span><span
                                                                    class="discussion-time">Posted 2h ago</span>
                                                                <div class="grid-section mt-2 mb-1">
                                                                    <div
                                                                        class="discussionuser-img background-property discussionuser-img1">
                                                                    </div>
                                                                    <h2 class="mb-0">Omar Jez</h2>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="discussion-info">
                                                                        <h2 class="mt-2">Where to buy this organic fruit
                                                                            jam in NY?</h2>
                                                                        <p class="mb-0">Last time i found it in the
                                                                            mark..</p>
                                                                        <ul
                                                                            class="pl-0 mb-0 discussion-commentlist mt-3">
                                                                            <li>
                                                                                <img src="./../../../assets/images/like.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                            <li>
                                                                                <img src="./../../../assets/images/chat.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="discussion-img background-property">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="card discussion-card border-0">
                                                            <div class="card-body">
                                                                <span class="discussion-tag"># vegan</span><span
                                                                    class="discussion-time">Posted 2h ago</span>
                                                                <div class="grid-section mt-2 mb-1">
                                                                    <div
                                                                        class="discussionuser-img background-property discussionuser-img1">
                                                                    </div>
                                                                    <h2 class="mb-0">Omar Jez</h2>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="discussion-info">
                                                                        <h2 class="mt-2">Where to buy this organic fruit
                                                                            jam in NY?</h2>
                                                                        <p class="mb-0">Last time i found it in the
                                                                            mark..</p>
                                                                        <ul
                                                                            class="pl-0 mb-0 discussion-commentlist mt-3">
                                                                            <li>
                                                                                <img src="./../../../assets/images/like.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                            <li>
                                                                                <img src="./../../../assets/images/chat.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="discussion-img background-property">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="card discussion-card border-0">
                                                            <div class="card-body">
                                                                <span class="discussion-tag"># vegan</span><span
                                                                    class="discussion-time">Posted 2h ago</span>
                                                                <div class="grid-section mt-2 mb-1">
                                                                    <div
                                                                        class="discussionuser-img background-property discussionuser-img1">
                                                                    </div>
                                                                    <h2 class="mb-0">Omar Jez</h2>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="discussion-info">
                                                                        <h2 class="mt-2">Where to buy this organic fruit
                                                                            jam in NY?</h2>
                                                                        <p class="mb-0">Last time i found it in the
                                                                            mark..</p>
                                                                        <ul
                                                                            class="pl-0 mb-0 discussion-commentlist mt-3">
                                                                            <li>
                                                                                <img src="./../../../assets/images/like.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                            <li>
                                                                                <img src="./../../../assets/images/chat.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="discussion-img background-property">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="card discussion-card border-0">
                                                            <div class="card-body">
                                                                <span class="discussion-tag"># vegan</span><span
                                                                    class="discussion-time">Posted 2h ago</span>
                                                                <div class="grid-section mt-2 mb-1">
                                                                    <div
                                                                        class="discussionuser-img background-property discussionuser-img1">
                                                                    </div>
                                                                    <h2 class="mb-0">Omar Jez</h2>
                                                                </div>
                                                                <div class="d-flex">
                                                                    <div class="discussion-info">
                                                                        <h2 class="mt-2">Where to buy this organic fruit
                                                                            jam in NY?</h2>
                                                                        <p class="mb-0">Last time i found it in the
                                                                            mark..</p>
                                                                        <ul
                                                                            class="pl-0 mb-0 discussion-commentlist mt-3">
                                                                            <li>
                                                                                <img src="./../../../assets/images/like.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                            <li>
                                                                                <img src="./../../../assets/images/chat.svg"
                                                                                    alt="no-image">
                                                                                <span>1652</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="discussion-img background-property">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="popular-topiccard">
                                    <div class="popular-cardpadding">
                                        <h2>Popular topics</h2>
                                        <button type="button" class="btn btn-outline-primary btn-sm"># Kambucha</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm"># Cleansig</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm">#
                                            Cancer-fighting</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm"># Keto</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm">#
                                            Zero-waste</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm">#
                                            HomeRemedy</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm"># Detox</button>
                                        <button class="btn btn-outline-primary btn-sm"># Keto</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm">#
                                            Zero-waste</button>
                                        <button type="button" class="btn btn-outline-primary btn-sm">#
                                            HomeRemedy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ion-content>
