<ion-content>
  <ion-grid class="banner-login">
    <ion-col col-12>
      <div class="login-logo">
        <img src="assets/imgs/logo_with_text.png" class="align-things-center" alt="">
      </div>
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-card class="register-card align-things-center" col-10>
      <div class="input-item">
        <div class="label-text">Email</div>
        <ion-item>
          <ion-label>
            <ion-icon name="ios-mail-open-outline"></ion-icon>
          </ion-label>
          <ion-input class="text-1" type="email" [(ngModel)]="user.email" (keyup)="checkEmail()" autocomplete="off" placeholder="Enter email"></ion-input>
        </ion-item>
        <p class="tiny-details" *ngIf="!emailFlag">* Invalid email address</p>
      </div>
      <div class="input-item">
        <div class="label-text">Password</div>
        <ion-item>
          <ion-label>
            <ion-icon name="ios-lock-outline"></ion-icon>
          </ion-label>
          <ion-input class="text-1" #input clearOnEdit="false" [(ngModel)]="user.password" (keyup)="checkPassword()" placeholder="Enter password" type="{{ inputType }}"></ion-input>
          <button ion-button clear type="button" item-right (click)="managePassword(input)">
            <ion-icon class="show" *ngIf="showPassword" name="eye"></ion-icon>
            <ion-icon class="show" *ngIf="!showPassword" name="eye-off"></ion-icon>
          </button>
        </ion-item>
        <p class="tiny-details" *ngIf="!passwordFlag">* {{ passwordErrorMessage }}</p>
      </div>
      <div class="btn">
        <button ion-button class="login-button align-things-center" round (click)="register()">Sign Up</button>
      </div>
    </ion-card>
    <ion-row class="align-things-center login-link">
      <p class="align-things-center sign-up-message">Already have an account?
        <span (click)="loginPage()" class="sign-up-link">Login</span>
      </p>
    </ion-row>
    <ion-row class="align-things-center policy">
      <p class="align-things-center">By using NatureHub App, you agree to our <br />
        <u (click)="openPrivacy()"> Privacy Policy </u> and <u (click)="openPrivacy()">Terms of Service</u>.
      </p>
    </ion-row>
  </ion-grid>
</ion-content>