<footer class="theme-footer-one">
  <div class="shape-one" data-aos="zoom-in-right"></div>
  <img src="/assets/images/shape-67.svg" alt="" class="shape-two"  />
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-xl-4 about-widget" data-aos="fade-up">
          <a href="/" class="logo"><img src="/assets/images/logo.png" alt="" class="foot-logo" /></a>
          <div class="row mobile-none">
            <div class="col-lg-5 col-md-3 col-xl-5 col-5">
              <a href="https://play.google.com/store/apps/details?id=com.naturehub.beta&hl=en"
                class="google-button wow fadeInLeft animated">
                <img src="/assets/images/googleAppicon.png" alt="" />
              </a>
            </div>
            <div class="col-lg-5 col-md-3 col-xl-5 col-5">
              <a href="https://itunes.apple.com/us/app/naturehub/id1439011467?mt=8"
                class="ios-button wow fadeInRight animated">
                <img src="/assets/images/ios_icon.svg" alt=""  />
              </a>
            </div>
          </div>
        </div>
        <!-- /.about-widget -->
        <div class="col-lg-2 col-md-3 col-xl-2 col-6 footer-list" data-aos="fade-up">
          <h6 class="title">Navigation</h6>
          <ul>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Inspiration</a></li>
            <li><a href="#">My Profile</a></li>
          </ul>
          
        </div>
        <!-- /.footer-recent-post -->
        <div class="col-lg-3 col-md-4 col-xl-3 col-6 footer-list" data-aos="fade-up">
          <h6 class="title">About & Support</h6>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="https://blog.naturehub.com">Blog</a></li>
          </ul>
        </div>
        <!-- /.footer-list -->
        <div class="col-lg-3 col-md-5 col-xl-3 footer-information" data-aos="fade-up">
          <h6 class="title">Contact Us</h6>
          <p style="font-size: 14px;">
            <a style="color: #76797e;" href="mailto:hello@naturehub.com">hello@naturehub.com</a>
          </p>
          <ul>
            <li>
              <a href="https://www.instagram.com/naturehub.official/"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://www.facebook.com/naturehubofficial"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/nature_hub"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UC8df4R_eQ65JEg1t247HZJA"
                ><i class="fa fa-youtube" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/naturehub"
                ><i class="fa fa-linkedin" aria-hidden="true"></i
              ></a>
            </li>
          </ul> 
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.top-footer -->

  <div class="container">
    <div class="bottom-footer">
      <div class="clearfix" style="font-size: 15px; text-align: center;">
        <p>&copy; 2019 NatureHub LLC, all rights reserved</p>
      </div>
    </div>
    <!-- /.bottom-footer -->
  </div>
</footer>