page-add-business {
  .item-md {
    margin-top: -10px !important;
  }

  .current-location-button {
    text-align: center;
  }

  .current-location-button button {
    background: white;
    color: black;

    @media screen and (min-width: 320px), screen and (min-width: 360px) {
      font-size: 1.2rem !important;
    }

    @media screen and (min-width: 375px) and (min-height: 812px) {
      font-size: 1.5rem !important;
    }
  }

  .current-location-button button:hover {
    background: white !important;
  }

  .current-location-button img {
    width: 17%;
    padding-right: 14px;
  }

  .above-map {
    z-index: 2000;
  }

  .select-md .select-icon {
    margin-top: 12px;
  }

  .select .select-icon {
    margin-top: 10px;
  }

  .select-md .select-placeholder {
    color: #999;
  }

  .select .select-placeholder {
    color: #999;

    @media screen and (min-width: 320px) {
      font-size: 1.3rem !important;
    }

    @media screen and (min-width: 414px) {
      font-size: 1.6rem !important;
    }
  }

  .err {
    border-bottom: 1px solid $other-color;
  }

  .error .item-md.item-input .item-inner {
    border-bottom-color: $other-color;
    -webkit-box-shadow: inset 0 -1px 0 0 $other-color;
    box-shadow: inset 0 -1px 0 0 $other-color;
  }

  .current-location {
    position: relative;
    bottom: -7px;
    right: 1%;
  }

  select {
    border: 0;
    border-bottom-color: $light-color;
    -webkit-box-shadow: inset 0 -1px 0 0 $light-color;
    box-shadow: inset 0 -1px 0 0 $light-color;
    background: white;
    color: $light-color;
    width: 100%;
  }

  .dateValue {
    font-weight: bold;
    color: $light-color;
  }

  .full-size-content {
    height: 100%;
    width: 100%;
  }



  // Business page styles
  .like {
    text-align: right;
    float: left !important;
    margin-top: 9px;
    margin-left: 20px;

    @media screen and (min-width: 320px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.4rem;
    }
  }

  .call-button {
    @media screen and (min-width: 360px) {
      margin-top: 20px !important;
    }
    @media screen and (min-width: 375px) {
      margin-top: 0px !important;
    }
  }

  .value-item {
    color: $dark-gray;

    @media screen and (min-width: 320px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.7rem;
    }
  }

  .direction-button {
    background: white;
    width: 150px;
    border-radius: 50px;
    position: absolute;
    top: 55%;
    left: 30%;

    @media screen and (min-width: 320px) {
      font-size: 1.2rem !important;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.5rem !important;
    }
  }

  .direction-button img {
    width: 80%;
    margin: 12px 0px 0px 18px;
  }

  .direction-button .col {
    padding: 0 !important;
  }

  .direction-button p {
    text-align: center
  }

  .business-tag {
    background: $main-color;
    padding: 0 20px;
    text-transform: capitalize;

    @media screen and (min-width: 320px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.5rem;
    }
  }

  .business-like {
    top: 1em;
  }

  .business-like span {
    font-size: 1em;
  }

  .business-like ion-icon {
    font-size: 1.4em;
  }

  .text {
    color: black;
  }

  .card-image {
    border-radius: 11px;
    box-shadow: 0px 3px 5px $light-color;
  }

  .timing-day,
  .timing-status {
    text-transform: capitalize;
    font-weight: bold;
    font: size 1.6em;
  }

  .timing-day-style {
    font-style: italic;
    color: $dark-gray
  }

  .timing-range {
    color: $light-color;
    font-style: italic;
  }

  .images-grid {
    height: 15%;
  }

  .button-1 {
    background-color: white;
    box-shadow: 0px 3px 5px $light-color;
    color: $light-color;
    position: relative;
    top: 45%;
    z-index: 2;
    left: 24%;
  }

  .img-2 {
    width: 101%;
    height: 247%;
    border-radius: 11px;
  }

  .business-name h1 {
    text-transform: capitalize;
    font-weight: bold;

    @media screen and (min-width: 320px) {
      font-size: 3.0rem !important;
    }

    @media screen and (min-width: 375px) {
      font-size: 4rem !important;
    }
  }

  .map-image {
    width: 100%;
    padding-bottom: 55%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #business_map_canvas {
    width: 100%;
    height: 270px;
  }

  .direction {
    bottom: 12px;
    position: absolute;
    left: 35%;
  }

  .bookmark-button {
    background-color: #efefef !important;
    float: right;
    border-radius: 50%;
    margin-top: 5px;
    @media screen and (min-width: 320px) {
      width: 30px;
      height: 30px;
    }

    @media screen and (min-width: 375px) {
      height: 40px;
      width: 40px;
    }
  }

  .bookmark-icon {
    @media screen and (min-width: 320px) {
      margin-top: 8px;
      margin-right: 11px;
      font-size: 1.3rem !important;
    }

    @media screen and (min-width: 375px) {
      font-size: 1.6em !important;
      margin-top: 9px;
      margin-right: 14px;
    }
  }

  h5 {
    @media screen and (min-width: 320px) {
      font-size: 1.5rem !important;
    }
  }

  ion-slide img {
    height: 280px !important;
  }

  ion-scroll img {
    border-radius: 5px;
    height: 92px;
    width: 100%;
  }
}
