.container-fluid {
  overflow: scroll;
}
.main-content {
  margin-bottom: 55px;
}
.row {
  margin-bottom: 10px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.show-more {
  cursor: pointer;
  font-size: 0.7em;
  color: #00b2aa;
  margin-left: 15px;
}
.show-more img {
  width: 13px;
  margin-left: 5px;
}
.location-grid {
  color: #00b2aa;
  font-size: 0.8em;
  border: 1px solid #00b2aa;
  border-radius: 22px;
  padding-top: 7px;
}
.location-name img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.location-pin {
  width: 100%;
  height: 100%;
  margin-right: 5px;
}
.change-location {
  border-bottom: 1px solid #00b2aa;
  float: right;
}
.form-control {
  display: block;
  width: 100%;
  height: 21px;
  padding: 0 !important;
  font-size: 14px;
  border-bottom: 1px solid #9f9f9f;
  color: #555;
  border-top: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  border-left: 0px;
  border-right: 0px;
  background-color: #fff;
  background-image: none;
  border-radius: 0px;
}
.form-group {
  margin-bottom: 0 !important;
}
