<nav class="navbar navbar-expand-lg navbar-light bg-transparent border-bottom">
  <a class="navbar-brand" href="/home"><img src="/assets/images/colorTurtle.svg" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0 search">
      <input class="form-control mr-sm-2" type="search" placeholder="Looking for something?" aria-label="Search" />
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [class.active]="nav === 'home'" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="nav === 'community'" href="/community">Community</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="nav === 'inspiration'" href="/inspiration" tabindex="-1"
          aria-disabled="true">Inspiration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" tabindex="-1" aria-disabled="true">
          <div class="d-flex">
            <div class="background-property user-img" [ngStyle]="{ 'background-image': 'url(' + profileImage + ')'}"
              (click)="openProfile()"></div>
            <div class="notification-dot"></div>
            <img src="/assets/images/menu-button-of-three-horizontal-lines.svg" class="menu-icon ml-3"
              (click)="presentPopover($event)" />
          </div>
        </a>
      </li>       
     

    </ul>

    
  </div>

 
  <div class="dropdown settings-icon">
    <button class="dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white;   border: 0px;">
      <img src="assets/images/menu.png" class="menu-icon ml-3" />
    </button>
    <div class="dropdown-menu" aria-labelledby="about-us">
      <a class="dropdown-item refer"  href="#" style="color:white; ">
        <img src="assets/images/referEarnpoint_Icon@2x.png" class="menu-img" style="width:50px; float:left;">
        <b>Refer and earn points</b><BR>
        Share this app to your friends.<BR>
        Earn 50 points now!</a>
         <a href="#" class="dropdown-item" style="color:#00B2AA; box-shadow: 0 0px 5px rgba(0,0,0,0.3); border-radius: 15px;
          margin-top: 10px; padding: 10px;"><img src="assets/images/email.png" class="menu-img" style="width:50px; float:left; "><b>Confirm your Email</b><BR>
          Please confirm your email or click<BR>here to resend a verification email</a>
        <a class="dropdown-item" href="#"><img src="assets/images/settings.png" class="menu-img">Setting </a>         
            <a class="dropdown-item" href="#"><img src="assets/images/avatar.png" class="menu-img">My Profile </a>
            <a class="dropdown-item" href="#"><img src="assets/images/headphones.png" class="menu-img">Help & Support</a>
        <a class="dropdown-item" href="#"  data-toggle="modal" data-target=".bs-example-modal-sm"><hr><img src="assets/images/logout.png" class="menu-img">Sign Out</a>
    </div>
  </div>

  <div class="dropdown noti-icon">
    <button class="dropdown-toggle" type="button" id="about-us" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white;   border: 0px;">		
      <img src="assets/images/notification.png" class="menu-icon ml-3" />
      <span class="noti-span-top">20</span>
    </button>
    <div class="dropdown-menu noti-d" >
      <div class="">
        <a class="dropdown-item" href="#">
        <img src="assets/images/member-05-270x270.jpg" class="noti-img">
        <span class="notispan">13 m</span><br>Silvia J. Eden Followed<BR>
        <button type="submit" class="btnnoti">Follow</button>  
        </a>     
        <hr>
        <a class="dropdown-item" href="#">
        <img src="assets/images/member-05-270x270.jpg" class="noti-img">
        <span class="notispan">2h</span><BR>Omar Jez replied your <BR>community post 
        <BR><BR>	
        </a>     
        <hr>
        <a class="dropdown-item" href="#">
        <img src="assets/images/member-05-270x270.jpg" class="noti-img">
        <span class="notispan">2h</span><br> Rebecca Rex Louis Liked <BR>your recipe<BR>
        <img src="assets/images/heart.png" width="20px">
        </a>     
        <hr>
        <a class="dropdown-item" href="#">
        <img src="assets/images/member-05-270x270.jpg" class="noti-img">
        <span class="notispan">2d</span><br> Omar Jez liked your recipe<BR>
        <img src="assets/images/heart.png" width="20px">
        <BR><BR>
        </a>     
        <hr>
         <a class="dropdown-item" href="#">
        <img src="assets/images/member-05-270x270.jpg" class="noti-img">
        <span class="notispan">3d</span><br> your business page has published now!!
        <BR><BR>
        </a>     
        <hr>
        <a class="dropdown-item" href="#">
        <img src="assets/images/member-05-270x270.jpg" class="noti-img">
        <span class="notispan">3d</span><br> Wis Bagus followed youR <BR>
        <button type="submit" class="btnnoti">Follow</button>
        </a>     
        <hr>
            </div>
        
    </div>
  </div>
  
</nav>