.background-property {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.navbar-brand {
  margin-right: 0.9rem;
}
.navbar-brand img {
  width: 40px;
  height: 40px;
}
.user-img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb");
}
.menu-icon {
  width: 16px;
  height: 16px;
  margin-top: 5px;
}
.search {
  padding: 0px;
  margin-top: 2px;
}
.search input {
  outline: none;
  width: 100%;
}
input[type="search"] {
  border: 0px;
  border-radius: 46px;
  background: url("../../../assets/images/search.svg") no-repeat;
  background-size: 20px 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
  font-size: 0.8em;
  font-weight: 300;
  padding: 0px 55px;
  background-position-y: 9px;
  background-position-x: 25px;
  height: calc(1.5em + 0.75rem + 9px);
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  width: 138px !important;
}

input[type="search"]::placeholder {
  color: #b2b2b2;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type="search"]:focus {
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
}
.nav-item {
  margin-right: 45px;
}
.nav-item:last-child {
  margin-right: 0px;
}
.nav-link {
  font-size: 0.9em;
}

.notification-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  position: absolute;
  top: 20px;
  right: 50px;
}
