<ion-row class="business-row" *ngIf="business" style="margin-top: 10px;">
  <ion-col col-3>
    <img class="business-img" [src]="url">
  </ion-col>
  <ion-col col-8>
    <ion-row class="business-row-1">
      <ion-col style="text-transform: capitalize">
        <h5 class="business-info">{{ business.name }}</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1>
        <ion-icon ios="ios-pin" md="md-pin" class="business-locn"></ion-icon>
      </ion-col>
      <ion-col col-11>
        <p class="business-text">{{ business.city }}, {{ business.state }}</p>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>