<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="product_info">
        <div class="all_icons">
          <button class="product_type">Cafe</button>
          <img
            class="bookmark"
            src="../../../assets/images/bookmarked.png"
            alt=""
          />
          <img class="heart" src="../../../assets/images/like.png" alt="" />
          <p class="likes">like</p>
          <button class="shadow_btn share_btn">
            <img src="../../../assets/images/share.png" /> Share
          </button>
        </div>
        <img
          src="../../../assets/images/youMeCommunity@3x.png"
          alt=""
          class="business"
        />
        <div class="thumbnails">
          <img
            src="../../../assets/images/youMeCommunity@3x.png"
            alt=""
            class="all_thumbnails"
          />

          <img
            src="../../../assets/images/youMeCommunity@3x.png"
            alt=""
            class="all_thumbnails"
          />
          <img
            src="../../../assets/images/youMeCommunity@3x.png"
            alt=""
            class="all_thumbnails"
          />
          <img
            src="../../../assets/images/youMeCommunity@3x.png"
            alt=""
            class="all_thumbnails"
          />
        </div>
        <div class="staff_pick">
          <img
            src="../../../assets/images/NHstaffPick@2x.png"
            alt=""
            class="circle_img"
          />
          <p class="nh_pick">Naturehub Staff pick</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 name_map">
      <h1>
        Easy Breakfast Organic Beets Veg Toss Salad Mix WIth Parsley
      </h1>
      <div class="who_made">
        <div>Who made this?</div>
        <div>
          <img
            src="../../../assets/images/inviteJoin@3x.png"
            alt=""
            class="circle_img"
          />
          <p class="user_name">Eli`s Health Coach at NY</p>
        </div>
      </div>
      <div class="prod_desc">
        <div>Where to buy Ingredients?</div>
        <p>
          A delicious, nutrient dense, high protein snack made with locally
          harvested kelp, top quality..
        </p>
      </div>
    </div>
    <div class="col-md-4 name_map">
      <div style="padding-top:18px;">Company / Founder</div>
      <div class="comp">
        <img
          src="../../../assets/images/inviteJoin@3x.png"
          alt=""
          class="circle_img"
        />
        <p class="comp_name"><b>AKUA CO.</b></p>
      </div>
      <div>
        <p style="padding-top:30px;">Comp desc</p>
      </div>
    </div>
  </div>
</div>
