<div class="container-fluid">
	<div class="background-property community-img text-center align-content-center">
		<h2>A Conscious minded community</h2>
		<p class="mb-0">Make friends here, learn from here, start conscious life from here.</p>
	</div>
	<div class="row main-content">
		<div class="col-11 m-auto">
			<div class="row">
				<div class="col-md-5 col-12">
					<div class="search">
						<input type="text" class="searchTerm" placeholder="Search the Community" style="width:70%;">
						<button type="submit" class="searchButton">Search </button>
					</div>
				</div>
				<div class="col-md-3 col-6">
					<button class="btngroup" (click)="addForum()">Start a Conversation</button>
				</div>
				<div class="col-md-3 col-6">
					<button class="btngroup">Join a Group</button>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h2 class="mt-4 main-heading">Naturehub Community Groups</h2>
					<div class="row mt-4 community-grouprow">
						<div class="col-sm-6">
							<div class="community-groupcard background-property community-groupcardimg1">
							</div>
							<h2 class="mt-3">NatureHub Platform Q & A: Ask anything to NatureHub!</h2>
							<p class="mb-0">We are real human we'd like to ----</p>
						</div>
						<div class="col-sm-6">
							<div class="community-groupcard  background-property community-groupcardimg2">
							</div>
							<h2 class="mt-3">NatureHub channel. Meet the influencers!</h2>
							<p class="mb-0">We are real human we'd like to ----</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<h2 class="mt-4 main-heading">Explore Groups in Your Area<span class="show-more" (click)="exploreGroup()">Show
							More
							<img src="/assets/images/arrow-pointing-to-right.svg"></span></h2>
				</div>
				<div class="col-12">
						<div class="row">  
								<div class="col-12">            
								  <ul class="breadcrumb">
									<li><img src="/assets/images/location.svg" style="width:20px; margin-right: 10px;"></li>
									<li><input type="text" [(ngModel)]="place" placeholder="Type city name"
										class="form-control pl-0 input_style" autocorrect="off" autocapitalize="off" spellcheck="off"
										#search> </li>
									<li><a href="#">Change Location</a></li>
								  </ul>
								</div> 
							</div> 
					
				</div>
			</div>
			<div class="row mt-4" *ngIf="groups.length > 0; else showNoGroup">
				<div class="col-lg-3 col-md-6 col-xl-3" *ngFor="let group of groups">
					<app-group-card [group]="group"></app-group-card>
				</div>								
			</div>
			<button class="more" (click)="exploreGroup()">Show more</button>
			
			
			<ng-template #showNoGroup>
				<div class="row mt-4">
					<div class="col-lg-3 col-md-6 col-xl-3">
						<div class="media-container-row">
							<div class="wrap-img" style="box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;  border-radius: 15px;">
								<div style="text-align:center;padding:10px;">
									<p style="padding-top:30px; font-size:15px; font-weight:400;">Oops! There is no group near you.
										Explore other
										areas or create a group</p>
									<img src="/assets/images/addIcon.png" style="width: 35px; cursor: pointer;" (click)="addGroup()">
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-template>
			<div class="row">
				<div class="col-lg-9 col-md-12 col-xl-9 tre">
					<div class="row">
						<h2 class="mt-4 main-heading">Trending discussions<span class="show-more"	(click)="exploreForum('trending')">Show More
								<img src="/assets/images/arrow-pointing-to-right.svg"></span>
						</h2>
						<div class="row mt-4">
							<div class="col-lg-4 col-md-6 col-xl-4" *ngFor="let forum of randomForums">
								<app-forum-card [forum]="forum"></app-forum-card>
							</div>												
						</div>
						<button class="more1" (click)="exploreForum('trending')">Show more</button>		
					
					</div>
					<div class="row">
						<h2 class="mt-4 main-heading">Latest discussions<span class="show-more" (click)="exploreForum('latest')">Show More
								<img src="/assets/images/arrow-pointing-to-right.svg"></span>
						</h2>
						<div class="row mt-4">
							<div class="col-lg-4 col-md-6 col-xl-4" *ngFor="let forum of latestForums">
								<app-forum-card [forum]="forum"></app-forum-card>
							</div>												
						</div>
						<button class="more1" (click)="exploreForum('latest')">Show more</button>		
						
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-xl-3">
					<div class="popular-topiccard">
						<div class="popular-cardpadding">
							<h2>Popular topics</h2>
							<button type="button" class="btn btn-outline-primary btn-sm"># Kambucha</button>
							<button type="button" class="btn btn-outline-primary btn-sm"># Cleansig</button>
							<button type="button" class="btn btn-outline-primary btn-sm">#
								Cancer-fighting</button>
							<button type="button" class="btn btn-outline-primary btn-sm"># Keto</button>
							<button type="button" class="btn btn-outline-primary btn-sm">#
								Zero-waste</button>
							<button type="button" class="btn btn-outline-primary btn-sm">#
								HomeRemedy</button>
							<button type="button" class="btn btn-outline-primary btn-sm"># Detox</button>
							<button class="btn btn-outline-primary btn-sm"># Keto</button>
							<button type="button" class="btn btn-outline-primary btn-sm">#
								Zero-waste</button>
							<button type="button" class="btn btn-outline-primary btn-sm">#
								HomeRemedy</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<app-footer></app-footer>
</div>