<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="home-row">
      <ion-col>
        <section-header [text]="'Popular Recipes'"></section-header>
      </ion-col>
    </ion-row>
    <ion-row class="align-things-center" *ngIf="flag">
      <ion-col col-12>
        <div class="main-spinner"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!flag">
    <div>
      <ion-scroll scrollX="true" class="guide-scroll" style="height:70px">
        <ion-row nowrap>
          <ion-col col-4 class="custom-col-4">
            <button ion-button round [class.filter-active]="filteredRecipes==='all'" class="filter-button align-things-center"
              (click)="filter('all')">
              All
            </button>
          </ion-col>
          <ion-col col-4 *ngFor="let item of recipeCategory" class="custom-col-4">
            <button ion-button round [class.filter-active]="filteredRecipes===item._id" class="filter-button align-things-center"
              (click)="filter(item._id)">
              {{ item.name }}
            </button>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </div>
    <ion-row class="col-12" *ngFor="let item of recipe | recipeCategory:filteredRecipes">
      <recipe-card [item]="item"></recipe-card>
    </ion-row>
    <ion-infinite-scroll *ngIf="moreRecipeFlag" (ionInfinite)="moreRecipe($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
</ion-content>
