<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="top-row">
      <ion-col col-11>
        <div class="ovrlay" (click)="prevStep()"></div>
        <searchbar (click)="searchPage()"></searchbar>
        <p class="example-text">
          <current-location [text]="'Current Location'" [page]="'explore-business'"></current-location>
        </p>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only class="add_btn" (click)="openMap()">
          <ion-icon name="map"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="flag">
    <ion-row class="align-things-center">
      <ion-col col-12>
        <div class="main-spinner"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!flag" style="margin-top: -40px;">
    <div *ngFor="let category of businessCategories">
      <business-category-card style="width: 100%;" [category]="category" [city]="city"></business-category-card>
    </div>
  </ion-grid>
</ion-content>
