<div class="card Inspiration-card border-0">
  <div class="card-header border-0 p-0 background-property" [ngStyle]="{ 'background-image': 'url(' + thumbnail + ')'}"
    (click)="openBlog()">
    <div class="row">
      <div class="col-4 align-self-start">
        <div *ngIf="blog.copyright === true; else showNoCopy" class="copyright">OC</div>
        <ng-template #showNoCopy>
          <div class="copyright">Shared</div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="card-body">
    <h3 (click)="openBlog()">{{ blog.title }}</h3>
    <p (click)="openBlog()" class="mb-0"> {{ blog.addedBy.name }} <span>/</span>
      {{ blog.timestamp | date:'mediumDate' }}</p>
    <button type="button" class="btn btn-primary mb-0 mt-2">
      {{ blog.category.name }}
    </button>
    <div class="bookmark-div" (click)="bookmark()">
      <img *ngIf="isBookmarked === true; else showNoBookmark" src="/assets/images/bookmark.svg">
      <ng-template #showNoBookmark>
        <img src="/assets/images/bookmark-grey.svg">
      </ng-template>
    </div>
  </div>
</div>