page-following {
  .searchbar-input {
    width: 100% !important;
    border-radius: 40px !important;
    height: 50px !important;
    font-size: 1.6rem !important;
    box-shadow: 0px 3px 13px 1px #b2b2b2 !important;

    @media screen and (min-width: 320px) {
      font-size: 0.9em !important;
      margin-left: 0px;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.0em !important;
    }

    @media screen and (min-width: 375px) and (min-height: 812px) {
      margin-top: 50px;
    }
  }

  .searchbar-ios {
    background: none !important;
    border-bottom: none !important;
  }

  .searchbar-ios .searchbar-search-icon {
    left: 7px;
    top: 12px;
    position: absolute;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 15px !important;

    @media screen and (min-width: 375px) and (min-height: 812px) {
      margin-top: 56px !important;
    }
  }

  .searchbar-search-icon {
    background-size: 22px !important;
    margin-left: 4px !important;
    margin-top: 5px !important;
  }

  .item-md h2 {
    font-size: 1em !important;
  }

  .card-background-page {
    ion-card {
      width: 100% !important;

      @media screen and (min-width: 360px) {
        height: 550px;
      }
    }

    .card-subtitle {
      position: absolute;
      top: 20%;
    }

    .main-iamge {
      width: 100%;
      margin: 0 auto;
      top: 200px !important;
      position: relative;
    }
  }
}
