<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="align-things-center" *ngIf="flag">
      <ion-col col-12>
        <div class="main-spinner"></div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!flag">
      <div *ngIf="followings.length>0" col-12>
        <ion-searchbar class="search-bar" (ionInput)="getItems($event)"></ion-searchbar>
        <section-header [text]="'People You Follow'"></section-header>
        <div col-12 *ngIf="!searchFlag">
          <ion-list *ngFor="let item of followings">
            <user-card [doc]="item"></user-card>
          </ion-list>
        </div>
        <div col-12 *ngIf="searchFlag">
          <ion-list *ngFor="let item of items">
            <user-card [doc]="item"></user-card>
          </ion-list>
        </div>
      </div>
    </ion-row>
  </ion-grid>

  <div class="card-background-page" *ngIf="!flag && followings.length==0">
    <ion-card class="align-things-center">
      <div class="card-title"> Oops! Nothing to show. </div>
      <div class="card-subtitle"> Start following people you know and see what they are up to. </div>
      <img class="main-iamge" src="assets/imgs/no-following.svg" />
    </ion-card>
  </div>
</ion-content>
