<ion-card class="article-card">
  <div class="main-slider-image" *ngIf="item.photo" (click)="showArticle(item.url)" [ngStyle]="{'background-image':'url('+ item.photo.thumb400Url +')'}"></div>
  <ion-row class="article-info">
    <ion-col col-12 (click)="showArticle(item.url)">
      <h2 class="article-heading capitalize">{{ articleName }}</h2>
    </ion-col>
    <ion-col col-12 (click)="showArticle(item.url)">
      <h4 class="article-author capitalize" *ngIf="item.author"> {{ item.author }} / {{ item.date | date }} </h4>
      <h4 class="article-author capitalize" *ngIf="item.addedBy"> {{ item.addedBy.name }} / {{ item.date | date }} </h4>
    </ion-col>
    <ion-col col-12>
      <div class="category" (click)="showArticle(item.url)">
        <button>
          {{ item.category.name }}
        </button>
      </div>
      <div class="bookmark-fab" (click)="bookmark()">
        <bookmark [flag]="isBookmarked?.flag"></bookmark>
      </div>
    </ion-col>
  </ion-row>
</ion-card>