<ion-content>
  <div class="container-fluid mb-4 container-padding">
    <div class="row">
      <div class="col-11 m-auto">
        <div class="row">
          <div class="col-10 m-auto">
            <div class="row">
              <div class="col-4">
                <div
                  class="profile-img background-property ml-auto mr-auto"
                  (click)="openEditProfile()"
                ></div>
                <div class="mt-4 profileimg-row">
                  <div class="row">
                    <div
                      class="col-6 border-right vertical-center text-center bean-col"
                    >
                      <div>
                        <img
                          src="./../../../assets/images/level01.png"
                          alt=""
                        />
                        <p class="mb-0">Bean</p>
                      </div>
                    </div>
                    <div class="col-6 vertical-center level-col text-center">
                      <div>
                        <h1>2,076,452</h1>
                        <p class="mb-0">Level 20</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-8 profile-info">
                <div class="d-flex">
                  <h1 class="mb-0">Clark lee</h1>
                  <button type="button" class="btn btn-primary follow-button">
                    Follow
                  </button>
                </div>
                <ul class="follower-locationlist pl-0">
                  <li>
                    <h2>
                      <span
                        ><img
                          src="./../../../assets/images/maps-and-flags.svg"/></span
                      >Tampa, FL
                    </h2>
                  </li>
                  <li>
                    <h2><span>354</span>Followers</h2>
                  </li>
                  <li>
                    <h2><span>200</span>Following</h2>
                  </li>
                </ul>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Quibusdam nam qui beatae, dolores illo, asperiores est tenetur
                  maxime eos ullam ratione molestiae ducimus? Est in totam
                  quidem soluta ex quam.
                </p>
                <div class="preferences-div">
                  <h2>Preference</h2>
                  <ul class="pl-0 preference-list">
                    <li>
                      <div class=" vertical-center preferences-imgdiv">
                        <img
                          src="./../../../assets/images/value_vegan_green.svg"
                        />
                      </div>
                      <h2>Vegetaria</h2>
                    </li>
                    <li>
                      <div class=" vertical-center preferences-imgdiv">
                        <img
                          src="./../../../assets/images/value_glutenFree_green.svg"
                        />
                      </div>
                      <h2>Gluten Free</h2>
                    </li>
                    <li>
                      <div class=" vertical-center preferences-imgdiv">
                        <img
                          src="./../../../assets/images/value_fairTrade_green.svg"
                        />
                      </div>
                      <h2>Fair Trade</h2>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border-top profile-subnav bg-light">
      <div class="row">
        <div class="col-10 m-auto">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="#"
                ><button type="button" class="btn btn-secondary">
                  Recipes
                </button></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Recommended Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">vlog</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row recipe-row">
      <div class="col-11 m-auto pl-0 pr-0">
        <div class="row">
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img1 background-property">
                  <div class="bookmark-div">
                    <img src="./../../../assets/images/bookmark.svg" />
                  </div>
                </div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0">245 Likes</p>
                  </div>
                  <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                  <div class="recipe-uploadergrid">
                    <div
                      class="recipe-uploaderimg recipe-uploaderimg1 background-property"
                    ></div>
                    <div class="recipe-uploadername">
                      <h2 class="mb-0">Dulcineia Dias</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img2 background-property">
                  <div class="bookmark-div">
                    <img src="./../../../assets/images/bookmark.svg" />
                  </div>
                </div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0">245 Likes</p>
                  </div>
                  <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                  <div class="recipe-uploadergrid">
                    <div
                      class="recipe-uploaderimg recipe-uploaderimg2 background-property"
                    ></div>
                    <div class="recipe-uploadername">
                      <h2 class="mb-0">Dulcineia Dias</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img3 background-property">
                  <div class="bookmark-div">
                    <img src="./../../../assets/images/bookmark.svg" />
                  </div>
                </div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0">245 Likes</p>
                  </div>
                  <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                  <div class="recipe-uploadergrid">
                    <div
                      class="recipe-uploaderimg recipe-uploaderimg3 background-property"
                    ></div>
                    <div class="recipe-uploadername">
                      <h2 class="mb-0">Dulcineia Dias</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img1 background-property">
                  <div class="bookmark-div">
                    <img src="./../../../assets/images/bookmark.svg" />
                  </div>
                </div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0">245 Likes</p>
                  </div>
                  <h3>Coconut Mint Fresh</h3>
                  <div class="recipe-uploadergrid">
                    <div
                      class="recipe-uploaderimg recipe-uploaderimg1 background-property"
                    ></div>
                    <div class="recipe-uploadername">
                      <h2 class="mb-0">Dulcineia Dias</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img2 background-property">
                  <div class="bookmark-div">
                    <img src="./../../../assets/images/bookmark.svg" />
                  </div>
                </div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0">245 Likes</p>
                  </div>
                  <h3>Coconut Mint Fresh</h3>
                  <div class="recipe-uploadergrid">
                    <div
                      class="recipe-uploaderimg recipe-uploaderimg2 background-property"
                    ></div>
                    <div class="recipe-uploadername">
                      <h2 class="mb-0">Dulcineia Dias</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img3 background-property">
                  <div class="bookmark-div">
                    <img src="./../../../assets/images/bookmark.svg" />
                  </div>
                </div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0">245 Likes</p>
                  </div>
                  <h3>Coconut Mint Fresh</h3>
                  <div class="recipe-uploadergrid">
                    <div
                      class="recipe-uploaderimg recipe-uploaderimg3 background-property"
                    ></div>
                    <div class="recipe-uploadername">
                      <h2 class="mb-0">Dulcineia Dias</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img1 background-property">
                  <div class="bookmark-div">
                    <img src="./../../../assets/images/bookmark.svg" />
                  </div>
                </div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0">245 Likes</p>
                  </div>
                  <h3>Coconut Mint Fresh</h3>
                  <div class="recipe-uploadergrid">
                    <div
                      class="recipe-uploaderimg recipe-uploaderimg1 background-property"
                    ></div>
                    <div class="recipe-uploadername">
                      <h2 class="mb-0">Dulcineia Dias</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img2 background-property">
                  <div class="bookmark-div">
                    <img src="./../../../assets/images/bookmark.svg" />
                  </div>
                </div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0">245 Likes</p>
                  </div>
                  <h3>Coconut Mint Fresh</h3>
                  <div class="recipe-uploadergrid">
                    <div
                      class="recipe-uploaderimg recipe-uploaderimg2 background-property"
                    ></div>
                    <div class="recipe-uploadername">
                      <h2 class="mb-0">Dulcineia Dias</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
