<ion-content padding>
  <button ion-button icon-only class="notification-icon top-row" (click)="showNotification()">
    <ion-icon name="notifications" class="notification-ion-icon"></ion-icon>
    <ion-badge id="notifications-badge">
      {{count > 0 ? count : null}}
    </ion-badge>
  </button>
  <ion-grid>
    <ion-grid style="text-align: center;">
      <ion-row>
        <profile-image *ngIf="user.photo; else showDummyImage" [src]="user.photo.thumb400Url"></profile-image>
        <ng-template #showDummyImage>
          <profile-image [src]="'assets/imgs/defaultUser.png'"></profile-image>
        </ng-template>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <h4 class="profile-name">{{ user.name }}</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="location" *ngIf="currentLocation">
            <ion-icon ios="md-navigate" md="md-navigate" class="navi"></ion-icon> {{ currentLocation.city }}, {{
            currentLocation.state }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button round outline class="my-button" (click)="openMyPage()">My Page</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="personalized-button" (click)="editProfile()">
        <ion-col col-2 class="align-things-center">
          <img src="assets/icon/custom/pencil.png">
        </ion-col>
        <ion-col col-8>
          <p>Edit my profile</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="setting-list">
      <ion-row class="normal-list" (click)="openPoints()">
        <ion-col col-2>
          <img src="assets/icon/custom/star.png">
        </ion-col>
        <ion-col col-8>
          <p>My Points</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="normal-list" (click)="openFollowing()">
        <ion-col col-2><img src="assets/icon/custom/follow.png"></ion-col>
        <ion-col col-8>
          <p>People I follow</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="normal-list" (click)="openInvitation()">
        <ion-col col-2>
          <img src="assets/icon/custom/bell.png">
        </ion-col>
        <ion-col col-8>
          <p>Refer & Earn</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row> -->
    </ion-grid>
    <ion-grid class="setting-list">
      <ion-row class="normal-list" (click)="editAccount()">
        <ion-col col-2>
          <img src="assets/icon/custom/man.png">
        </ion-col>
        <ion-col col-8>
          <p>Account</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="setting-list">
      <ion-row class="normal-list" (click)="openFeedback()">
        <ion-col col-2>
          <img src="assets/icon/custom/call.png">
        </ion-col>
        <ion-col col-8>
          <p>Suggest Improvements </p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="normal-list" (click)="openPrivacy()">
        <ion-col col-2>
          <img src="assets/icon/custom/lock.png">
        </ion-col>
        <ion-col col-8>
          <p>Privacy Policy</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
      <!-- <ion-row class="normal-list">
        <ion-col col-2>
          <img src="assets/icon/custom/paper.png">
        </ion-col>
        <ion-col col-8>
          <p>Terms of Service</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row> -->
    </ion-grid>
    <ion-grid class="setting-list">
      <ion-row class="normal-list" (click)="logout(item?.id?item.id:item?.latestPost?.docId)">
        <ion-col col-2>
          <img src="assets/icon/custom/exit.png">
        </ion-col>
        <ion-col col-8>
          <p>Sign Out</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="end-text">Naturehub Version 1.0.0</p>
  </ion-grid>
</ion-content>
