page-profile {
  text-align: center;

  .verify {
    color: red;
  }

  a {
    text-decoration: underline;
  }

  .location {
    @media screen and (min-width: 320px), screen and (min-width: 360px) {
      font-size: 1.3rem;
      margin-top: -20px;
    }
  }

  profile-image {
    margin: 0 auto;
  }

  .navi {
    color: #b2b2b2;
    margin-right: 5px;
  }

  .my-button {
    font-size: 1.5rem;
    color: $other-color;
    border-color: $other-color;
    width: 35%;
    margin-top: -10px;
    background-color: transparent;

    @media screen and (min-width: 320px) {
      font-size: 1.0rem;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 375px) {
      font-size: 1.3rem;
    }

    @media screen and (min-width: 375px) and (min-height: 812px) {
      font-size: 1.5rem;
    }
  }


  .card-block {
    box-shadow: none;
  }

  .icon-list {
    color: $secondary-color !important;
  }

  .end-text {
    color: #b2b2b2;
    text-align: center;
    font-size: 15px;

    @media screen and (min-width: 320px) {
      font-size: 12px;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 375px) {
      font-size: 1.5rem !important;
    }
  }

  .personalized-button {
    color: $secondary-color;
    border-radius: 50px;
    box-shadow: 0px 3px 5px #b2b2b2;
    border: none;
    font-size: 16px;

    @media screen and (min-width: 320px) {
      font-size: 12px;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 375px) {
      font-size: 1.4rem;
    }

    @media screen and (min-width: 375px) and (min-height: 812px) {
      font-size: 16px;
    }
  }

  .personalized-button p {
    float: left;
  }

  .personalized-button img {
    width: 20px;
    // float: right;
    margin-top: 10px;
    margin-left: 5px;
  }

  .personalized-button p,
  .personalized-button ion-icon {
    margin: 0px;
    padding: 10px;
  }

}
