<div class="card popular-placescard border-0" (click)="openProduct()">
  <div class="card-header border-0 p-0 background-property" [ngStyle]="{ 'background-image': 'url(' + thumbnail + ')'}">
    <div class="bookmark-div">
      <img *ngIf="isBookmarked === true; else showNoBookmark" src="/assets/images/bookmark.svg">
      <ng-template #showNoBookmark>
        <img src="/assets/images/bookmark-grey.svg">
      </ng-template>
    </div>
  </div>
  <div class="card-body">
    <button type="button" class="btn btn-primary">{{ product.category.name }}</button>
    <h3>{{ product.name }}</h3>
    <div class="recipe-uploadergrid">
      <div class="recipe-uploaderimg background-property" [ngStyle]="{ 'background-image': 'url(' + userImage + ')'}">
      </div>
      <div class="recipe-uploadername">
        <h2 class="mb-0">{{ product.addedBy.name }}</h2>
      </div>
    </div>
  </div>
</div>