<div class="container-fluid">
  <div class="row main-content">
    <div class="col-11 m-auto">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-4 main-heading">How you feel like today, {{ username }}?</h2>
          <div class="d-flex mt-4">
            <div class="background-property feel-likeimg likeimg1">
              <h2 class="feel-likeheading text-center mb-0">Eat Local</h2>
            </div>
            <div class="background-property feel-likeimg likeimg2">
              <h2 class="feel-likeheading text-center mb-0">Ask Something</h2>
            </div>
            <div class="background-property feel-likeimg likeimg3">
              <h2 class="feel-likeheading text-center mb-0">Get Inspiration</h2>
            </div>
            <div class="background-property feel-likeimg likeimg4">
              <h2 class="feel-likeheading text-center mb-0" (click)="addList()">Add A List</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h2 class="mt-4 main-heading">Find Good, Find Green, Find Local<sup>TM</sup></h2>
          <div class="row location-grid">
            <div class="col-8">
              <div class="row">
                <div class="col-2">
                  <img src="/assets/images/location.svg" alt="">
                </div>
                <div class="col-10" style="padding-left: 0;">
                  <input type="text" [(ngModel)]="place" placeholder="Type city name"
                    class="form-control pl-0 input_style" autocorrect="off" autocapitalize="off" spellcheck="off"
                    #search>
                </div>
              </div>
            </div>
            <div class="col-4">
              <span class="change-location">Change Location</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-11 pr-0">
          <div class="horizontal-scroll w-100 p-1 mt-4">
            <div class="d-inline-flex">
              <div class="card border-0 find-cards text-center">
                <div class="card-body p-2">
                  <img src="/assets/images/category/cafe.svg" alt="">
                  <p class="mb-0">Cafe</p>
                </div>
              </div>
              <div class="card border-0 find-cards text-center">
                <div class="card-body p-2">
                  <img src="/assets/images/category/restrautant.svg" alt="">
                  <p class="mb-0">Restaurant</p>
                </div>
              </div>
              <div class="card border-0 find-cards text-center">
                <div class="card-body p-2">
                  <img src="/assets/images/category/grocery.svg" alt="">
                  <p class="mb-0">Grocery</p>
                </div>
              </div>
              <div class="card border-0 find-cards text-center">
                <div class="card-body p-2">
                  <img src="/assets/images/category/health.svg" alt="">
                  <p class="mb-0">Health</p>
                </div>
              </div>
              <div class="card border-0 find-cards text-center">
                <div class="card-body p-2">
                  <img src="/assets/images/category/produce.svg" alt="">
                  <p class="mb-0">Artisan Produce</p>
                </div>
              </div>
              <div class="card border-0 find-cards text-center">
                <div class="card-body p-2">
                  <img src="/assets/images/category/farmer.svg" alt="">
                  <p class="mb-0">Farmers' Market</p>
                </div>
              </div>
              <div class="card border-0 find-cards text-center">
                <div class="card-body p-2">
                  <img src="/assets/images/category/bath.svg" alt="">
                  <p class="mb-0">Bath & Beauty</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 more-col">
          <img src="/assets/images/moreBtn.svg" class="more-btn float-right d-block">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="mt-4 main-heading">Popular Places Near You<span class="show-more" (click)="exploreBusiness()">Show
              More <img src="/assets/images/arrow-pointing-to-right.svg"></span></h2>
          <div class="row">
            <div class="col-11 pr-0">
              <div class="horizontal-scroll w-100 p-1 mt-4">
                <div class="d-inline-flex">
                  <div class="card popular-placescard border-0" *ngFor="let business of businesses">
                    <app-business-card [business]="business"></app-business-card>
                  </div>
                  <div class="card add-popular-placescard border-0" (click)="addBusiness()">
                    <img class="add-icon" src="/assets/images/addIcon.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 more-col">
              <img src="/assets/images/moreBtn.svg" class="more-btn float-right d-block">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="mt-4 main-heading">Local Must Visit<span><button type="button"
                class="btn btn-outline-primary btn-sm">Sponsored</button></span></h2>
          <div class="row">
            <div class="col-11 pr-0">
              <div class="horizontal-scroll w-100 p-1 mt-4">
                <div class="d-inline-flex">
                  <div class="card local-mustcard border-0">
                    <div class="card-header border-0 p-0 local-img4 background-property">
                    </div>
                    <div class="card-body">
                      <button type="button" class="btn btn-primary">Cafe</button>
                      <h3>Lotus Park Cafe </h3>
                      <p class="mb-0">Gluten-free food</p>
                    </div>
                  </div>
                  <div class="card local-mustcard border-0">
                    <div class="card-header border-0 p-0 local-img5 background-property">
                    </div>
                    <div class="card-body">
                      <button type="button" class="btn btn-primary">Grocery</button>
                      <h3>Downtown Co-up Organic Artiisan's Grocery</h3>
                      <p class="mb-0">Organic & Fresh Vegetable </p>
                    </div>
                  </div>
                  <div class="card local-mustcard border-0">
                    <div class="card-header border-0 p-0 local-img4 background-property">
                    </div>
                    <div class="card-body">
                      <button type="button" class="btn btn-primary">Cafe</button>
                      <h3>Lotus Park Cafe </h3>
                      <p class="mb-0">Gluten-free food</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 more-col">
              <img src="/assets/images/moreBtn.svg" class="more-btn float-right d-block">
            </div>
          </div>
        </div>
      </div>
      <a class="learn-tag" href="https://naturehub.com">
        <div class="row mt-2">
          <div class="col-6">
            <div class="background-property naturehub-cards naturehub-card1">
              <h2 class="mb-0">Learn more<br>
                about<br>
                Naturehub
              </h2>
            </div>
          </div>
          <div class="col-6">
            <div class="background-property naturehub-cards naturehub-card2">
              <button type="button" class="btn btn-success">Invite More Friends</button>
            </div>
          </div>
        </div>
      </a>
      <div class="row">
        <div class="col-12">
          <h2 class="mt-4 main-heading">Recipes You Should Try<span class="show-more" (click)="exploreRecipes()">Show
              More <img src="/assets/images/arrow-pointing-to-right.svg"></span>
          </h2>
          <div class="row">
            <div class="col-11 pr-0">
              <div class="horizontal-scroll w-100 p-1 mt-4">
                <div class="d-inline-flex">
                  <div>
                    <div class="border-0 recipe-card" *ngFor="let recipe of recipes | slice: 0:2">
                      <app-recipe-card [recipe]="recipe"></app-recipe-card>
                    </div>
                  </div>
                  <div>
                    <div class="border-0 recipe-card" *ngFor="let recipe of recipes | slice: 3:5">
                      <app-recipe-card [recipe]="recipe"></app-recipe-card>
                    </div>
                  </div>
                  <div>
                    <div class="border-0 recipe-card">
                      <div class="border-0 recipe-card" *ngFor="let recipe of recipes | slice: 6:7">
                        <app-recipe-card [recipe]="recipe"></app-recipe-card>
                      </div>
                    </div>
                    <div class="card border-0 recipe-add-card" (click)="addRecipe()">
                      <img class="add-icon" src="/assets/images/addIcon.svg">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 more-col">
              <img src="/assets/images/moreBtn.svg" class="more-btn float-right d-block">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2 class="mt-4 main-heading">Popular Alternative Products<span class="show-more"
              (click)="exploreProducts()">Show More <img src="/assets/images/arrow-pointing-to-right.svg"></span></h2>
          <div class="row">
            <div class="col-11 pr-0">
              <div class="horizontal-scroll w-100 p-1 mt-4">
                <div class="d-inline-flex">
                  <div class="card popular-placescard border-0" *ngFor="let product of products">
                    <app-product-card [product]="product"></app-product-card>
                  </div>
                  <div class="card add-popular-placescard border-0" (click)="addProduct()">
                    <img class="add-icon" src="/assets/images/addIcon.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 more-col">
              <img src="/assets/images/moreBtn.svg" class="more-btn float-right d-block">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-6">
          <div class="add-cards background-property add-cardimg1">
            <h2>Have some healthy, toxic free, or eco-friendly recipes to share?</h2>
            <button type="button" class="btn btn-secondary">
              <a href="/add/recipe" class="add-button">
                Add my recipe
              </a>
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="add-cards background-property add-cardimg2">
            <h2>We invite you to join to our community discussion. You can be the one influence....</h2>
            <button type="button" class="btn btn-secondary">Yes, I am in</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>