<ion-content padding>
  <ion-grid>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>

    <!-- Omnie Search -->
    <ion-row class="top-row">
      <ion-col col-11 class="search-bar">
        <searchbar [input]="''" (click)="searchPage()"></searchbar>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only class="add_btn" (click)="chooseOptions()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <!-- Current Location -->
    <ion-row class="location-button">
      <ion-col col-1>
        <ion-icon name="pin" class="inner-icon" item-start></ion-icon>
      </ion-col>
      <ion-col col-6>
        <p *ngIf="currentLocation">{{ currentLocation?.city }}, {{ currentLocation?.state }}</p>
        <p *ngIf="!currentLocation">No Location Found</p>
      </ion-col>
      <ion-col col-5 class="change-location" (click)="changeLocation()">
        <p>Change Location</p>
      </ion-col>
    </ion-row>

    <!-- Loading Spinner -->
    <ion-row class="align-things-center" *ngIf="flag">
      <ion-col col-12>
        <div class="main-spinner"></div>
      </ion-col>
    </ion-row>

    <!-- Business categories -->
    <ion-scroll scrollX="true" *ngIf="!flag && businesses && businesses?.length > 0" class="guide-scroll" [ngStyle]="{'height': categoryScrollHeight}">
      <ion-row nowrap *ngIf="businessCategory">
        <ion-col *ngFor="let item of businessCategory" class="cus-col-4" (click)="openCategory(item?._id)">
          <ion-card class="category-card">
            <ion-row class="icon-row">
              <ion-col col-12>
                <img [src]="item?.iconUrl" class="align-things-center" height="68" width="100">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12 class="align-things-center">
                <p class="category-name">{{ item?.name }}</p>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-scroll>

    <!-- Guides Section -->
    <ion-row *ngIf="!flag && guides && guides?.length > 0">
      <section-header [text]="'Guide For Newbies'"></section-header>
    </ion-row>
    <div *ngIf="!flag && guides && guides?.length > 0">
      <ion-scroll scrollX="true" class="guide-scroll" [ngStyle]="{'height': guideScrollHeight}">
        <ion-row nowrap>
          <ion-col class="custom-col-12" *ngFor="let guide of guides">
            <ion-card class="guide-card">
              <ion-card-content>
                <ion-card-title class="card-header">
                  {{ guide?.name }}
                </ion-card-title>
                <p class="card-para">
                  {{ guide?.description }}
                </p>
                <button ion-button round small outline class="learn-button" (click)="showGuide(guide?.link)">
                  Learn More
                </button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </div>

    <!-- User points -->
    <ion-row *ngIf="!flag && userLevel">
      <section-header [text]="'Points you earned'"></section-header>
    </ion-row>
    <ion-row class="align-things-center" style="margin: 2px;" *ngIf="!flag && userLevel">
      <ion-col col-12>
        <ion-card class="points-card align-things-center" (click)="openPoints()">
          <ion-row>
            <ion-col col-3 class="align-things-center">
              <img style="border-radius: 50% !important;" class="level-icon" [src]="userLevel?.icon">
              <p class="level-name">{{ userLevel?.name }}</p>
            </ion-col>
            <ion-col col-6 class="align-things-center">
              <p class="points">
                <span class="current-point">{{ userPoint }}</span> /
                <span class="total-point">{{ userLevel?.endPoint }}</span>
              </p>
              <div>
                <div class="loader fl"></div>
                <div class="loader" [ngStyle]="{'width': (userPoint/userLevel?.endPoint)*100 + '%'}"></div>
              </div>
              <p class="level">Level {{ userLevel?.level }}</p>
            </ion-col>
            <ion-col col-3 class="align-things-center">
              <img class="level-icon" src="assets/imgs/badgeNextLevel.svg">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Popular Businesses -->
    <ion-row *ngIf="!flag && businesses && businesses?.length > 0">
      <section-header [text]="'Popular places near you'"></section-header>
    </ion-row>
    <ion-scroll class="guide-scroll" scrollX="true" *ngIf="!flag && businesses && businesses?.length > 0" [ngStyle]="{ 'height': businessScrollHeight }"
      style="margin-bottom: 20px; overflow-x: hidden">
      <ion-row style="align-items: stretch" nowrap>
        <ion-col *ngFor="let item of businesses" style="align-items: stretch" class="popular-business custom-col">
          <business-card [item]="item"></business-card>
        </ion-col>
      </ion-row>
    </ion-scroll>
    <ion-row *ngIf="!flag && businesses && businesses?.length>3">
      <ion-col col-12 class="show-button">
        <button col-12 (click)='exploreAllBusinesses()'>Show all</button>
      </ion-col>
    </ion-row>

    <!-- Popular Recipes -->
    <ion-row *ngIf="!flag && recipes && recipes?.length > 0">
      <section-header [text]="'Popular Recipes'"></section-header>
    </ion-row>

    <ion-scroll class="guide-scroll" scrollX="true" *ngIf="!flag && recipes && recipes?.length > 0" [ngStyle]="{'height': recipeScrollHeight}">
      <div nowrap class="row">
        <ion-col col-12 class="custom-col-12" nowrap *ngFor="let item of recipes | slice:0:4">
          <recipe-card [item]="item"></recipe-card>
        </ion-col>
      </div>
      <div nowrap class="row">
        <ion-col col-12 class="custom-col-12" nowrap *ngFor="let item of recipes | slice:-4">
          <recipe-card [item]="item"></recipe-card>
        </ion-col>
      </div>
    </ion-scroll>
    <ion-row *ngIf="!flag && recipes && recipes?.length>7">
      <ion-col col-12 class="show-button">
        <button col-12 (click)='exploreAllRecipes()'>Show all</button>
      </ion-col>
    </ion-row>

    <!-- Hunted Products -->
    <ion-row style="margin-top: 35px;" *ngIf="!flag && products && products?.length>0">
      <section-header [text]="'Popular Products'"></section-header>
    </ion-row>

    <ion-scroll class="guide-scroll" *ngIf="!flag && products && products?.length>0" scrollX="true" [ngStyle]="{'height': productScrollHeight}">
      <div nowrap class="row">
        <ion-col class="custom-col popular-hunted-products" nowrap *ngFor="let item of products">
          <product-card [item]="item"></product-card>
        </ion-col>
      </div>
    </ion-scroll>
    <ion-row *ngIf="!flag && products && products?.length>3">
      <ion-col col-12 class="show-button">
        <button col-12 (click)='exploreAllProducts()'>Show all</button>
      </ion-col>
    </ion-row>

    <!-- Recnet Posts -->
    <!-- <ion-row *ngIf="!flag && following.length>0" style="margin-top: 20px;">
      <section-header [text]="'Recent Posts'"></section-header>
    </ion-row>
    <ion-scroll class="guide-scroll" scrollX="true" style="height: 170px;" *ngIf="!flag && following.length>0">
      <div class="row" nowrap>
        <ion-col class="custom-col-6" nowrap *ngFor="let item of following">
          <post-card [item]="item"></post-card>
        </ion-col>
      </div>
    </ion-scroll> -->

    <!-- Article categories -->
    <ion-row *ngIf="!flag && articlesCategories && articlesCategories?.length > 0">
      <section-header [text]="'Topics'"></section-header>
    </ion-row>
    <ion-scroll scrollX="true" *ngIf="!flag && articlesCategories && articlesCategories?.length > 0" class="guide-scroll"
      style="height:100px">
      <ion-row nowrap>
        <ion-col col-12 *ngFor="let item of articlesCategories" class="custom-col-12" (click)="openArticleCat(item)">
          <ion-card class="article-topics">
            <ion-card-content>
              <div class="card-title article-header">
                {{ item?.name }}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-scroll>

    <!-- Articles Cards -->
    <ion-row *ngIf="!flag && articles && articles?.length > 0">
      <section-header [text]="'Daily Inspiration For You'"></section-header>
    </ion-row>
    <ion-scroll *ngIf="!flag && articles && articles?.length > 0" scrollX="true" class="guide-scroll" [ngStyle]="{'height': guideScrollHeight}">
      <ion-row nowrap class="row">
        <ion-col class="custom-col-12" nowrap *ngFor="let object of articles">
          <article-card [item]="object"></article-card>
        </ion-col>
      </ion-row>
    </ion-scroll>

    <!-- Fact Cards -->
    <!-- <ion-row *ngIf="!flag">
      <section-header [text]="'Fact Cards'"></section-header>
    </ion-row>
    <div *ngIf="!flag && cards | async; let card">
      <ion-scroll scrollX="true" *ngIf="card.length>0; else showCard" class="guide-scroll" [ngStyle]="{'height': factsScrollHeight}">
        <ion-row nowrap>
          <ion-col col-12 *ngFor="let item of card" class="custom-col-12">
            <fact-card [colId]="factCardColId" [item]="item"></fact-card>
          </ion-col>
        </ion-row>
      </ion-scroll>
      <ng-template #showCard>
        <ion-card class="addCard align-things-center" style="margin-bottom: 20px;">
          <ion-card-content>
            <p>Oops! There are no fact cards <br /> available for you. </p>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </div> -->
  </ion-grid>
</ion-content>
