<ion-card class="product-card">
  <div *ngIf="item.photos && item.photos.length>0; else showDummy" class="product-slider-image" [ngStyle]="{'background-image':'url('+ item.photos[0].thumb400Url +')'}" (click)="openProduct()"></div>
  <ng-template #showDummy>
    <div class="product-slider-image" [ngStyle]="{'background-image':'url(assets/imgs/default_image_company.png)'}" (click)="openProduct()"></div> 
  </ng-template>
  <div class="bookmark-fab" (click)="bookmark()">
    <bookmark [flag]="isBookmarked?.flag"></bookmark>
  </div>
  <ion-row class="product-details" (click)="openProduct()" col-12>
    <ion-col col-12>
      <div class="category same-line">
        <button>
          {{ item.category.name }}
        </button>
      </div>
      <div *ngIf="item.sponsered" class="sponsered same-line">
        <img src="assets/imgs/sponsorLabelIcon.svg" height="30" width="30">
      </div>
    </ion-col>
    <ion-col style="text-transform: capitalize" class="product-title" col-12>
      <h2>{{ productName }}</h2>
    </ion-col>
    <ion-row class="posted-by" col-12 *ngIf="item.addedBy; else showNHStuff">
      <ion-col col-3>
        <div class="avatar" *ngIf="item.addedBy.photo; else showDummyImage" [ngStyle]="{'background-image':'url('+ item.addedBy.photo.thumb200Url +')'}"></div>
        <ng-template #showDummyImage>
          <div class="avatar" [ngStyle]="{'background-image':'url(assets/imgs/defaultUser.png)'}"></div>
        </ng-template>
      </ion-col>
      <ion-col col-9 class="username">
        <h2>{{ item.addedBy.name }}</h2>
      </ion-col>
    </ion-row>
    <ng-template #showNHStuff>
      <ion-row class="posted-by" col-12>
        <ion-col col-3>
          <div class="avatar" [ngStyle]="{'background-image':'url(assets/imgs/defaultIcon.png)'}"></div>
        </ion-col>
        <ion-col col-9 class="username">
          <h2>Naturehub Staff</h2>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-row>
</ion-card>