<div class="container-fluid">
  <div class="row" style="height: 100vh;">
    <div class="col-3">
      <div class="page-sidebar expandit">
        <div class="sidebar-inner" id="main-menu-wrapper">
          <ul class="wraplist" style="height: auto;">
            <li><a href="/settings/account"> <span class="menu-title">Account</span></a></li>
            <li><a href="/settings/security"> <span class="menu-title">Security</span></a></li>
            <li><a href="/settings/newsletter"> <span class="menu-title">Newsletter</span></a></li>
            <li><a href="/settings/notifications"> <span class="menu-title active">Notification</span></a></li>
            <li><a href="/settings/report"> <span class="menu-title">Report</span></a></li>
            <!-- <li><a href="/settings/data-expert"><span class="menu-title">Data Export</span></a></li> -->
            <li><a href="/settings/deactive-account"> <span class="menu-title">Deactivate Account</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <section id="main-content">
        <section class="wrapper main-wrapper row">
          <div class="col-md-6">
            <section class="box">
              <h3 class="heading">Notification</h3>
              <p style="font-size:18px; font-weight:bold;">Customize your networking notification setting.</p>

              <label class="main">Notify me when people follow me.
                <input type="checkbox" checked="checked">
                <span class="geekmark"></span>
              </label>

              <label class="main">Notify me when people join group I created.
                <input type="checkbox" checked="checked">
                <span class="geekmark"></span>
              </label>

              <label class="main">Notify me when people I follow post something.
                <input type="checkbox" checked="checked">
                <span class="geekmark"></span>
              </label>

              <label class="main">Notify me when people xxxx
                <input type="checkbox" checked="checked">
                <span class="geekmark"></span>
              </label>

              <BR><BR>
              <P style="font-size:18px; font-weight:bold;">Customize NatureHub official notification settings.</P>
              <label class="main">Official announcement(Discount, update, campaign..etc)
                <input type="checkbox" checked="checked">
                <span class="geekmark"></span>
              </label>

            </section>
          </div>
        </section>
      </section>
    </div>
  </div>
  <app-footer></app-footer>
</div>