<ion-card>
  <ion-row *ngFor="let time of timings">
    <ion-col col-4>
      <ion-item>
        <ion-input value="time.day" [(ngModel)]="time.day"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-col col-2>
        <select name="status" [(ngModel)]="time.status">
          <option value='open'>Open
          </option>
          <option value='close'>Close
          </option>
        </select>
      </ion-col>
    </ion-col>
    <ion-col col-4>
      <ion-item>
        <ion-label stacked color="primary">From</ion-label>
        <ion-input type="time" placeholder="Enter Time" [(ngModel)]="time.from" required="required"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-2>
      <ion-item>
        <ion-label stacked color="primary">To</ion-label>
        <ion-input type="time" placeholder="Enter Time" [(ngModel)]="time.to" required="required"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
      <button ion-button full (click) = "save(timings)">Save</button>
  </ion-row>
</ion-card>