<ion-content padding>
  <!-- Refresher -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading Spinner -->
  <ion-grid class="align-things-center" *ngIf="pageLoadFlag">
    <ion-row col-12 class="align-things-center">
      <ion-col col-12>
        <div class="main-spinner"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!pageLoadFlag">
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="homePage()">
        <img src="assets/icon/custom/back_arrow.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-9>
        <div class="same-line">
          <button ion-button round small id="businessCategory" class="business-tag" (click)="openCategory()">
            {{ business.category.name }}
          </button>
        </div>
        <div class="same-line business-like like" (click)="like()">
          <ion-icon *ngIf="!isLiked?.flag; else elseBlock" ios="ios-heart-outline" md="md-heart-outline" class="heart-icon"
            [ngStyle]="{'color': '#9F9F9F'}"></ion-icon>
          <ng-template #elseBlock>
            <ion-icon ios="ios-heart" md="md-heart" class="heart-icon" [ngStyle]="{'color': '#FF6260'}"></ion-icon>
          </ng-template>
          <span id="count">{{ business.likes }} </span>
        </div>
      </ion-col>
      <ion-col col-3 class="align-things-right">
        <div class="bookmark-button" (click)="bookmark()">
          <ion-icon *ngIf="!isBookmarked?.flag; else elseBlocked" ios="ios-bookmark" md="md-bookmark" [ngStyle]="{'color': '#9F9F9F'}"
            class="bookmark-icon"></ion-icon>
          <ng-template #elseBlocked>
            <ion-icon ios="ios-bookmark" md="md-bookmark" class="bookmark-icon" [ngStyle]="{'color': '#FF6260'}"></ion-icon>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="business.photos.length>0; else viewDiv">
      <ion-slides>
        <ion-slide col-12 *ngFor="let image of business.photos; let i = index">
          <div class="main-slider-image" easing="ease-out" [ngStyle]="{'background-image':'url('+ image.thumb400Url +')'}"
            (click)="openImage(i)">
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ng-template #viewDiv>
      <div class="main-slider-image" [ngStyle]="{'background-image':'url(assets/imgs/default_image_slider.png)'}">
      </div>
    </ng-template>
    <ion-scroll *ngIf="business.photos.length>0; else showDiv" class="thumbnail-image-slider" scrollX="true" style="height: 115px;">
      <ion-row nowrap>
        <ion-col *ngFor="let image of business.photos; let i = index" col-3>
          <div class="slider-thumbnail" [ngStyle]="{'background-image':'url('+ image.thumb200Url +')'}" (click)="openSlider(i)">
          </div>
        </ion-col>
      </ion-row>
    </ion-scroll>
    <ng-template #showDiv>
      <ion-scroll class="thumbnail-image-slider" scrollX="true" style="height: 115px;">
        <ion-row nowrap>
          <ion-col col-3>
            <div class="slider-thumbnail" [ngStyle]="{'background-image':'url(assets/imgs/default_image_company.png)'}">
            </div>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </ng-template>
    <ion-row>
      <ion-col class="business-name" col-12>
        <h1>{{ business.name }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5>
        <h5>
          <b>Number</b>
        </h5>
        <p id="phone" class="value-item">{{ business.phone }}</p>
      </ion-col>
      <ion-col offset-5 col-2>
        <img class="call-button" src="assets/imgs/phone.png" (click)="call()">
      </ion-col>
    </ion-row>

    <ion-row class="map">
      <ion-col>
        <h5>
          <b>Location</b>
        </h5>
        <p class="value-item">{{ business.address }}</p>
        <div class="map-image" [ngStyle]="{'background-image':'url('+ mapImage +')'}" (click)="getDirection()">
          <ion-row class="direction-button" (click)="getDirection()">
            <ion-col col-2>
              <img src="assets/icon/custom/gps.png" alt="">
            </ion-col>
            <ion-col col-10>
              <p>Get Direction</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
