<ion-content padding>
  <ion-grid>
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="first-row">
      <mian-header [text]="articleCat.name"></mian-header>
    </ion-row>
    <ion-row *ngFor="let item of articles">
      <ion-col>
        <article-card [item]="item"></article-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="articles && articles.length===0">
      <ion-col>
        <h2>No article found in this category.</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
