<ion-content padding no-bounce>
  <ion-grid *ngIf="!switchFlag">
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1 class="steps above-map">
        <ion-row>
          <h6>Step</h6>
        </ion-row>
        <ion-row>
          <h1 class="first-dot active">.</h1>
        </ion-row>
        <ion-row>
          <h1 [class.active]="firstButtonClicked">.</h1>
        </ion-row>
        <ion-row>
          <h1 [class.active]="secondButtonClicked">.</h1>
        </ion-row>
        <ion-row>
          <h1 [class.active]="thirdButtonClicked">.</h1>
        </ion-row>
        <!-- <ion-row>
          <h1 [class.active]="forthButtonClicked">.</h1>
        </ion-row> -->
      </ion-col>
      <!-- Add different section to be hidden here -->
      <ion-col col-11>
        <ion-grid class="changing-div first-grid" *ngIf="!firstButtonClicked && !secondButtonClicked">
          <ion-row class="label-row" text-wrap>
            <ion-item class="item-label">
              <ion-label stacked class="label-1">What's the recipe called? *</ion-label>
              <ion-input type="text" [(ngModel)]="recipe.name" (keyup)="checkName()" placeholder="Recipe name" class="input"></ion-input>
            </ion-item>
            <p class="invalid-details" *ngIf="!nameFlag">* {{ nameText }}</p>
          </ion-row>

          <ion-row text-wrap>
            <ion-item no-lines>
              <ion-label stacked class="label-1">Which category this recipe is? *</ion-label>
              <ion-select class="select frst" [(ngModel)]="recipe.category" #category required placeholder="Category"
                (ionChange)="openSubcategory(category.value);">
                <ion-option *ngFor="let item of recipeCategory" value="{{ item._id }}">{{ item.name }}</ion-option>
              </ion-select>
            </ion-item>
            <p class="invalid-select-details" *ngIf="!categoryFlag">* {{ categoryText }}</p>
          </ion-row>

          <ion-row *ngIf="flag">
            <ion-item no-lines>
              <ion-select *ngIf="flag" class="select scnd" [(ngModel)]="recipe.subCategory" #subcategory required
                placeholder="Subcategory" (ionChange)="getSubcategory(subcategory.value);">
                <ion-option *ngFor="let item of recipeSubcategory" value="{{ item._id }}">{{ item.name }}</ion-option>
              </ion-select>
            </ion-item>
            <p class="invalid-select-details" *ngIf="!subcategoryFlag">* {{ subcategoryText }}</p>
          </ion-row>

          <ion-row text-wrap>
            <ion-item no-lines>
              <ion-label stacked class="label-1">What ingredients did you use? *</ion-label>
            </ion-item>
          </ion-row>

          <ion-row class="ingredient-inputs">
            <ion-item *ngFor="let ingredient of iteratorIngredients; let i = index">
              <ion-input type="text" [(ngModel)]="ingredients[i]" name="ingredient{{ i }}" (keyup)="checkIngred()"
                placeholder="1.5 tbsp Olive Oil" class="input"></ion-input>
              <ion-icon *ngIf="i>0" item-right (tap)="deleteIngredient(i)" name="close" class="delete-input"></ion-icon>
            </ion-item>
            <p class="invalid-multitext-details" *ngIf="!ingredientFlag">* {{ ingredientText }}</p>
          </ion-row>

          <ion-row text-wrap (click)="addIngredient()">
            <ion-col col-3>
              <ion-fab>
                <button ion-fab mini class="add-button-1">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-fab>
            </ion-col>
            <ion-col col-9 class="button-text">Add another ingredient</ion-col>
          </ion-row>
        </ion-grid>

        <!-- Second slide -->
        <ion-grid class="changing-div second-step" *ngIf="firstButtonClicked && !secondButtonClicked">
          <ion-row class="label-row" text-wrap>
            <ion-item no-lines>
              <ion-label stacked class="label-1">Please describe the recipe step by step *</ion-label>
            </ion-item>
          </ion-row>
          <ion-row class="ingredient-inputs">
            <ion-item *ngFor="let step of iteratorSteps; let i = index">
              <ion-input type="text" [(ngModel)]="steps[i]" (keyup)="checkStep()" name="step{{ i }}" placeholder="Step {{ i + 1 }}:"
                class="input"></ion-input>
              <ion-icon *ngIf="i>0" item-right (click)="deleteStep(i)" class="delete-input" name="close"></ion-icon>
            </ion-item>
            <p class="invalid-multitext-details" *ngIf="!stepFlag">* {{ stepText }}</p>
          </ion-row>

          <ion-row text-wrap (click)="addStep()">
            <ion-col col-3>
              <ion-fab>
                <button ion-fab mini class="add-button-1">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-fab>
            </ion-col>
            <ion-col col-9 class="button-text">Add another step</ion-col>
          </ion-row>
        </ion-grid>

        <!-- Third slide -->
        <!-- <ion-grid class="changing-div second-step" *ngIf="secondButtonClicked && !thirdButtonClicked">
          <ion-row class="label-row">
            <ion-item>
              <ion-label stacked class="label-1">Health Goals (Limit to 5) *</ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col col-4 *ngFor="let item of preferences" [ngClass]="{'tag-display': item.question === 'Health', 'tag-hide': item.question === 'Allergic'}">
              <ion-chip [ngClass]="{'tag-unselect': localChips.indexOf(item.id) ==  -1, 'tag-select': localChips.indexOf(item.id) !=  -1}">
                <ion-label (click)="setPreferences('health', item);">{{ getPreferenceTypeName(item.type) }}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
          <p class=""></p>
          <hr>
          <ion-row class="label-row">
            <ion-item>
              <ion-label stacked class="label-1">Allergic (Limit to 3) *</ion-label>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col col-4 *ngFor="let item of preferences" [ngClass]="{'tag-display': item.question === 'Allergic', 'tag-hide': item.question === 'Health'}">
              <ion-chip [ngClass]="{'tag-unselect': localChips.indexOf(item.id) ==  -1, 'tag-select': localChips.indexOf(item.id) !=  -1}">
                <ion-label (click)="setPreferences('allergic', item);">{{ getPreferenceTypeName(item.type) }}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid> -->

        <!-- Forth slide -->
        <ion-grid class="changing-div third-step" *ngIf="secondButtonClicked && !thirdButtonClicked">

          <!-- Business search box -->
          <div *ngIf="!selectedBusinessOption">
            <ion-row class="label-row" text-wrap>
              <ion-item no-lines>
                <ion-label stacked class="label-1">Where do you find the ingredients?</ion-label>
              </ion-item>
            </ion-row>

            <!-- Selected business lists -->
            <div class="selected-businesses list" *ngIf="businessListsOption">
              <div *ngFor="let item of businessLists">
                <business-list [business]="item"></business-list>
              </div>
            </div>

            <ion-row class="ingredient-inputs">
              <ion-item class="item-label">
                <ion-input type="text" (keyup)="getBusinesses($event)" [(ngModel)]="business" placeholder="Place 1"></ion-input>
              </ion-item>
            </ion-row>
          </div>

          <!-- Searched businesses lists -->
          <div *ngIf="!selectedBusinessOption">
            <div class="list" *ngIf="searchList">
              <div *ngFor="let item of businesses">
                <business-list *ngIf="item" [business]="item" (click)="selectBusiness(item)"></business-list>
              </div>
            </div>
          </div>

          <!-- Business modal to select correct busness -->
          <div class="product-here" *ngIf="selectedBusinessOption">
            <ion-row text-wrap>
              <ion-col col-12>
                <h2 class="product-heading">
                  You buy this product from here?
                </h2>
              </ion-col>
            </ion-row>
            <div class="row">
              <ion-col col-12>
                <div class="business-slider-image" [ngStyle]="{'background-image':'url('+ selectedBusiness.photos[0].thumb400Url +')'}">
                </div>
              </ion-col>
              <ion-col col-12 style="text-transform: capitalize">
                <h5 class="product-heading product-heading-1">{{ selectedBusiness.name }}</h5>
              </ion-col>
              <ion-row col-12>
                <ion-col col-1>
                  <ion-icon ios="ios-pin" md="md-pin" class="business-locn"></ion-icon>
                </ion-col>
                <ion-col col-11>
                  <p class="business-text">{{ selectedBusiness.city }}, {{ selectedBusiness.state }}</p>
                </ion-col>
              </ion-row>
              <ion-row col-12>
                <ion-col col-6>
                  <button ion-button round outline block class="correct-button" (click)="chooseBusiness()">Yes,
                    correct!</button>
                </ion-col>
                <ion-col col-6>
                  <button ion-button round outline block class="correct-button" (click)="openSearch()">No, it's not!</button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-grid>
        <!-- Fourth slide -->
        <ion-grid class="changing-div third-step" *ngIf="thirdButtonClicked">
          <!-- Recipe images -->
          <ion-row text-wrap>
            <ion-col col-12>
              <h1 class="upload-title">Upload photos *</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 *ngFor="let img of image;let i = index">
              <img [src]="sanitize(img)" class="uploaded-image">
              <ion-fab top right>
                <img src="assets/imgs/delete_photo.png" alt="" (tap)="deleteImage(i)">
              </ion-fab>
            </ion-col>
            <ion-col col-4 (click)="presentModal()">
              <img src="assets/imgs/add_photo.png" class="add-image">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Recipe page -->
  <ion-grid *ngIf="switchFlag">
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png">
      </ion-col>
    </ion-row>

    <!-- tag section -->
    <ion-row class="tag-row">
      <!-- <ion-col col-3 class="sponsor" *ngIf="item.sponsered">
          <button>
            Sponsor
          </button>
        </ion-col> -->
      <ion-col col-9 class="category">
        <button>
          {{ recipeCat }}
        </button>
        <p>
          <span>.</span>
          {{ recipeSubcat }}
        </p>
      </ion-col>
      <!-- <ion-col col-3 *ngIf="!(item.sponsered)"></ion-col> -->
      <ion-col col-3 class="subcategory align-things-right">
        <div class="bookmark-button" (click)="bookmark()">
          <ion-icon *ngIf="!isBookmarked?.flag; else elseBlocked" ios="ios-bookmark" md="md-bookmark" [ngStyle]="{'color': '#d0d0d0'}"
            class="bookmark-icon"></ion-icon>
          <ng-template #elseBlocked>
            <ion-icon ios="ios-bookmark" md="md-bookmark" class="bookmark-icon" [ngStyle]="{'color': '#FF6260'}"></ion-icon>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-slides>
        <ion-slide col-12 *ngFor="let img of image; let i = index">
          <img [src]="sanitize(img)">
        </ion-slide>
      </ion-slides>
    </ion-row>

    <ion-scroll class="thumbnail-image-slider" scrollX="true" style="height:115px">
      <ion-row nowrap>
        <ion-col *ngFor="let img of image; let i = index" col-3>
          <img [src]="sanitize(img)">
        </ion-col>
      </ion-row>
    </ion-scroll>

    <ion-row class="recipe-name">
      <ion-col col-12>
        <h2>{{ recipe.name }}</h2>
      </ion-col>
    </ion-row>
    <!-- user section -->
    <ion-row>
      <ion-col col-8>
        <ion-row>
          <ion-col col-3 (click)="openUser()">
            <div *ngIf="user.photo; else showDummyImage" class="avatar" [ngStyle]="{'background-image':'url('+ user.photo.thumb400Url +')'}"></div>
            <ng-template #showDummyImage>
              <div class="avatar" [ngStyle]="{'background-image':'url(assets/imgs/defaultUser.png)'}"></div>
            </ng-template>
          </ion-col>
          <ion-col col-9 class="user-details" (click)="openUser()">
            <h2>{{ user.name }}</h2>
            <p>{{ currentLocation.city }}, {{ currentLocation.state }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-3 (click)="like()" class="align-things-right business-like">
        <ion-icon *ngIf="!isLiked?.flag; else elseBlock" ios="ios-heart-outline" md="md-heart-outline" class="heart-icon"
          [ngStyle]="{'color': '#d0d0d0'}"></ion-icon>
        <ng-template #elseBlock>
          <ion-icon ios="ios-heart" md="md-heart" class="heart-icon" [ngStyle]="{'color': '#FF6260'}"></ion-icon>
        </ng-template>
        <span id="count">{{ 0 }} </span>
      </ion-col>
    </ion-row>

    <ion-row class="row-feature" *ngIf="recipe.preferences">
      <ion-col col-4 *ngFor="let preference of recipe.preferences">
        <button ion-button round small class="feature-button" (click)="exploreRecipe(preference.id)">
          {{ getPreferenceTypeName(preference.type) }}
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <h2 class="ingrd-heading">Ingredients</h2>
      </ion-col>
      <ion-col col-12>
        <ul class="ingredients">
          <li class="ingredients-list" *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <h2 class="ingrd-heading">How to make ?</h2>
      </ion-col>
      <ion-col col-12 class="timeline">
        <ul class="ingredients">
          <li class="ingredients-list" *ngFor="let step of recipe.steps">{{ step }}</li>
        </ul>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="recipe.business && recipe.business.length>0">
      <ion-col>
        <h2 class="ingrd-heading">Where To Buy Ingredients? </h2>
      </ion-col>
    </ion-row>
    <ion-row class="business-div">
      <ion-col col-4 *ngFor="let item of businessLists">
        <recipe-business [business]="item"></recipe-business>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab bottom right class="fab-image" (tap)="nextStep()" *ngIf="!switchFlag">
  <button ion-fab style="display: none;"></button>
  <img src="assets/icon/custom/green_arrow.png" alt="">
</ion-fab>
