page-forum {
  ion-note {
    color: $dark-gray !important;
    margin-left: 7px;

    @media screen and (min-width: 360px) {
      font-size: 1.2rem !important;
    }

    @media screen and (min-width: 414px) {
      font-size: 1.6rem !important;
    }
  }

  .forum-time {
    margin-top: 5px;
  }

  .forum-name {
    color: $metal;
  }

  .forum-name h2 {
    font-weight: bold;

    @media screen and (min-width: 320px) {
      font-size: 1.8rem !important;
    }

    @media screen and (min-width: 375px) {
      font-size: 2.3rem !important;
    }
  }

  .avatar {
    width: 100%;
    border-radius: 95px;
    padding-bottom: 100%;
  }

  .user-details {
    padding-top: 10%;
  }

  .business-like {
    top: 1em;
  }

  .business-like span {
    @media screen and (min-width: 320px) {
      font-size: 1.3rem !important;
    }

    @media screen and (min-width: 375px) {
      font-size: 1em;
    }
  }

  .business-like ion-icon {
    @media screen and (min-width: 320px) {
      font-size: 2.5rem !important;
    }

    @media screen and (min-width: 375px) {
      font-size: 2.4em;
    }
  }

  .user-details h2 {
    margin-bottom: 2px;

    @media screen and (min-width: 320px) {
      font-size: 1.3rem !important;
    }

    @media screen and (min-width: 375px) {
      font-size: 1.8rem !important;
    }

    @media screen and (min-width: 414px) {
      font-size: 1.7rem !important;
    }
  }

  .product-heading {
    padding-top: 7%;
    font-weight: bold;
    color: $metal;

    @media screen and (min-width: 320px) {
      font-size: 1.6rem !important;
    }

    @media screen and (min-width: 375px) {
      font-size: 2rem !important;
    }
  }

  .description {
    color: $dark-gray;
    line-height: 1.2em;

    @media screen and (min-width: 320px) {
      font-size: 1.3rem !important;
    }

    @media screen and (min-width: 414px) {
      font-size: 1.8rem !important;
    }
  }

  .arrow-up {
    margin-top: 10px !important;
  }

  .login-button {
    margin-top: 15px;
    padding: 20px;
    width: 100%;
  }

  .buttons {
    @media screen and (min-width: 360px) {
      margin-left: 0px;
    }

    @media screen and (min-width: 414px) {
      margin-left: 10px;
    }
  }

  .has-refresher .scroll-content {
    border-top: 0 !important;
  }

  .item-md.item-block .item-inner {
    border-bottom: none !important;
  }

  .item.item-block.item-md.item-input.item-textarea {
    padding: 0 !important;
  }
}
