<div class="container-fluid">
  <div class="row" style="height: 100vh;">
    <div class="col-3">
      <div class="page-sidebar expandit">
        <div class="sidebar-inner" id="main-menu-wrapper">
          <ul class="wraplist" style="height: auto;">
            <li><a href="/settings/account"> <span class="menu-title">Account</span></a></li>
            <li><a href="/settings/security"> <span class="menu-title">Security</span></a></li>
            <li><a href="/settings/newsletter"> <span class="menu-title active">Newsletter</span></a></li>
            <li><a href="/settings/notifications"> <span class="menu-title">Notification</span></a></li>
            <li><a href="/settings/report"> <span class="menu-title">Report</span></a></li>
            <!-- <li><a href="/settings/data-expert"><span class="menu-title">Data Export</span></a></li> -->
            <li><a href="/settings/deactive-account"> <span class="menu-title">Deactivate Account</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <section id="main-content">
        <section class="wrapper main-wrapper row">
          <div class="col-md-7">
            <section class="box">
              <h3 class="heading">Newsletter</h3><BR>
              <img src="/assets/images/newsletterPhoto.png" class="newsletter-img">
              <p>Get inspiring and actionable sustainablity, conscious, and healthy lifestyle tips delivered straight to
                your
                inbox every Saturday</p>
              <form class="form-inline">
                <div class="form-group">
                  <input type="email" class="newsletter" id="email" placeholder="Your email">
                </div>
                <button type="submit" class="category" data-toggle="modal"
                  data-target=".bs-example-modal-sm">Subscribe</button>
              </form>
              <BR><BR><BR>
              <a href="" class="unsub">Unsubscribe. I don't want to receive newsletter anymore.</a>
            </section>
          </div>
        </section>
      </section>
    </div>
  </div>
  <app-footer></app-footer>
</div>