<ion-card class="business-card">
  <div *ngIf="item.photos.length > 0; else showDummy" class="business-slider-image" [ngStyle]="{'background-image':'url('+ item.photos[0].thumb400Url +')'}" (click)="openBusiness()"></div>
  <ng-template #showDummy>
    <div class="business-slider-image" [ngStyle]="{'background-image':'url(assets/imgs/default_image_company.png)'}" (click)="openProduct()"></div> 
  </ng-template>
  <div class="bookmark-fab" (click)="bookmark()">
    <bookmark [flag]="isBookmarked?.flag"></bookmark>
  </div>
  <ion-row class="business-details" (click)="openBusiness()" col-12>
    <ion-col col-12>
      <div class="category same-line">
        <button>
          {{ item.category.name }}
        </button>
      </div>
      <!-- <div *ngIf="item?.sponsored" class="sponsered same-line">
        <img src="assets/imgs/sponsorLabelIcon.svg" height="30" width="30">
      </div> -->
    </ion-col>
    <ion-col style="text-transform: capitalize" class="business-title" col-12>
      <h2>{{ businessName }}</h2>
    </ion-col>
    <ion-col col-12 class="business-location">
      <ion-icon item-left ios="ios-pin" md="md-pin" class="pin-icon"></ion-icon>
      <span>{{ item?.city }}, {{ item?.state }}</span>
    </ion-col>
  </ion-row>
</ion-card>