<ion-content padding>
  <!-- Refresher -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading Spinner -->
  <ion-grid class="align-things-center" *ngIf="pageLoadFlag">
    <ion-row col-12 class="align-things-center">
      <ion-col col-12>
        <div class="main-spinner"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!pageLoadFlag">
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="homePage()">
        <img src="assets/icon/custom/back_arrow.png">
      </ion-col>
    </ion-row>


    <!-- tag section -->
    <ion-row class="tag-row">
      <!-- <ion-col col-3 class="sponsor" *ngIf="item.sponsered">
          <button>
            Sponsor
          </button>
        </ion-col> -->
      <ion-col col-9 class="category">
        <button>
          {{ recipe.category.name }}
        </button>
        <p>
          <span>.</span>
          {{ recipeSubcat }}
        </p>
      </ion-col>
      <!-- <ion-col col-3 *ngIf="!(item.sponsered)"></ion-col> -->
      <ion-col col-3 class="subcategory align-things-right">
        <div class="bookmark-button" (click)="bookmark(isBookmarked?.flag, isBookmarked?.id, recipe.id)">
          <ion-icon *ngIf="!isBookmarked?.flag; else elseBlocked" ios="ios-bookmark" md="md-bookmark" [ngStyle]="{'color': '#d0d0d0'}"
            class="bookmark-icon"></ion-icon>
          <ng-template #elseBlocked>
            <ion-icon ios="ios-bookmark" md="md-bookmark" class="bookmark-icon" [ngStyle]="{'color': '#FF6260'}"></ion-icon>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>

    <!-- slide section -->
    <ion-row>
      <ion-slides *ngIf="recipe.photos.length>0; else viewDiv">
        <ion-slide col-12 *ngFor="let image of recipe.photos; let i = index">
          <div class="main-slider-image" [ngStyle]="{'background-image':'url('+ image.thumb400Url +')'}" (click)="openImage(i)">
          </div>
        </ion-slide>
      </ion-slides>
      <ng-template #viewDiv>
        <div class="main-slider-image" [ngStyle]="{'background-image':'url(assets/imgs/default_image_slider.png)'}">
        </div>
      </ng-template>
    </ion-row>
    <ion-scroll *ngIf="recipe.photos.length>0; else showDiv" class="thumbnail-image-slider" scrollX="true" style="height:115px">
      <ion-row nowrap>
        <ion-col *ngFor="let image of recipe.photos; let i = index" col-3>
          <div class="slider-thumbnail" [ngStyle]="{'background-image':'url('+ image.thumb200Url +')'}" (click)="openSlider(i)">
          </div>
        </ion-col>
      </ion-row>
    </ion-scroll>
    <ng-template #showDiv>
      <ion-scroll class="thumbnail-image-slider" scrollX="true" style="height: 115px;">
        <ion-row nowrap>
          <ion-col col-3>
            <div class="slider-thumbnail" [ngStyle]="{'background-image':'url(assets/imgs/default_image_company.png)'}">
            </div>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </ng-template>

    <ion-row class="recipe-name">
      <ion-col col-12>
        <h2>{{ recipe.name }}</h2>
      </ion-col>
      <!-- <ion-col col-1 class="share" (click)="socialshare()">
          <img src="assets/imgs/share.svg">
        </ion-col> -->
    </ion-row>
    <!-- user section -->
    <ion-row>
      <ion-col col-8>
        <ion-row *ngIf="recipe.addedBy; else showNHStuff">
          <ion-col col-3>
            <div class="avatar" *ngIf="recipe.addedBy.photo; else showDummyImage" [ngStyle]="{'background-image':'url('+ recipe?.addedBy.photo.thumb200Url +')'}"></div>
            <ng-template #showDummyImage>
              <div class="avatar" [ngStyle]="{'background-image':'url(assets/imgs/defaultUser.png)'}"></div>
            </ng-template>
          </ion-col>
          <ion-col col-9 class="user-details" (click)="openUser(recipe.addedBy._id)">
            <h2>{{ recipe?.addedBy.name }}</h2>
            <p>{{ currentLocation?.city }}, {{ currentLocation?.state }}</p>
          </ion-col>
        </ion-row>
        <ng-template #showNHStuff>
          <ion-row>
            <ion-col col-3>
              <div class="avatar" [ngStyle]="{'background-image':'url(assets/imgs/defaultIcon.png)'}"></div>
            </ion-col>
            <ion-col col-9 class="user-details">
              <h2>Naturehub Staff</h2>
              <p>USA</p>
            </ion-col>
          </ion-row>
        </ng-template>
      </ion-col>
      <ion-col col-3 (click)="like()" class="align-things-right business-like">
        <ion-icon *ngIf="!isLiked?.flag; else elseBlock" ios="ios-heart-outline" md="md-heart-outline" class="heart-icon"
          [ngStyle]="{'color': '#9F9F9F'}"></ion-icon>
        <ng-template #elseBlock>
          <ion-icon ios="ios-heart" md="md-heart" class="heart-icon" [ngStyle]="{'color': '#FF6260'}"></ion-icon>
        </ng-template>
        <span id="count">{{ recipe.likes }} </span>
      </ion-col>
    </ion-row>

    <ion-row class="row-feature" *ngIf="recipe.preferences">
      <ion-col col-4 *ngFor="let preference of recipe.preferences">
        <button ion-button round small class="feature-button" (click)="exploreRecipe(preference.id)">
          {{ getPreferenceTypeName(preference.type) }}
        </button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col col-12>
        <h2 class="ingrd-heading">Ingredients</h2>
      </ion-col>
      <ion-col col-12>
        <ul class="ingredients" *ngFor="let ingredient of recipe.ingredients">
          <li class="ingredients-list" *ngIf="ingredient">{{ ingredient }}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="recipe.steps[0]">
      <ion-col col-12>
        <h2 class="ingrd-heading">How to make ?</h2>
      </ion-col>
      <ion-col col-12 class="timeline">
        <ul class="ingredients" *ngFor="let step of recipe.steps">
          <li class="ingredients-list" *ngIf="step">{{ step }}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="recipe.business && recipe.business.length>0">
      <ion-col>
        <h2 class="ingrd-heading">Where To Buy Ingredients? </h2>
      </ion-col>
    </ion-row>
    <ion-row class="business-div" *ngIf="recipe.business && recipe.business.length>0">
      <ion-col col-4 *ngFor="let item of recipe.business">
        <recipe-business [business]="item"></recipe-business>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="recipe.recipeUploader">
      <h2 class="ingrd-heading">Who made this?</h2>
    </ion-row>
    <ion-row *ngIf="recipe.recipeUploader">
      <ion-col col-3>
        <div class="avatar" [ngStyle]="{'background-image':'url('+ recipe.recipeUploader.sourceUrl +')'}"></div>
      </ion-col>
      <ion-col col-9 class="uploader-details">
        <h2>{{ recipe?.recipeUploader.name }}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
