.container-fluid {
  overflow: scroll;
}
.main-content {
  margin-bottom: 55px;
}
.show-more {
  cursor: pointer;
  font-size: 0.7em;
  color: #00b2aa;
  margin-left: 15px;
}
.show-more img {
  width: 13px;
  margin-left: 5px;
}
.vlog{
  position: relative;
  left: 0px;
}
@media only screen and (max-width: 480px) {
  .vlog{
    position: relative;
    left: 21px;
  }
}
@media only screen and (min-width: 768px){
  .vlog{
    position: relative;
    left: 0px;
  }
}
@media only screen and (min-width: 992px){
  .vlog{
    position: relative;
    left: 0px;
  }
}
