<ion-content padding>
  <ion-grid *ngIf="user">
    <ion-row>
      <ion-col col-3 class="back-arrow above-map">
        <img src="assets/icon/custom/back_arrow.png" alt="" (tap)="prevStep()">
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col col-12>
        <button ion-button round outline class="my-button" (click)="follow()"> {{ followText }} </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <profile-image *ngIf="user.photo; else showDummyImage" [src]="user.photo.thumb400Url"></profile-image>
      <ng-template #showDummyImage>
        <profile-image [src]="'assets/imgs/defaultUser.png'"></profile-image>
      </ng-template>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col col-12>
        <h4 class="profile-name">{{ user.name }}</h4>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col col-12>
        <p class="location" *ngIf="currentLocation">
          <ion-icon ios="md-navigate" md="md-navigate" class="navi"></ion-icon> {{ currentLocation.city }}, {{
          currentLocation.state }}
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="user && user.points">
      <level-card col-12 [points]="user.points"></level-card>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-scroll scrollX="true" class="guide-scroll" style="height:70px">
      <ion-row nowrap>
        <ion-col class="custom-col-4">
          <button ion-button round [class.filter-active]="options==='about'" class="filter-button align-things-center"
            (click)="filter('about')">
            About Me
          </button>
        </ion-col>
        <ion-col class="custom-col-4">
          <button ion-button round [class.filter-active]="options==='recipes'" class="filter-button align-things-center"
            (click)="filter('recipes')">
            Recipes
          </button>
        </ion-col>
        <ion-col class="custom-col-4">
          <button ion-button round [class.filter-active]="options==='products'" class="filter-button align-things-center"
            (click)="filter('products')">
            Products
          </button>
        </ion-col>
      </ion-row>
    </ion-scroll>

    <ion-row *ngIf="options==='about'" class="option-card align-things-center" col-12>
      <ion-card col-12 class="about-card">
        <ion-col col-12>
          <h1>About {{ user.name }} </h1>
        </ion-col>
        <ion-col col-12>
          <p>{{ user.about }}</p>
        </ion-col>
      </ion-card>
    </ion-row>

    <ion-row *ngIf="options==='recipes'">
      <div col-12 *ngIf="recipes.length > 0; else customDiv">
        <ion-col *ngFor="let item of recipes" col-12>
          <recipe-card [item]="item"></recipe-card>
        </ion-col>
      </div>
      <ng-template #customDiv>
        <ion-row class="align-things-center">
          <ion-card class="addCard align-things-center">
            <ion-card-content>
              <p>Oops! {{ user.name }} hasn't added any recipe yet.</p>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ng-template>
    </ion-row>

    <ion-row *ngIf="options==='products'">
      <div col-6 *ngIf="products.length > 0; else customDivs">
        <ion-col *ngFor="let item of products" col-6 class="products">
          <product-card [item]="item"></product-card>
        </ion-col>
      </div>
      <ng-template #customDivs>
        <ion-row class="align-things-center">
          <ion-card class="addCard align-things-center">
            <ion-card-content>
              <p>Oops! {{ user.name }} hasn't added any product yet.</p>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>
