<ion-content padding>
  <ion-grid *ngIf="!switchFlag">
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-1 class="steps above-map">
        <ion-row>
          <h6>Step</h6>
        </ion-row>
        <ion-row>
          <h1 class="first-dot active">.</h1>
        </ion-row>
        <ion-row>
          <h1 [class.active]="firstButtonClicked">.</h1>
        </ion-row>
        <ion-row>
          <h1 [class.active]="secondButtonClicked">.</h1>
        </ion-row>
        <ion-row>
          <h1 [class.active]="thirdButtonClicked">.</h1>
        </ion-row>
      </ion-col>
      <!-- Add different section to be hidden here -->
      <ion-col col-11>
        <!-- First step -->
        <ion-grid class="changing-div first-step" *ngIf="!firstButtonClicked && !secondButtonClicked">
          <ion-row text-wrap>
            <ion-item class="item-label">
              <ion-label stacked class="label-1">What's the name of the product? *</ion-label>
              <ion-input type="text" [(ngModel)]="product.name" (keyup)="checkName()" placeholder="Product name" class="input"></ion-input>
            </ion-item>
            <p class="invalid-details" *ngIf="!nameFlag">* {{ nameText }}</p>
          </ion-row>
          <ion-row text-wrap>
            <ion-item no-lines>
              <ion-label stacked class="label-1">Which category does it fit into? *</ion-label>
              <ion-select class="select" [(ngModel)]="product.category" placeholder="Category" #category (ionChange)="openSubcategory(category.value)">
                <ion-option *ngFor="let item of productCategories" value="{{ item._id }}">{{ item.name }}</ion-option>
              </ion-select>
            </ion-item>
            <p class="invalid-select-details" *ngIf="!categoryFlag">* {{ categoryText }}</p>
          </ion-row>
          <ion-row *ngIf="flag">
            <ion-item no-lines>
              <ion-select class="select" [(ngModel)]="product.subCategory" #subcategory required placeholder="Sub-Categories"
                (ionChange)="getSubcategory(subcategory.value)">
                <ion-option *ngFor="let item of productSubCategories" value="{{ item._id }}">{{ item.name }}</ion-option>
              </ion-select>
            </ion-item>
            <p class="invalid-select-details" *ngIf="!subcategoryFlag">* {{ subcategoryText }}</p>
          </ion-row>
          <ion-row text-wrap>
            <ion-item class="item-label">
              <ion-label stacked class="label-1">Price</ion-label>
              <ion-input type="number" [(ngModel)]="product.price" placeholder="ex. $20" class="input"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row text-wrap>
            <ion-item class="item-label txtarea">
              <ion-label stacked class="label-1">Description *</ion-label>
              <ion-textarea rows="10" [(ngModel)]="product.description" (keyup)="checkDescription()" class="text-area"
                placeholder="About the product (0/100 words)">
              </ion-textarea>
            </ion-item>
            <p class="invalid-textarea-details" *ngIf="!descriptionFlag">* {{ descriptionText }}</p>
          </ion-row>
        </ion-grid>
        <!-- Second step -->
        <ion-grid class="changing-div second-step" *ngIf="firstButtonClicked && !secondButtonClicked">
          <ion-row text-wrap>
            <ion-col col-12>
              <h1 class="upload-title">Upload photos of product</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 *ngFor="let img of image; let i = index">
              <img [src]="sanitize(img)" class="uploaded-image">
              <ion-fab top right>
                <img src="assets/imgs/delete_photo.png" class="add-photo" alt="" (tap)="deleteImage(i)">
              </ion-fab>
            </ion-col>
            <ion-col col-4 (click)="imageModal()">
              <img src="assets/imgs/add_photo.png" class="add-image">
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- Third step -->
        <ion-grid class="changing-div third-step" *ngIf="secondButtonClicked && !thirdButtonClicked">
          <ion-row text-wrap>
            <ion-item class="item-label">
              <ion-label stacked class="label-1">Who created this <br> product? *</ion-label>
              <ion-input type="text" [(ngModel)]="product.founderName" (keyup)="checkFounder()" placeholder="Name of the company/founder"
                class="input"></ion-input>
            </ion-item>
            <p class="invalid-details" *ngIf="!founderFlag">* {{ founderText }}</p>
          </ion-row>
          <ion-row text-wrap>
            <ion-item class="item-label txtarea">
              <ion-label stacked class="label-1">Tell us something about them.* </ion-label>
              <ion-textarea rows="10" [(ngModel)]="product.founderDescription" (keyup)="checkFounderDescription()"
                class="text-area" placeholder="About the company/founder (0/80 Words)"></ion-textarea>
            </ion-item>
            <p class="invalid-textarea-details" *ngIf="!founderDescriptionFlag">* {{ founderDescriptionText }}</p>
          </ion-row>
        </ion-grid>
        <!-- Fourth step -->
        <ion-grid class="changing-div fourth-step" *ngIf="thirdButtonClicked">
          <ion-row text-wrap>
            <ion-col col-12>
              <h1 class="upload-title">Upload an image of the company or the founder</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4 *ngIf="logoUrl">
              <img [src]="sanitize(logoUrl)" class="uploaded-image">
              <ion-fab top right>
                <img src="assets/imgs/delete_photo.png" alt="" (tap)="deleteLogo(i)">
              </ion-fab>
            </ion-col>
            <ion-col col-4 (click)="logoModal()" *ngIf="!logoUrl">
              <img src="assets/imgs/add_photo.png" class="add-image">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid *ngIf="switchFlag">
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png">
      </ion-col>
    </ion-row>

    <!-- tag section -->
    <ion-row class="tag-row">
      <!-- <ion-col col-3 class="sponsor" *ngIf="item.sponsered">
          <button>
            Sponsor
          </button>
        </ion-col> -->
      <ion-col col-9 class="category">
        <button>
          {{ productCat }}
        </button>
        <p>
          <span>.</span>
          {{ productSubcat }}
        </p>
      </ion-col>
      <!-- <ion-col col-3 *ngIf="!(product.sponsered)"></ion-col> -->
      <ion-col col-3 class="subcategory align-things-right">
        <div class="bookmark-button" (click)="bookmark()">
          <ion-icon *ngIf="!isBookmarked?.flag; else elseBlocked" ios="ios-bookmark" md="md-bookmark" [ngStyle]="{'color': '#9F9F9F'}"
            class="bookmark-icon"></ion-icon>
          <ng-template #elseBlocked>
            <ion-icon ios="ios-bookmark" md="md-bookmark" class="bookmark-icon" [ngStyle]="{'color': '#FF6260'}"></ion-icon>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-slides>
        <ion-slide col-12 *ngFor="let img of image; let i = index">
          <img [src]="sanitize(img)">
        </ion-slide>
      </ion-slides>
    </ion-row>

    <ion-scroll class="thumbnail-image-slider" scrollX="true" style="height:115px">
      <ion-row nowrap>
        <ion-col *ngFor="let img of image; let i = index" col-3>
          <img [src]="sanitize(img)">
        </ion-col>
      </ion-row>
    </ion-scroll>

    <ion-row class="recipe-name">
      <ion-col col-12>
        <h2>{{ product.name }}</h2>
      </ion-col>
    </ion-row>
    <!-- user section -->
    <ion-row>
      <ion-col col-8>
        <ion-row>
          <ion-col col-3 (click)="openUser()">
            <div *ngIf="user.photo; else showDummyImage" class="avatar" [ngStyle]="{'background-image':'url('+ user.photo.thumb400Url +')'}"></div>
            <ng-template #showDummyImage>
              <div class="avatar" [ngStyle]="{'background-image':'url(assets/imgs/defaultUser.png)'}"></div>
            </ng-template>
          </ion-col>
          <ion-col col-9 class="user-details" (click)="openUser()">
            <h2>{{ user.name }}</h2>
            <p>{{ currentLocation.city }}, {{ currentLocation.state }}</p>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-3 (click)="like()" class="align-things-right product-like">
        <ion-icon *ngIf="!isLiked?.flag; else elseBlock" ios="ios-heart-outline" md="md-heart-outline" class="heart-icon"
          [ngStyle]="{'color': '#d0d0d0'}"></ion-icon>
        <ng-template #elseBlock>
          <ion-icon ios="ios-heart" md="md-heart" class="heart-icon" [ngStyle]="{'color': '#FF6260'}"></ion-icon>
        </ng-template>
        <span id="count">{{ product.likes }} </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <h2 class="product-heading">Product Description</h2>
      </ion-col>
      <ion-col col-12>
        <p class="description">{{ product.description }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h2 class="product-heading">Company / Founder </h2>
      </ion-col>
    </ion-row>
    <ion-row class="product-div">
      <ion-col col-3>
        <img class="company-avatar" [src]="sanitize(logoUrl)">
      </ion-col>
      <ion-col col-9>
        <h3 class="product-name">{{ product.founderName }}</h3>
      </ion-col>
      <ion-col col-12>
        <p class="description">{{ product.founderDescription }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="align-things-center">
      <ion-col col-12 class="align-things-center">
        <button ion-button round outline class="buy" (click)="showToast()">Notify me when it's available to buy</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab bottom right class="fab-image" (tap)="nextStep()" *ngIf="!switchFlag">
  <button ion-fab style="display: none;"></button>
  <img src="assets/icon/custom/green_arrow.png" alt="">
</ion-fab>
