.background-property {
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.explore-groupimg {
  height: 97px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.sub-heading {
  font-size: 1em;
  color: rgb(72, 72, 72);
}
