section-header {
    .header {
        font-weight: bold;
        color:$metal;
        text-transform: capitalize;
        @media screen and (min-width: 320px) {
            font-size: 1.5em;
            margin-bottom: 0px;
        }
        @media screen and (min-width: 414px) {
            font-size: 1.8em;
        }
        @media screen and (min-width: 753px) {
            font-size: 2em;
        }
    }
}
