<ion-content>
    <div class="container-fluid mb-4">
      <div class="row">
        <div class="col-11 m-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="mt-4 main-heading">How you feel like today, Danielle?</h2>
              <div class="d-flex mt-4">
                <div class="background-property feel-likeimg likeimg1">
                  <h2 class="feel-likeheading text-center mb-0">Explore</h2>
                </div>
                <div class="background-property feel-likeimg likeimg2">
                  <h2 class="feel-likeheading text-center mb-0">Ask Something</h2>
                </div>
                <div class="background-property feel-likeimg likeimg3">
                  <h2 class="feel-likeheading text-center mb-0">Get Inspiration</h2>
                </div>
                <div class="background-property feel-likeimg likeimg4">
                  <h2 class="feel-likeheading text-center mb-0">Add A List</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h2 class="mt-4 main-heading">Find Good, Find Green, Find Local<sup>TM</sup></h2>
              <div class="location-grid mt-3 mb-2">
                <div>
                  <p class="location-name mb-0"><span><img src="../../../assets/images/location.svg" alt=""></span>Florida,
                    FL
                  </p>
                </div>
                <div>
                  <span class="change-location">Change Location</span>
                </div>
              </div>
              <div class="row">
                <div class="col-11 pr-0">
                  <div class="horizontal-scroll w-100 p-1 mt-4">
                    <div class="d-inline-flex">
                      <div class="card border-0 find-cards text-center">
                        <div class="card-body p-2">
                          <img src="../../../assets/images/category/cafe.svg" alt="">
                          <p class="mb-0">Cafe</p>
                        </div>
                      </div>
                      <div class="card border-0 find-cards text-center">
                        <div class="card-body p-2">
                          <img src="../../../assets/images/category/restrautant.svg" alt="">
                          <p class="mb-0">Restaurant</p>
                        </div>
                      </div>
                      <div class="card border-0 find-cards text-center">
                        <div class="card-body p-2">
                          <img src="../../../assets/images/category/grocery.svg" alt="">
                          <p class="mb-0">Grocery</p>
                        </div>
                      </div>
                      <div class="card border-0 find-cards text-center">
                        <div class="card-body p-2">
                          <img src="../../../assets/images/category/health.svg" alt="">
                          <p class="mb-0">Health</p>
                        </div>
                      </div>
                      <div class="card border-0 find-cards text-center">
                        <div class="card-body p-2">
                          <img src="../../../assets/images/category/produce.svg" alt="">
                          <p class="mb-0">Artisan Produce</p>
                        </div>
                      </div>
                      <div class="card border-0 find-cards text-center">
                        <div class="card-body p-2">
                          <img src="../../../assets/images/category/farmer.svg" alt="">
                          <p class="mb-0">Farmers' Market</p>
                        </div>
                      </div>
                      <div class="card border-0 find-cards text-center">
                        <div class="card-body p-2">
                          <img src="../../../assets/images/category/bath.svg" alt="">
                          <p class="mb-0">Bath & Beauty</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 more-col">
                  <img src="../../../assets/images/moreBtn.svg" class="more-btn float-right d-block">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h2 class="mt-4 main-heading">Popular Places Near You<span class="show-more">Show More <img
                    src="../../../assets/images/arrow-pointing-to-right.svg"></span></h2>
              <div class="row">
                <div class="col-11 pr-0">
                  <div class="horizontal-scroll w-100 p-1 mt-4">
                    <div class="d-inline-flex">
                      <div class="card popular-placescard border-0">
                        <div class="card-header border-0 p-0 popular-img1 background-property">
                          <div class="bookmark-div">
                            <img src="../../../assets/images/bookmark.svg">
                          </div>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Cafe</button>
                          <h3>Bike & Bite Organic Bean</h3>
                          <p class="mb-0"><img src="../../../assets/images/category/maps-and-flags.svg">Orlando, FL</p>
                        </div>
                      </div>
                      <div class="card popular-placescard border-0">
                        <div class="card-header border-0 p-0 popular-img2 background-property">
                          <div class="bookmark-div">
                            <img src="../../../assets/images/bookmark.svg">
                          </div>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Restaurant</button>
                          <h3>James Bob's Organic Cafe & Bakery</h3>
                          <p class="mb-0"><img src="../../../assets/images/category/maps-and-flags.svg">Orlando, FL</p>
                        </div>
                      </div>
                      <div class="card popular-placescard border-0">
                        <div class="card-header border-0 p-0 popular-img3 background-property">
                          <div class="bookmark-div">
                            <img src="../../../assets/images/bookmark.svg">
                          </div>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Grocery</button>
                          <h3>Bike & Bite Organic Bean</h3>
                          <p class="mb-0"><img src="../../../assets/images/category/maps-and-flags.svg">Orlando, FL</p>
                        </div>
                      </div>
                      <div class="card popular-placescard border-0">
                        <div class="card-header border-0 p-0 popular-img1 background-property">
                          <div class="bookmark-div">
                            <img src="../../../assets/images/bookmark.svg">
                          </div>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Cafe</button>
                          <h3>Bike & Bite Organic Bean</h3>
                          <p class="mb-0"><img src="../../../assets/images/category/maps-and-flags.svg">Orlando, FL</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 more-col">
                  <img src="../../../assets/images/moreBtn.svg" class="more-btn float-right d-block">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h2 class="mt-4 main-heading">Local Must Visit<span><button type="button"
                    class="btn btn-outline-primary btn-sm">Sponsored</button></span></h2>
              <div class="row">
                <div class="col-11 pr-0">
                  <div class="horizontal-scroll w-100 p-1 mt-4">
                    <div class="d-inline-flex">
                      <div class="card local-mustcard border-0">
                        <div class="card-header border-0 p-0 local-img4 background-property">
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Cafe</button>
                          <h3>Lotus Park Cafe </h3>
                          <p class="mb-0">Gluten-free food</p>
                        </div>
                      </div>
                      <div class="card local-mustcard border-0">
                        <div class="card-header border-0 p-0 local-img5 background-property">
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Grocery</button>
                          <h3>Downtown Co-up Organic Artiisan's Grocery</h3>
                          <p class="mb-0">Organic & Fresh Vegetable </p>
                        </div>
                      </div>
                      <div class="card local-mustcard border-0">
                        <div class="card-header border-0 p-0 local-img4 background-property">
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Cafe</button>
                          <h3>Lotus Park Cafe </h3>
                          <p class="mb-0">Gluten-free food</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 more-col">
                  <img src="../../../assets/images/moreBtn.svg" class="more-btn float-right d-block">
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-6">
              <div class="background-property naturehub-cards naturehub-card1">
                <h2 class="mb-0">Learn more<br>
                  about<br>
                  Naturehub
                </h2>
              </div>
            </div>
            <div class="col-6">
              <div class="background-property naturehub-cards naturehub-card2">
                <!-- <h2>You, Me & Community.</h2> -->
                <button type="button" class="btn btn-success">Invite More Friends</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h2 class="mt-4 main-heading">Recipes You Should Try<span class="show-more">Show More <img
                    src="../../../assets/images/arrow-pointing-to-right.svg"></span>
              </h2>
              <div class="row">
                <div class="col-11 pr-0">
                  <div class="horizontal-scroll w-100 p-1 mt-4">
                    <div class="d-inline-flex">
                      <div>
                        <div class="card border-0 recipe-card">
                          <div class="d-flex">
                            <div class="recipe-image recipe-img1 background-property">
                              <div class="bookmark-div">
                                <img src="../../../assets/images/bookmark.svg">
                              </div>
                            </div>
                            <div class="recipe-info">
                              <div class="recipe-category">
                                <button type="button" class="btn btn-primary mb-0">Salad</button>
                                <p class="mb-0">245 Likes</p>
                              </div>
                              <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                              <div class="recipe-uploadergrid">
                                <div class="recipe-uploaderimg recipe-uploaderimg1 background-property">
                                </div>
                                <div class="recipe-uploadername">
                                  <h2 class="mb-0">Dulcineia Dias</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card border-0 recipe-card">
                          <div class="d-flex">
                            <div class="recipe-image recipe-img3 background-property">
                              <div class="bookmark-div">
                                <img src="../../../assets/images/bookmark.svg">
                              </div>
                            </div>
                            <div class="recipe-info">
                              <div class="recipe-category">
                                <button type="button" class="btn btn-primary mb-0">Salad</button>
                                <p class="mb-0">245 Likes</p>
                              </div>
                              <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                              <div class="recipe-uploadergrid">
                                <div class="recipe-uploaderimg recipe-uploaderimg3 background-property">
                                </div>
                                <div class="recipe-uploadername">
                                  <h2 class="mb-0">Dulcineia Dias</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="card border-0 recipe-card">
                          <div class="d-flex">
                            <div class="recipe-image recipe-img2 background-property">
                              <div class="bookmark-div">
                                <img src="../../../assets/images/bookmark (1).svg">
                              </div>
                            </div>
                            <div class="recipe-info">
                              <div class="recipe-category">
                                <button type="button" class="btn btn-primary mb-0">Salad</button>
                                <p class="mb-0">245 Likes</p>
                              </div>
                              <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                              <div class="recipe-uploadergrid">
                                <div class="recipe-uploaderimg recipe-uploaderimg2 background-property">
                                </div>
                                <div class="recipe-uploadername">
                                  <h2 class="mb-0">Dulcineia Dias</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card border-0 recipe-card">
                          <div class="d-flex">
                            <div class="recipe-image recipe-img4 background-property">
                              <div class="bookmark-div">
                                <img src="../../../assets/images/bookmark.svg">
                              </div>
                            </div>
                            <div class="recipe-info">
                              <div class="recipe-category">
                                <button type="button" class="btn btn-primary mb-0">Salad</button>
                                <p class="mb-0">245 Likes</p>
                              </div>
                              <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                              <div class="recipe-uploadergrid">
                                <div class="recipe-uploaderimg recipe-uploaderimg4 background-property">
                                </div>
                                <div class="recipe-uploadername">
                                  <h2 class="mb-0">Dulcineia Dias</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="card border-0 recipe-card">
                          <div class="d-flex">
                            <div class="recipe-image recipe-img2 background-property">
                              <div class="bookmark-div">
                                <img src="../../../assets/images/bookmark (1).svg">
                              </div>
                            </div>
                            <div class="recipe-info">
                              <div class="recipe-category">
                                <button type="button" class="btn btn-primary mb-0">Salad</button>
                                <p class="mb-0">245 Likes</p>
                              </div>
                              <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                              <div class="recipe-uploadergrid">
                                <div class="recipe-uploaderimg recipe-uploaderimg2 background-property">
                                </div>
                                <div class="recipe-uploadername">
                                  <h2 class="mb-0">Dulcineia Dias</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card border-0 recipe-card">
                          <div class="d-flex">
                            <div class="recipe-image recipe-img4 background-property">
                              <div class="bookmark-div">
                                <img src="../../../assets/images/bookmark.svg">
                              </div>
                            </div>
                            <div class="recipe-info">
                              <div class="recipe-category">
                                <button type="button" class="btn btn-primary mb-0">Salad</button>
                                <p class="mb-0">245 Likes</p>
                              </div>
                              <h3>Easy Breakfast Organic Beets Veg Toss Salad M...</h3>
                              <div class="recipe-uploadergrid">
                                <div class="recipe-uploaderimg recipe-uploaderimg4 background-property">
                                </div>
                                <div class="recipe-uploadername">
                                  <h2 class="mb-0">Dulcineia Dias</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 more-col">
                  <img src="../../../assets/images/moreBtn.svg" class="more-btn float-right d-block">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h2 class="mt-4 main-heading">Popular Alternative Products<span class="show-more">Show More <img
                    src="../../../assets/images/arrow-pointing-to-right.svg"></span></h2>
              <div class="row">
                <div class="col-11 pr-0">
                  <div class="horizontal-scroll w-100 p-1 mt-4">
                    <div class="d-inline-flex">
                      <div class="card popular-placescard border-0">
                        <div class="card-header border-0 p-0 popularproduct-img1 background-property">
                          <div class="bookmark-div">
                            <img src="../../../assets/images/bookmark.svg">
                          </div>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Food</button>
                          <h3>Bike & Bite Organic Bean</h3>
                          <div class="recipe-uploadergrid">
                            <div class="recipe-uploaderimg recipe-uploaderimg1 background-property">
                            </div>
                            <div class="recipe-uploadername">
                              <h2 class="mb-0">Dulcineia Dias</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card popular-placescard border-0">
                        <div class="card-header border-0 p-0 popularproduct-img2 background-property">
                          <div class="bookmark-div">
                            <img src="../../../assets/images/bookmark (1).svg">
                          </div>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Food</button>
                          <h3>James Bob's Organic Cafe & Bakery</h3>
                          <div class="recipe-uploadergrid">
                            <div class="recipe-uploaderimg recipe-uploaderimg2 background-property">
                            </div>
                            <div class="recipe-uploadername">
                              <h2 class="mb-0">Dulcineia Dias</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card popular-placescard border-0">
                        <div class="card-header border-0 p-0 popularproduct-img3 background-property">
                          <div class="bookmark-div">
                            <img src="../../../assets/images/bookmark.svg">
                          </div>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Food</button>
                          <h3>Bike & Bite Organic Bean</h3>
                          <div class="recipe-uploadergrid">
                            <div class="recipe-uploaderimg recipe-uploaderimg3 background-property">
                            </div>
                            <div class="recipe-uploadername">
                              <h2 class="mb-0">Dulcineia Dias</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card popular-placescard border-0">
                        <div class="card-header border-0 p-0 popularproduct-img1 background-property">
                          <div class="bookmark-div">
                            <img src="../../../assets/images/bookmark.svg">
                          </div>
                        </div>
                        <div class="card-body">
                          <button type="button" class="btn btn-primary">Food</button>
                          <h3>Bike & Bite Organic Bean</h3>
                          <div class="recipe-uploadergrid">
                            <div class="recipe-uploaderimg recipe-uploaderimg1 background-property">
                            </div>
                            <div class="recipe-uploadername">
                              <h2 class="mb-0">Dulcineia Dias</h2>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1 more-col">
                  <img src="../../../assets/images/moreBtn.svg" class="more-btn float-right d-block">
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <div class="add-cards background-property add-cardimg1">
                <h2>Have some healthy, toxic free, or eco-friendly recipes to share?</h2>
                <button type="button" class="btn btn-secondary">Add my recipes</button>
              </div>
            </div>
            <div class="col-6">
              <div class="add-cards background-property add-cardimg2">
                <h2>We invite you to join to our community discussion. You can be the one influence....</h2>
                <button type="button" class="btn btn-secondary">Yes, I am in</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

