<div class="container-fluid m-auto">
  <div class="container">
  <div class="row justify-content-md-center main-content">
    <div class="col-12">
      <h1>Add a conscious business</h1>
      <div class="row">
        <div class="col-lg-4 col-md-12 col-xl-4">
          <h3 class="head_color">Description</h3>
          <div>
            <form action="" class="add_business">
              <div class="business_input">
                <label for="business_name"
                  >What's the name of the business? *</label
                >
                <input
                  type="text"
                  placeholder="Business name (0/10 words)"
                  class="form-control pl-0 input_style"
                  name="name"
                  [(ngModel)]="business.name"
                />
              </div>
              <div class="business_input">
                <label for="business_category"
                  >Which categories this business is? *</label
                >
                <select
                  class="form-control pl-0 shadow_btn catg_btn"
                  [(ngModel)]="business.category"
                  name="category"
                >
                  <option class="catg_option" value="">Categories</option>
                  <option
                    *ngFor="let category of categories"
                    [value]="category._id"
                    >{{ category.name }}</option
                  >
                </select>
              </div>
              <div class="business_input">
                <label for="business_phone">Phone Number</label>
                <div class="inline">
                  <input
                    type="text"
                    placeholder="+01"
                    class="form-control pl-0 input_style code"
                  />
                  <input
                    type="text"
                    placeholder="xxx-xxx-xxxxx"
                    class="form-control pl-0 input_style phn_number"
                    [(ngModel)]="business.phone"
                    name="phone"
                  />
                </div>
              </div>
              <div class="business_input">
                <label for="business_email">Email *</label>
                <input
                  type="email"
                  placeholder="Email address"
                  class="form-control pl-0 input_style"
                  [(ngModel)]="business.email"
                  name="email"
                />
              </div>
              <div class="business_input">
                <label for="business_address">Address *</label>
                <input
                  type="address"
                  placeholder="Type full address"
                  class="form-control pl-0 input_style"
                  [(ngModel)]="business.address"
                  name="address"
                />
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xl-4">
          <h3 class="head_color">Location</h3>
          <div>
            <form action="" class="add_business">
              <div class="business_input">
                <input
                  type="text"
                  placeholder="Type store name to pin location on the map"
                  class="form-control pl-0 input_style"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="off"
                  #search
                />
              </div>
              <div class="business_input">
                <button
                  class="form-control pl-0 shadow_btn location_btn"
                  (click)="getCurrentPosition()"
                >
                  <img
                    src="/assets/images/currentLocation.png"
                    alt=""
                    class="direction"
                  />Use Current Location
                </button>
              </div>
              <div class="business_input" style="text-align:center">
                <a href="#" class="ques_link">Don't know how to?</a>
              </div>
              <div class="business_input">
                <agm-map
                  [latitude]="business.location._lat"
                  [longitude]="business.location._long"
                  [zoom]="zoom"
                >
                  <agm-marker
                    [latitude]="business.location._lat"
                    [longitude]="business.location._long"
                  ></agm-marker>
                </agm-map>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-xl-4">
          <h3 class="head_color">Photos</h3>
          <div>
            <form class="add_business">
              <div class="business_photos">
                <div
                  class="upload_photo_wrapper"
                  *ngFor="let localFile of localFiles"
                >
                  <img [src]="localFile" alt="}" class="imagecheck-image" />
                </div>
                <div class="upload_photo_wrapper">
                  <button class="shadow_btn upload_photo">+</button>
                  <input type="file" (change)="uploadImage($event)" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div style="padding:20px;text-align: center;">
        <input type="checkbox" style="display:inline;font-size:20px;" />
        <p style="display:inline">
          Show who add this business? Let the business know somebody support
          them.
        </p>
      </div>
      <div style="text-align: center;">
        <button
          class="submit_business"
          (click)="addBusiness()"
          id="submitButton"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
</div>