@font-face {
  font-family: proxima-regular;
  src: url("../../../assets/fonts/proxima-nova-regular.ttf");
}
.add_business {
  border: 1px solid #b9b1b1;
  border-radius: 10px;
  padding: 31px;
  height: 520px;
}

.business_input {
  padding-bottom: 20px;
}
.input_style {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  border-bottom: 2px solid #e4e0e0;
}
input {
  font-size: 15px;
  font-family: proxima-regular;
}
.form-control:focus {
  box-shadow: none !important;
}
.form-control::-webkit-input-placeholder {
  color: #d0d0d0;
  font-size: 13px;
}
.form-control:-moz-placeholder {
  color: #e4e0e0;
  font-size: 13px;
}
.form-control::-ms-input-placeholder {
  color: #e4e0e0;
  font-size: 13px;
}
.head_color {
  color: #00b2aa;
  padding-left: 30px;
}
.shadow_btn {
  border: 0px;
  border-radius: 46px;
  background-size: 20px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-appearance: textfield;
  font-size: 0.8em;
  font-weight: 300;
  background-position-y: 9px;
  background-position-x: 25px;
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
}
.catg_btn {
  height: calc(1.5em + 0.75rem + 9px);
  padding: 0px 0px;
  font-family: proxima-regular;
  padding-left: 20px !important;
}
.catg_btn:focus {
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22) !important;
}

.location_btn {
  padding: 0px 0px;
  width: 186px !important;
  margin-left: auto;
  margin-right: auto;
  font-family: proxima-regular;
}
.ques_link {
  color: #00b2aa;
  text-decoration: underline;
}
.map {
  height: 300px;
  border-radius: 20px;
}
.submit_business {
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 15px;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  border: 0px;
  margin-bottom: 10px;
  color: white;
}
.upload_photo_wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
}

.upload_photo {
  color: #ff6969;
  background-color: white;
  padding: 23px 33px;
  border-radius: 8px;
  font-size: 29px;
  font-weight: bold;
}
.inline {
  display: flex;
  justify-content: flex-end;
}
.code {
  flex: 0.5;
  margin-right: 9px;
}
.phn_number {
  flex: 2;
}

.upload_photo_wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.direction {
  padding-right: 10px;
}
.all_thumbnails {
  height: 80px;
  width: 22%;
  border-radius: 10px;
  margin-top: 9px;
}
button {
  outline: none;
}
