recipe-business {
  .business-name {
    text-transform: capitalize;
    text-align: center;
    color: #7a7a7a;

    @media screen and (min-width: 320px) {
      font-size: 1.2rem !important;
    }

    @media screen and (min-width: 360px) {
      font-size: 1.2em !important;
    }
  }

  .second-slider-image {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
}
