<ion-content>
  <div class="container-fluid mb-4 container-padding">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-xl-3">
        <ul class="list-group list-group-flush follower-side-collist">
          <li class="list-group-item pl-0">
            Your Followers
            <span class="float-right"
              ><i class="fa fa-chevron-right" aria-hidden="true"></i
            ></span>
          </li>
          <li class="list-group-item pl-0 border-bottom active-tab">
            People you follow<span class="float-right"
              ><i class="fa fa-chevron-right" aria-hidden="true"></i
            ></span>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 col-xl-6">
        <ul class="list-group list-group-flush following-list mx-auto">
          <li class="list-group-item">
            <div class="follower-grid">
              <div class="background-property follower-img follower-img1"></div>
              <h2 class="mb-0">Cras justo odio</h2>
              <button
                type="button"
                class="btn btn-primary follow-button float-right"
              >
                Following
              </button>
            </div>
          </li>
          <li class="list-group-item">
            <div class="follower-grid">
              <div class="background-property follower-img follower-img1"></div>
              <h2 class="mb-0">Dapibus ac facilisis in</h2>
              <button
                type="button"
                class="btn btn-primary follow-button float-right"
              >
                Following
              </button>
            </div>
          </li>
          <li class="list-group-item">
            <div class="follower-grid">
              <div class="background-property follower-img follower-img1"></div>
              <h2 class="mb-0">Morbi leo risus</h2>
              <button
                type="button"
                class="btn btn-primary follow-button float-right"
              >
                Following
              </button>
            </div>
          </li>
          <li class="list-group-item">
            <div class="follower-grid">
              <div class="background-property follower-img follower-img1"></div>
              <h2 class="mb-0">Porta ac consectetur ac</h2>
              <button
                type="button"
                class="btn btn-primary follow-button float-right"
              >
                Following
              </button>
            </div>
          </li>
          <li class="list-group-item">
            <div class="follower-grid">
              <div class="background-property follower-img follower-img1"></div>
              <h2 class="mb-0">Vestibulum at eros</h2>
              <button
                type="button"
                class="btn btn-primary follow-button float-right"
              >
                Following
              </button>
            </div>
          </li>
          <li class="list-group-item">
            <div class="follower-grid">
              <div class="background-property follower-img follower-img1"></div>
              <h2 class="mb-0">Cras justo odio</h2>
              <button
                type="button"
                class="btn btn-primary follow-button float-right"
              >
                Following
              </button>
            </div>
          </li>
          <li class="list-group-item">
            <div class="follower-grid">
              <div class="background-property follower-img follower-img1"></div>
              <h2 class="mb-0">Dapibus ac facilisis in</h2>
              <button
                type="button"
                class="btn btn-primary follow-button float-right"
              >
                Following
              </button>
            </div>
          </li>
          <li class="list-group-item">
            <div class="follower-grid">
              <div class="background-property follower-img follower-img1"></div>
              <h2 class="mb-0">Dapibus ac facilisis in</h2>
              <button
                type="button"
                class="btn btn-primary follow-button float-right"
              >
                Following
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-12 col-xl-3">
        <form>
          <input
            type="text"
            class="form-control follower-search"
            placeholder="Search Someone"
          />
        </form>
      </div>
    </div>
  </div>
</ion-content>
