<ion-content padding>
  <ion-grid>
    <ion-row class="top-row">
      <ion-col col-11 class="search-bar">
        <searchbar #searchBar (keyup)="getItems($event)" (keyup.enter)="getResult()"></searchbar>
        <p class="example-text">e.g. city name, food name, object name</p>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only class="add_btn" (click)="homePage()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row class="inner-body">
      <ion-list *ngIf="searchList">
        <div>
          <ion-item *ngIf="!resultItems; else customItem">
            No suggetions found
          </ion-item>
          <ng-template #customItem>
            <ion-item *ngFor="let item of resultItems" (click)="getResult(item)">
              {{ item.query }}
            </ion-item>
          </ng-template>
        </div>
      </ion-list>

      <ion-list *ngIf="!searchList">
        <ion-item class="current">
          <current-location [text]="'Current Location (Show nearby results)'" [page]="'search'"></current-location>
        </ion-item>
        <ion-item class="header">Popular Search Words</ion-item>
        <button class="suggetions" ion-item *ngFor="let item of popularKeywords" (click)="getResult(item)">
          {{ item.query }}
        </button>

        <ion-item class="header" *ngIf="recentSearch && recentSearch.length>0">Recently Searched</ion-item>
        <button class="suggetions" ion-item *ngFor="let item of recentSearch" (click)="getResult(item)">
          {{ item.query }}
        </button>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
