<div class="card discussion-card border-0" *ngIf="forum" (click)="openForum()">
  <div class="card-body">
    <span class="discussion-tag"># vegan</span>
    <span class="discussion-time">Posted {{ publishedTime }}</span>
    <div class="grid-section mt-2 mb-1" *ngIf="userImage">
      <div class="discussionuser-img background-property" [ngStyle]="{ 'background-image': 'url(' + userImage + ')'}">
      </div>
      <h2 class="mb-0">{{ forum.addedBy.name }}</h2>
    </div>
    <div class="d-flex">
      <div class="row" *ngIf="forum.photos.length > 0; else showLink">
        <div class="col-7">
          <div class="discussion-info">
            <div style="height: 90px;">
              <h2 class="mt-2">{{ forum.title }}</h2>
              <p class="mb-0">{{ description }}</p>
            </div>
            <ul class="pl-0 mb-0 discussion-commentlist mt-3">
              <li>
                <img src="/assets/images/like.svg" alt="no-image">
                <span>{{ forum.likes }}</span>
              </li>
              <li>
                <img src="/assets/images/chat.svg" alt="no-image">
                <span>{{ forum.dislikes }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-5" style="padding-left: 0;">
          <div class="discussion-img background-property" [ngStyle]="{ 'background-image': 'url(' + thumbnail + ')'}">
          </div>
        </div>
      </div>
      <ng-template #showLink>
        <div class="col-12">
          <div class="discussion-info">
            <div style="height: 90px;">
              <h2 class="mt-2">{{ forum.title }}</h2>
              <p class="mb-0">{{ forum.link }}</p>
            </div>
            <ul class="pl-0 mb-0 discussion-commentlist mt-3">
              <li>
                <img src="/assets/images/like.svg" alt="no-image">
                <span>{{ forum.likes }}</span>
              </li>
              <li>
                <img src="/assets/images/chat.svg" alt="no-image">
                <span>{{ forum.dislikes }}</span>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>