<div class="container-fluid container-padding">
  <div class="row">
    <div class="col-11 m-auto">
      <div class="row">
        <div class="col-10 m-auto">
          <div class="row">
            <div class="col-4">
              <div class="profile-img background-property ml-auto mr-auto" (click)="openEditProfile()"
                [ngStyle]="{ 'background-image': 'url(' + profileImage + ')'}"></div>
              <div class="mt-4 profileimg-row">
                <div class="row level-card">
                  <div class="col-3 vertical-center text-center bean-col">
                    <div>
                      <img src="/assets/images/coffee-bean.svg" alt="" />
                      <p class="mb-0"> {{ level.name }} </p>
                    </div>
                  </div>
                  <div class="col-6 level-col vertical-center text-center pl-0 pr-0">
                    <h1>
                      <span class="points-obtained">{{ level.startPoint }}</span> /
                      <span class="total-points"> {{ level.endPoint }} </span>
                    </h1>

                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="mb-0 mt-1">Level {{ level.level }}</p>
                  </div>
                  <div class="col-3 vertical-center">
                    <img src="/assets/images/question.svg" alt="" class="question-img" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8 profile-info">
              <div class="d-flex">
                <h1 class="mb-0"> {{ user.name }} </h1>
                <button type="button" class="btn btn-outline-primary edit-button" (click)="openEditProfile()">
                  Edit My Page
                </button>
              </div>
              <ul class="follower-locationlist pl-0">
                <li *ngIf="location">
                  <h2>
                    <span><img src="/assets/images/maps-and-flags.svg" /></span>{{ location.city }},
                    {{ location.state }}
                  </h2>
                </li>
                <li (click)="openFollowers()">
                  <h2><span> {{ user.followers.length }} </span>Followers</h2>
                </li>
                <li (click)="openFollowers()">
                  <h2><span> {{ user.followings.length }} </span>Following</h2>
                </li>
              </ul>
              <p>
                {{ user.about }}
              </p>
              <div class="preferences-div">
                <h2>Preference</h2>
                <ul class="pl-0 preference-list">
                  <li>
                    <div class=" vertical-center preferences-imgdiv">
                      <img src="/assets/images/grocery.svg" />
                    </div>
                    <h2>Vegetaria</h2>
                  </li>
                  <li>
                    <div class=" vertical-center preferences-imgdiv">
                      <img src="/assets/images/grocery.svg" />
                    </div>
                    <h2>Gluten Free</h2>
                  </li>
                  <li>
                    <div class=" vertical-center preferences-imgdiv">
                      <img src="/assets/images/grocery.svg" />
                    </div>
                    <h2>Fair Trade</h2>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="border-top profile-subnav bg-light">
      <div class="row">
        <div class="col-10 m-auto">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" (click)="changeTab('collection')">
                <button type="button" class="btn btn-secondary" [class.active]="tab === 'collection'">
                  My Collection
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeTab('group')">
                <button type="button" class="btn btn-secondary" [class.active]="tab === 'group'">
                  My Groups
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeTab('recipe')">
                <button type="button" class="btn btn-secondary" [class.active]="tab === 'recipe'">
                  Recipes
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeTab('product')">
                <button type="button" class="btn btn-secondary" [class.active]="tab === 'product'">
                  Recommended Products
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeTab('blog')">
                <button type="button" class="btn btn-secondary" [class.active]="tab === 'blog'">
                  Blog
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="changeTab('vlog')">
                <button type="button" class="btn btn-secondary" [class.active]="tab === 'vlog'">
                  Vlog
                </button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="tab === 'collection'">
      <div class="col-11 m-auto">
        <div class="row collection-row">
          <div class="col-3">
            <ul class="list-group list-group-flush follower-side-collist">
              <li class="list-group-item pl-0" [class.active-tab]="collectionTab === 'business'"
                (click)="changeCollectionTab('business')">
                Saved Businesses
                <span class="float-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
              </li>
              <li class="list-group-item pl-0" [class.active-tab]="collectionTab === 'recipe'"
                (click)="changeCollectionTab('recipe')">
                Saved Recipes
                <span class="float-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
              </li>
              <li class="list-group-item pl-0" [class.active-tab]="collectionTab === 'product'"
                (click)="changeCollectionTab('product')">
                Saved Recommended Products
                <span class="float-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
              </li>
              <li class="list-group-item pl-0" [class.active-tab]="collectionTab === 'blog'"
                (click)="changeCollectionTab('blog')">
                Saved Articles & Stories
                <span class="float-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
              </li>
              <li class="list-group-item pl-0 border-bottom" [class.active-tab]="collectionTab === 'vlog'"
                (click)="changeCollectionTab('vlog')">
                Saved Videos<span class="float-right "><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
              </li>
            </ul>
          </div>
          <div class="col-9" *ngIf="collectionTab === 'business'">
            <div class="row saved-message" *ngIf="bookmarkedBusinesses.length === 0; else showBookmarkedBusinesses">
              <h3>Saved Businesses</h3>
              <p class="h6">When you see something you like, tap the bookmark button to save it.</p>
            </div>
            <ng-template #showBookmarkedBusinesses>
              <ul class="category-list horizontal-scroll w-100 p-1">
                <li>
                  <button type="button" class="btn btn-info selected-category-button">
                    All
                  </button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">
                    Grocery
                  </button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">Cafe</button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">Resturant</button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">Health</button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">
                    Artisan Produce
                  </button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">
                    Bath & Beauty
                  </button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">Resturant</button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">Health</button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">
                    Bath & Beauty
                  </button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">Resturant</button>
                </li>
                <li>
                  <button type="button" class="btn btn-info">Health</button>
                </li>
              </ul>
              <div class="row">
                <div class="col-4">
                  <div class="card popular-placescard border-0">
                    <div class="card-header border-0 p-0 popular-img1 background-property">
                      <div class="bookmark-div">
                        <img src="/assets/images/bookmark.svg" />
                      </div>
                    </div>
                    <div class="card-body">
                      <button type="button" class="btn btn-primary">Cafe</button>
                      <h3>Bike & Bite Organic Bean</h3>
                      <p class="mb-0">
                        <img src="/assets/images/maps-and-flags.svg" />Orlando, FL
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card popular-placescard border-0">
                    <div class="card-header border-0 p-0 popular-img1 background-property">
                      <div class="bookmark-div">
                        <img src="/assets/images/bookmark.svg" />
                      </div>
                    </div>
                    <div class="card-body">
                      <button type="button" class="btn btn-primary">Cafe</button>
                      <h3>Bike & Bite Organic Bean</h3>
                      <p class="mb-0">
                        <img src="/assets/images/maps-and-flags.svg" />Orlando, FL
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="card popular-placescard border-0">
                    <div class="card-header border-0 p-0 popular-img1 background-property">
                      <div class="bookmark-div">
                        <img src="/assets/images/bookmark.svg" />
                      </div>
                    </div>
                    <div class="card-body">
                      <button type="button" class="btn btn-primary">Cafe</button>
                      <h3>Bike & Bite Organic Bean</h3>
                      <p class="mb-0">
                        <img src="/assets/images/maps-and-flags.svg" />Orlando, FL
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="col-9" *ngIf="collectionTab === 'recipe'">
            <div class="row saved-message" *ngIf="bookmarkedRecipes.length === 0; else showBookmarkedRecipes">
              <h3>Saved Recipes</h3>
              <p class="h6">When you see something you like, tap the bookmark button to save it.</p>
            </div>
            <ng-template #showBookmarkedRecipes></ng-template>
          </div>

          <div class="col-9" *ngIf="collectionTab === 'product'">
            <div class="row saved-message" *ngIf="bookmarkedProducts.length === 0; else showBookmarkedProducts">
              <h3>Saved Recommended Products</h3>
              <p class="h6">When you see something you like, tap the bookmark button to save it.</p>
            </div>
            <ng-template #showBookmarkedProducts></ng-template>
          </div>

          <div class="col-9" *ngIf="collectionTab === 'blog'">
            <div class="row saved-message" *ngIf="bookmarkedBlogs.length === 0; else showBookmarkedBlogs">
              <h3>Saved Articles</h3>
              <p class="h6">When you see something you like, tap the bookmark button to save it.</p>
            </div>
            <ng-template #showBookmarkedBlogs></ng-template>
          </div>

          <div class="col-9" *ngIf="collectionTab === 'vlog'">
            <div class="row saved-message" *ngIf="bookmarkedVlogs.length === 0; else showBookmarkedVlogs">
              <h3>Saved Videos</h3>
              <p class="h6">When you see something you like, tap the bookmark button to save it.</p>
            </div>
            <ng-template #showBookmarkedVlogs></ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="row filter-row" *ngIf="tab === 'group'">
      <div class="col-11 m-auto">
        <div class="row pt-4" *ngIf="addedGroups.length > 0; else showNoGroups">
          <div class="col-3">
            <div class="background-property explore-groupimg explore-groupimg1"></div>
            <h2 class="mt-3 sub-heading">Plants & Seeds Exchange in Orlando</h2>
          </div>
          <div class="col-3">
            <div class="background-property explore-groupimg explore-groupimg2"></div>
            <h2 class="mt-3 sub-heading">Orlando Yoga Gathering</h2>
          </div>
          <div class="col-3">
            <div class="background-property explore-groupimg explore-groupimg3"></div>
            <h2 class="mt-3 sub-heading">
              Biking for Good Cause/ Central Florida
            </h2>
          </div>
          <div class="col-3">
            <div class="background-property explore-groupimg explore-groupimg4"></div>
            <h2 class="mt-3 sub-heading">Healthy Diet Weekend Workshop</h2>
          </div>
        </div>
        <ng-template #showNoGroups>
          <div class="row pt-3">
            <div class="col-6">
              <div class="card Inspiration-card border-0">
                <div class="border-0 p-0  background-property"></div>
                <div class="card-body">
                  <div style="text-align: center;padding-top:20px;">
                    <h4>You haven`t joined any group.</h4>
                    <p style="margin-bottom: 0px">
                      Create a group or find some interesting groups in the community .
                    </p>
                    <p>Join group conversation today.</p>
                    <div>
                      <img src="/assets/images/Mask Group 199.png" alt="" />
                    </div>
                    <div>
                      <img src="/assets/images/addIcon.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-6">
                <div class="background-property explore-groupimg explore-groupimg1"></div>
                <h2 class="mt-3 sub-heading">Plants & Seeds Exchange in Orlando</h2>
              </div>
              <div class="col-6">
                <div class="background-property explore-groupimg explore-groupimg3"></div>
                <h2 class="mt-3 sub-heading">
                  Biking for Good Cause/ Central Florida
                </h2>
              </div>
              <div class="col-6">
                <div class="background-property explore-groupimg explore-groupimg1"></div>
                <h2 class="mt-3 sub-heading">Plants & Seeds Exchange in Orlando</h2>
              </div>
              <div class="col-6">
                <div class="background-property explore-groupimg explore-groupimg1"></div>
                <h2 class="mt-3 sub-heading">Plants & Seeds Exchange in Orlando</h2>
              </div>
            </div>

          </div>
        </ng-template>
      </div>
    </div>
    <div class="row filter-row" *ngIf="tab === 'recipe'">
      <div class="col-11 m-auto">
        <div class="row" *ngIf="addedRecipes.length > 0; else showNoRecipes">
          <div class="col-4" *ngFor="let recipe of addedRecipes">
            <app-recipe-card [recipe]="recipe"></app-recipe-card>
          </div>
          <div class="col-4">
            <div class="recipe-add-card">
              <div class="background-property add-img mx-auto" (click)="addRecipe()"></div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img1 background-property"></div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0 active-tab">Draft</p>
                  </div>
                  <h3>Coconut Mint Fresh</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card border-0 recipe-card">
              <div class="d-flex">
                <div class="recipe-image recipe-img2 background-property"></div>
                <div class="recipe-info">
                  <div class="recipe-category">
                    <button type="button" class="btn btn-primary mb-0">
                      Salad
                    </button>
                    <p class="mb-0 active-tab">Draft</p>
                  </div>
                  <h3>Coconut Mint Fresh</h3>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <ng-template #showNoRecipes>
          <div class="row pt-3">
            <div class="col-5">
              <div class="card Inspiration-card border-0">
                <div class="border-0 p-0  background-property"></div>
                <div class="card-body">
                  <div style="text-align: center;padding-top:20px;">
                    <h4>You haven`t posted any recipe.</h4>
                    <p>
                      Oops! You haven`t posted nay recipes yet. Click to add one!
                    </p>

                    <img src="/assets/images/nothingtoshow_rcipes-01.png" alt="" />
                    <img class="add-icon" (click)="addRecipe()" src="/assets/images/addIcon.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-7">
              <div class="col-6">
                <div class="card border-0 recipe-card">
                  <div class="d-flex">
                    <div class="recipe-image recipe-img3 background-property">
                      <div class="bookmark-div">
                        <img src="/assets/images/bookmark.svg" />
                      </div>
                    </div>
                    <div class="recipe-info">
                      <div class="recipe-category">
                        <button type="button" class="btn btn-primary mb-0">
                          Salad
                        </button>
                        <p class="mb-0">245 Likes</p>
                      </div>
                      <h3>Coconut Mint Fresh</h3>
                      <div class="recipe-uploadergrid">
                        <div class="recipe-uploaderimg recipe-uploaderimg3 background-property"></div>
                        <div class="recipe-uploadername">
                          <h2 class="mb-0">Dulcineia Dias</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card border-0 recipe-card">
                  <div class="d-flex">
                    <div class="recipe-image recipe-img3 background-property">
                      <div class="bookmark-div">
                        <img src="/assets/images/bookmark.svg" />
                      </div>
                    </div>
                    <div class="recipe-info">
                      <div class="recipe-category">
                        <button type="button" class="btn btn-primary mb-0">
                          Salad
                        </button>
                        <p class="mb-0">245 Likes</p>
                      </div>
                      <h3>Coconut Mint Fresh</h3>
                      <div class="recipe-uploadergrid">
                        <div class="recipe-uploaderimg recipe-uploaderimg3 background-property"></div>
                        <div class="recipe-uploadername">
                          <h2 class="mb-0">Dulcineia Dias</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row filter-row" *ngIf="tab === 'product'">
      <div class="col-11 m-auto">
        <div class="row pt-3" *ngIf="addedProducts.length > 0; else showNoProducts">
          <div class="col-3" *ngFor="let product of addedProducts">
            <app-product-card [product]="product"></app-product-card>
          </div>
          <div class="col-3">
            <div class="add-product-card">
              <img class="add-icon-svg" src="/assets/images/addIcon.svg" (click)="addProduct()">
            </div>
          </div>
        </div>
        <ng-template #showNoProducts>
          <div class="row pt-3">
            <div class="col-6">
              <div class="card Inspiration-card border-0">
                <div class="border-0 p-0  background-property"></div>
                <div class="card-body">
                  <div style="text-align: center;padding-top:20px;">
                    <h4>You haven`t posted any products.</h4>
                    <p class="no_product">
                      Oops! You haven`t added any product yet. Any alternative product you want to recommend people?
                    </p>

                    <img src="/assets/images/nothingtoshow-01.png" alt="" />
                    <img class="add-icon" (click)="addProduct()" src="/assets/images/addIcon.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-6">
                <div class="card Inspiration-card border-0">
                  <div class="card-header border-0 p-0 popular-img1 background-property"></div>
                  <div class="card-body">
                    <h3>Bike & Bite Organic Bean</h3>
                    <p class="mb-0">Sarah R.Rosen<span>/</span> March 13</p>
                    <button type="button" class="btn btn-primary mb-0 mt-2">
                      Cafe
                    </button>
                    <div class="bookmark-div">
                      <img src="/assets/images/bookmark.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card Inspiration-card border-0">
                  <div class="card-header border-0 p-0 popular-img1 background-property"></div>
                  <div class="card-body">
                    <h3>Bike & Bite Organic Bean</h3>
                    <p class="mb-0">Sarah R.Rosen<span>/</span> March 13</p>
                    <button type="button" class="btn btn-primary mb-0 mt-2">
                      Cafe
                    </button>
                    <div class="bookmark-div">
                      <img src="/assets/images/bookmark.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card Inspiration-card border-0">
                  <div class="card-header border-0 p-0 popular-img1 background-property"></div>
                  <div class="card-body">
                    <h3>Bike & Bite Organic Bean</h3>
                    <p class="mb-0">Sarah R.Rosen<span>/</span> March 13</p>
                    <button type="button" class="btn btn-primary mb-0 mt-2">
                      Cafe
                    </button>
                    <div class="bookmark-div">
                      <img src="/assets/images/bookmark.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card Inspiration-card border-0">
                  <div class="card-header border-0 p-0 popular-img1 background-property"></div>
                  <div class="card-body">
                    <h3>Bike & Bite Organic Bean</h3>
                    <p class="mb-0">Sarah R.Rosen<span>/</span> March 13</p>
                    <button type="button" class="btn btn-primary mb-0 mt-2">
                      Cafe
                    </button>
                    <div class="bookmark-div">
                      <img src="/assets/images/bookmark.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row filter-row" *ngIf="tab === 'blog'">
      <div class="col-11 m-auto">
        <div class="row pt-3" *ngIf="addedBlogs.length > 0; else showNoBlogs">
          <div class="col-3" *ngFor="let blog of addedBlogs">
            <app-blog-card [blog]="blog"></app-blog-card>
          </div>
          <div class="col-3">
            <div class="add-card">
              <div class="background-property add-img mx-auto" (click)="addBlog()"></div>
            </div>
          </div>
        </div>
        <ng-template #showNoBlogs>
          <div class="row pt-3">
            <div class="col-6">
              <div class="card Inspiration-card border-0">
                <div class="border-0 p-0 background-property"></div>
                <div class="card-body">
                  <div style="text-align: center;padding-top:20px;">
                    <h4>You haven`t posted any article.</h4>
                    <p style="margin-bottom:0px">
                      Do you have blog to share ideas to consicious community?
                    </p>
                    <p>This is place you can share your ideas and stories!</p>
                    <img src="/assets/images/blog_oops-01.png" alt="" />
                    <img src="/assets/images/addIcon.png" alt="" (click)="addBlog()" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-6" style="margin-top: 20px;">
                <div class="card Inspiration-card border-0">
                  <div class="card-header border-0 p-0 popular-img1 background-property"></div>
                  <div class="card-body">
                    <h3>Bike & Bite Organic Bean</h3>
                    <p class="mb-0">Sarah R.Rosen<span>/</span> March 13</p>
                    <button type="button" class="btn btn-primary mb-0 mt-2">
                      Cafe
                    </button>
                    <div class="bookmark-div">
                      <img src="/assets/images/bookmark.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card Inspiration-card border-0">
                  <div class="card-header border-0 p-0 popular-img1 background-property"></div>
                  <div class="card-body">
                    <h3>Bike & Bite Organic Bean</h3>
                    <p class="mb-0">Sarah R.Rosen<span>/</span> March 13</p>
                    <button type="button" class="btn btn-primary mb-0 mt-2">
                      Cafe
                    </button>
                    <div class="bookmark-div">
                      <img src="/assets/images/bookmark.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card Inspiration-card border-0">
                  <div class="card-header border-0 p-0 popular-img1 background-property"></div>
                  <div class="card-body">
                    <h3>Bike & Bite Organic Bean</h3>
                    <p class="mb-0">Sarah R.Rosen<span>/</span> March 13</p>
                    <button type="button" class="btn btn-primary mb-0 mt-2">
                      Cafe
                    </button>
                    <div class="bookmark-div">
                      <img src="/assets/images/bookmark.svg" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card Inspiration-card border-0">
                  <div class="card-header border-0 p-0 popular-img1 background-property"></div>
                  <div class="card-body">
                    <h3>Bike & Bite Organic Bean</h3>
                    <p class="mb-0">Sarah R.Rosen<span>/</span> March 13</p>
                    <button type="button" class="btn btn-primary mb-0 mt-2">
                      Cafe
                    </button>
                    <div class="bookmark-div">
                      <img src="/assets/images/bookmark.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row filter-row" *ngIf="tab === 'vlog'">
      <div class="col-11 m-auto">
        <div class="row pt-3" *ngIf="addedVlogs.length > 0; else showNoVlogs">
          <div class="col-3" *ngFor="let vlog of addedVlogs">
            <app-vlog-card [vlog]="vlog"></app-vlog-card>
          </div>
          <div class="col-3">
            <div class="card alternative-card border-0">
              <div class="vlog-add-card">
                <div class="background-property add-img mx-auto"></div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #showNoVlogs>
          <div class="row pt-3">
            <div class="col-6">
              <div class="card Inspiration-card border-0">
                <div class="border-0 p-0  background-property"></div>
                <div class="card-body">
                  <div style="text-align: center;padding-top:20px;">
                    <h4>You haven`t posted any video.</h4>
                    <p class="no_product">
                      Do you have some idea to share to conscious community? This is the place you can share your ideas
                      and
                      stories!
                    </p>

                    <img src="/assets/images/vlog-02.png" alt="" />
                    <img src="/assets/images/addIcon.png" (click)="addVlog()" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-6">
              <div class="col-6">
                <div class="card alternative-card border-0">
                  <div class="card-header border-0 p-0 local-img4 background-property">
                    <div class="row">
                      <div class="col-12">
                        <div class="bookmark-div">
                          <img src="/assets/images/bookmark.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="share-div">
                      <img src="/assets/images/share.svg" />
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="alternative-list pl-0 mb-2">
                      <li>
                        <span>07:50</span>
                      </li>
                      <li>
                        <img src="/assets/images/eye.svg" alt="" class="mr-2 img-1" />10.1K
                      </li>
                      <li>
                        <img src="/assets/images/like.svg" alt="" class="mr-2 img-2" />28
                      </li>
                    </ul>
                    <h3>
                      inhabit: a permoculture perspective / tropical permoculture
                    </h3>

                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card alternative-card border-0">
                  <div class="card-header border-0 p-0 local-img4 background-property">
                    <div class="row">
                      <div class="col-12">
                        <div class="bookmark-div">
                          <img src="/assets/images/bookmark.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="share-div">
                      <img src="/assets/images/share.svg" />
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="alternative-list pl-0 mb-2">
                      <li>
                        <span>07:50</span>
                      </li>
                      <li>
                        <img src="/assets/images/eye.svg" alt="" class="mr-2 img-1" />10.1K
                      </li>
                      <li>
                        <img src="/assets/images/like.svg" alt="" class="mr-2 img-2" />28
                      </li>
                    </ul>
                    <h3>
                      inhabit: a permoculture perspective / tropical permoculture
                    </h3>

                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card alternative-card border-0">
                  <div class="card-header border-0 p-0 local-img4 background-property">
                    <div class="row">
                      <div class="col-12">
                        <div class="bookmark-div">
                          <img src="/assets/images/bookmark.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="share-div">
                      <img src="/assets/images/share.svg" />
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="alternative-list pl-0 mb-2">
                      <li>
                        <span>07:50</span>
                      </li>
                      <li>
                        <img src="/assets/images/eye.svg" alt="" class="mr-2 img-1" />10.1K
                      </li>
                      <li>
                        <img src="/assets/images/like.svg" alt="" class="mr-2 img-2" />28
                      </li>
                    </ul>
                    <h3>
                      inhabit: a permoculture perspective / tropical permoculture
                    </h3>

                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card alternative-card border-0">
                  <div class="card-header border-0 p-0 local-img4 background-property">
                    <div class="row">
                      <div class="col-12">
                        <div class="bookmark-div">
                          <img src="/assets/images/bookmark.svg" />
                        </div>
                      </div>
                    </div>
                    <div class="share-div">
                      <img src="/assets/images/share.svg" />
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class="alternative-list pl-0 mb-2">
                      <li>
                        <span>07:50</span>
                      </li>
                      <li>
                        <img src="/assets/images/eye.svg" alt="" class="mr-2 img-1" />10.1K
                      </li>
                      <li>
                        <img src="/assets/images/like.svg" alt="" class="mr-2 img-2" />28
                      </li>
                    </ul>
                    <h3>
                      inhabit: a permoculture perspective / tropical permoculture
                    </h3>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>