.container-fluid {
  overflow: scroll;  
}



  
.main-content {
  margin-bottom: 60px !important;
}
.container-padding {
  padding-top: 70px;
}
.background-property {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.profile-img {
  cursor: pointer;
  width: 130px;
  height: 130px;
  margin-bottom: 55px;
  border-radius: 100%;
  position: relative;
  border: 7px solid #ffffff;
}
.profile-img:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -14px;
  left: -14px;
  bottom: 2px;
  border-radius: 100%;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  width: 144px;
  height: 144px;
}
.profileimg-row {
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  border-radius: 11px;
}
.vertical-center {
  display: grid;
  align-content: center;
}
.level-col h1 {
  font-size: 0.8em;
}
.points-obtained {
  color: #00b2aa;
}
.total-points {
  color: #868686;
}
.level-col p,
.bean-col p {
  font-size: 0.7em;
  color: #868686;
}
.bean-col div {
  padding: 10px 25px;
}
.bean-col img,
.question-img {
  width: 30px;
  margin-top: 15px;
}
.level-card {
  padding-bottom: 12px;
}
.btn-primary:focus,
.btn-secondary:focus,
.btn-outline:focus,
.btn-info:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.btn-primary,
.btn-info {
  padding: 7px 25px;
  border-radius: 20px;
  font-size: 0.8em;
  border: 0px;
  margin-bottom: 10px;
  margin-right: 15px;
}
.btn-info,
.btn-info:hover,
.btn-info:not(:disabled):not(.disabled):active {
  background: #b2b2b2;
}
.btn-outline-primary {
  border-radius: 20px;
  font-size: 0.8em;
  color: #ff6969;
  border-color: #ff6969;
}
.selected-category-button {
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  background: #ff6969;
  border-color: #ff6969;
  color: #ffffff;
}
.edit-button {
  padding: 0px 25px;
  height: 36px;
  letter-spacing: 1px;
  font-size: 0.9em;
  margin-left: 35px;
  margin-top: 17px;
}
@media only screen and (max-width: 480px) {
  .edit-button {
    padding: 0px 25px;
    height: 36px;
    letter-spacing: 1px;
    font-size: 13px;
    margin-left: 35px;
    margin-top: 17px;
  } 
}
@media only screen and (min-width: 768px){
  .edit-button {
    padding: 0px 25px;
    height: 36px;
    letter-spacing: 1px;
    font-size: 13px;
    margin-left: 35px;
    margin-top: 17px;
  }
}
@media only screen and (min-width: 992px){  
  .edit-button {
    padding: 0px 25px;
    height: 36px;
    letter-spacing: 1px;
    font-size: 0.9em;
    margin-left: 35px;
    margin-top: 17px;
  }
}
.profile-info {
  padding-left: 70px;
  padding-right: 70px;
}
.profile-info .d-flex {
  margin-bottom: 20px;
}
.profile-info h1 {
  font-size: 1.8em;
  text-transform: capitalize;
  color: rgb(72, 72, 72);
}
.profile-info p {
  font-size: 0.9em;
  line-height: 20px;
  color: rgb(72, 72, 72);
}
.follower-locationlist li {
  margin-right: 40px;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .follower-locationlist li {
    margin-right: 13px;
    cursor: pointer;
    text-align: center;
  }  
}
@media only screen and (min-width: 768px){
  .follower-locationlist li {
    margin-right: 40px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 992px){  
  .follower-locationlist li {
    margin-right: 40px;
    cursor: pointer;
  }
}
.follower-locationlist li,
.preference-list li {
  display: inline-block;
}

.preference-list{
  display: block;
}
@media only screen and (max-width: 480px) {
  .preference-list{
    display: none;
  }
}
@media only screen and (min-width: 768px){
  .preference-list{
    display: none;
  }
}
@media only screen and (min-width: 992px){  
  .preference-list{
    display: block;
  }
}
.preference-list li {
  margin-right: 20px;
}
.preference-list li h2 {
  font-size: 0.8em;
  color: #b2b2b2;
  text-align: center;
}
.follower-locationlist h2 {
  font-size: 0.9em;
  color: #868686;
}
.follower-locationlist li img {
  width: 13px;
  margin-top: -5px;
}
.follower-locationlist li span {
  margin-right: 10px;
}
.preferences-div h2 {
  font-size: 1.2em;
  color: rgb(72, 72, 72);
}

.profile-subnav {
  margin-top: 70px;
  padding: 22px;
}
.profile-subnav .nav-item .nav-link {
  color: #00b2aa;
  font-size: 1em;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled):active {
  border: 0px;
  background: none;
  color: #00b2aa;
}
.active {
  background-color: #00b2aa !important;
  border-radius: 20px;
  letter-spacing: 1px;
  padding: 7px 34px;
}
.preferences-imgdiv {
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.preferences-imgdiv img {
  display: block;
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}
/* my collection */
.collection-row {
  padding-top: 70px;
}
.follower-side-collist li {
  font-size: 0.9em;
}
.follower-side-collist .fa {
  font-size: 12px;
}
.active-tab {
  color: #00b2aa;
}
.progress {
  border-radius: 10px;
  height: 0.65em;
}
.bg-success {
  background-color: #00b2aa !important;
}
.horizontal-scroll {
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
.category-list {
  padding-left: 0px;
  white-space: nowrap;
}
.category-list li {
  display: inline-block;
}
.popular-placescard {
  border-radius: 16px;
  margin-bottom: 50px;
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  font-family: "proxima-regular", sans-serif;
}
.popular-placescard .card-header {
  border-radius: 16px;
  height: 140px;
}
.popular-placescard .card-body h3 {
  font-size: 1em;
  height: 38px;
  color: rgb(72, 72, 72);
}
.popular-placescard .card-body p {
  font-size: 0.8em;
  color: #868686;
}
.popular-placescard .card-body p img {
  width: 13px;
  margin-right: 5px;
  margin-top: -5px;
}
.popular-img1 {
  background: url("https://images.unsplash.com/photo-1561662702-2f299776c2f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.popular-img2 {
  background: url("https://images.unsplash.com/photo-1561617944-55f3e70bf7dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.popular-img3 {
  background: url("https://images.unsplash.com/photo-1561517146-dfbd99b0c14d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.bookmark-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e3e3e3;
  display: grid;
  align-items: center;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  justify-content: center;
}
.bookmark-div img {
  width: 14px;
  display: block;
}
.popular-placescard .btn-primary {
  padding: 3px 20px;
  border-radius: 20px;
  font-size: 0.8em;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  border: 0px;
  margin-bottom: 10px;
}

// Group CSS
.explore-groupimg {
  height: 97px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.explore-groupimg1 {
  background: url("https://images.unsplash.com/photo-1559294824-90be3c97141e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.explore-groupimg2 {
  background: url("https://images.unsplash.com/photo-1549576490-b0b4831ef60a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.explore-groupimg3 {
  background: url("https://images.unsplash.com/photo-1512588966017-9add7f6bee7c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.explore-groupimg4 {
  background: url("https://images.unsplash.com/photo-1520291492317-ea0d4cea4d94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.sub-heading {
  font-size: 1.2em;
  color: rgb(72, 72, 72);
}
.filter-row {
  padding: 30px 0px 50px 0px;
}

// Blog CSS
.Inspiration-card {
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
}
.Inspiration-card .card-header {
  border-radius: 16px;
  height: 140px;
}
.Inspiration-card .card-body h3 {
  font-size: 1em;
  color: rgb(72, 72, 72);
  height: 38px;
}
.Inspiration-card .card-body p {
  font-size: 0.8em;
  color: #868686;
}
.Inspiration-card .card-body p span {
  margin-right: 5px;
  margin-left: 5px;
}
.popular-img1 {
  background: url("https://images.unsplash.com/photo-1561662702-2f299776c2f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.popular-img2 {
  background: url("https://images.unsplash.com/photo-1561617944-55f3e70bf7dc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.popular-img3 {
  background: url("https://images.unsplash.com/photo-1561517146-dfbd99b0c14d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.local-img4 {
  background: url("https://images.unsplash.com/photo-1541968492405-2274a5e9274e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.local-img5 {
  background: url("https://images.unsplash.com/photo-1556463208-f8c2505e8299?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.btn-primary {
  padding: 3px 20px;
  border-radius: 20px;
  font-size: 0.8em;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  border: 0px;
  margin-bottom: 10px;
}
.btn-primary:focus,
.btn-outline-primary:focus {
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none;
}
.bookmark-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e3e3e3;
  display: grid;
  align-items: center;
  float: right;
  justify-content: center;
}
.bookmark-div img {
  width: 14px;
  display: block;
}
.add-img {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: url("../../../assets/images/addIcon@3x.png");
}

// Product CSS
.add-card {
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  border-radius: 20px;
  display: grid;
  align-content: center;
  height: 291px;
}
.popular-placescard {
  border-radius: 16px;
  width: 270px;
  margin-bottom: 20px;
  margin-right: 30px;
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  height: 291px;
}

@media only screen and (max-width: 480px) {
  .popular-placescard {
    border-radius: 16px;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 30px;
    box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
    height: 291px;
  }
}
@media only screen and (min-width: 768px){
  .popular-placescard {
    border-radius: 16px;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 30px;
    box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
    height: 291px;
  }
}
@media only screen and (min-width: 992px){  
  .popular-placescard {
    border-radius: 16px;
    width: 270px;
    margin-bottom: 20px;
    margin-right: 30px;
    box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
    height: 291px;
  }
}



.popular-placescard .card-header {
  border-radius: 16px;
  height: 140px;
}
.popular-placescard .card-body h3 {
  font-size: 1em;
  height: 38px;
  color: rgb(72, 72, 72);
}
.popular-placescard .card-body p {
  font-size: 0.8em;
  color: #868686;
}
.popular-placescard .card-body p img {
  width: 13px;
  margin-right: 5px;
  margin-top: -5px;
}
.popularproduct-img1 {
  background: url("https://images.unsplash.com/photo-1515543237350-b3eea1ec8082?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.popularproduct-img2 {
  background: url("https://images.unsplash.com/photo-1464013935095-54911b01824e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.popularproduct-img3 {
  background: url("https://images.unsplash.com/photo-1558522180-c617bd37b833?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.recipe-uploaderimg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.recipe-uploaderimg1 {
  background: url("https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?h=350&auto=compress&cs=tinysrgb");
}
.recipe-uploaderimg2 {
  background: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMjA3NjYzMzE1MV5BMl5BanBnXkFtZTgwNTA4NDY4OTE@._V1_UX172_CR0,0,172,256_AL_.jpg");
}
.recipe-uploaderimg3 {
  background: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb");
}
.recipe-uploaderimg4 {
  background: url("https://pbs.twimg.com/profile_images/1079706442763067392/wuaeGZnN.jpg");
}
.recipe-uploadergrid {
  display: grid;
  grid-template-columns: 0.85fr 4fr;
  align-items: center;
}
.recipe-uploadername h2 {
  font-size: 1em;
  color: #b2b2b2;
}
.popular-placescard .btn-primary {
  padding: 3px 20px;
  border-radius: 20px;
  font-size: 0.8em;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  border: 0px;
  margin-bottom: 10px;
}
.bookmark-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e3e3e3;
  display: grid;
  align-items: center;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  justify-content: center;
}
.bookmark-div img {
  width: 14px;
  display: block;
}

// Recipe CSS
.recipe-row {
  margin-top: 60px;
  padding-bottom: 70px;
}
.recipe-card {
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  /* width:430px; */
  border-radius: 20px;
  margin-right: 15px;
  margin-bottom: 40px;
}
.recipe-image {
  width: 130px;
  height: 140px;
  border-radius: 15px;
}
.recipe-img1 {
  background: url("https://images.unsplash.com/photo-1543339308-43e59d6b73a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.recipe-img2 {
  background: url("https://images.unsplash.com/photo-1511609019130-f415a74b3e3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.recipe-img3 {
  background: url("https://images.unsplash.com/photo-1530554764233-e79e16c91d08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.recipe-img4 {
  background: url("https://images.unsplash.com/photo-1505576399279-565b52d4ac71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.recipe-info {
  width: calc(100% - 130px);
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 13px;
}
.recipe-info h3 {
  font-size: 0.9em;
  line-height: 21px;
  height: 47px;
}
.recipe-uploaderimg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.recipe-uploaderimg1 {
  background: url("https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?h=350&auto=compress&cs=tinysrgb");
}
.recipe-uploaderimg2 {
  background: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMjA3NjYzMzE1MV5BMl5BanBnXkFtZTgwNTA4NDY4OTE@._V1_UX172_CR0,0,172,256_AL_.jpg");
}
.recipe-uploaderimg3 {
  background: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb");
}
.recipe-uploaderimg4 {
  background: url("https://pbs.twimg.com/profile_images/1079706442763067392/wuaeGZnN.jpg");
}
.recipe-uploadergrid {
  display: grid;
  grid-template-columns: 0.85fr 4fr;
  align-items: center;
}
.recipe-uploadername h2 {
  font-size: 0.8em;
  color: #b2b2b2;
}
.recipe-category {
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 4fr;
  margin-bottom: 10px;
}
.recipe-category .btn {
  padding: 3px 17px;
  letter-spacing: 1px;
  font-size: 0.8em;
}
.recipe-category p {
  text-align: right;
  font-size: 0.8em;
}
.bookmark-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e3e3e3;
  display: grid;
  align-items: center;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  justify-content: center;
}
.bookmark-div img {
  width: 14px;
  display: block;
}
.btn-primary {
  border-radius: 20px;
  font-size: 0.8em;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  border: 0px;
}
.active-tab {
  color: #00b2aa;
}
.recipe-add-card {
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  border-radius: 20px;
  display: grid;
  align-content: center;
  height: 140px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.add-product-card {
  display: flex;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  height: 291px;
}

// Vlog CSS
.alternative-card {
  margin-bottom: 20px;
}
.alternative-card .card-header {
  height: 225px;
  border-radius: 20px;
}
.alternative-card .card-body h3 {
  font-size: 0.8em;
  height: 38px;
  color: rgb(72, 72, 72);
  text-transform: capitalize;
}
.alternative-card .card-body p {
  font-size: 0.9em;
  color: #b2b2b2;
}
.alternative-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.alternative-img1 {
  background: url("https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?h=350&auto=compress&cs=tinysrgb");
}
.alternative-img2 {
  background: url("https://images-na.ssl-images-amazon.com/images/M/MV5BMjA3NjYzMzE1MV5BMl5BanBnXkFtZTgwNTA4NDY4OTE@._V1_UX172_CR0,0,172,256_AL_.jpg");
}
.alternative-img3 {
  background: url("https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb");
}
.alternative-img4 {
  background: url("https://pbs.twimg.com/profile_images/1079706442763067392/wuaeGZnN.jpg");
}
.alternative-grid {
  display: grid;
  grid-template-columns: 0.85fr 4fr;
  align-items: center;
}
.alternative-name h2 {
  font-size: 0.7em;
  color: #868686;
}
.alternative-list li {
  display: inline-block;
  margin-right: 20px;
  font-size: 0.7em;
  color: #868686;
}
.alternative-list img {
  margin-top: -3px;
}
.alternative-list .img-1 {
  width: 25px;
}
.alternative-list .img-2 {
  width: 17px;
}
.alternative-list li span {
  background: #696868;
  color: #ffffff;
  padding: 5px 15px;
  border-radius: 20px;
}
.alternative-card .bookmark-div {
  margin-top: 20px;
  margin-bottom: 10px;
}
.alternative-card .bookmark-div,
.alternative-card .share-div {
  margin-right: 15px;
}
.bookmark-div,
.share-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #e3e3e3;
  display: grid;
  align-items: center;
  float: right;
  justify-content: center;
}
.bookmark-div img,
.share-div img {
  width: 14px;
  display: block;
}
.local-img4 {
  background: url("https://images.unsplash.com/photo-1541968492405-2274a5e9274e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.local-img5 {
  background: url("https://images.unsplash.com/photo-1556463208-f8c2505e8299?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.vlog-add-card {
  box-shadow: 0 2px 7px 0 rgba(100, 100, 100, 0.22);
  border-radius: 20px;
  display: grid;
  align-content: center;
  height: 225px;
}
.no_product {
  width: 400px;
  margin: auto;
}
.list-group-item {
  cursor: pointer;
}
.saved-message {
  padding-left: 12px;
}
.saved-message h3 {
  display: block;
  width: 100%;
}
.add-icon {
  cursor: pointer;
}
.add-icon-svg {
  cursor: pointer;
  width: 90px;
  margin: auto;
}

.nav {  
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.Feed{
  overflow-x: hidden;  white-space: nowrap;
  margin-left:10%;
}
@media only screen and (max-width: 480px) {
  .Feed{
    overflow-x: auto;  white-space: nowrap;
    margin-left:0%;
  }
}
@media only screen and (min-width: 768px){
  .Feed{
    overflow-x: auto;  white-space: nowrap;
    margin-left:0%;
  }
}
@media only screen and (min-width: 992px){  
  .Feed{
    overflow-x: hidden;  white-space: nowrap;
    margin-left:10%;
  }
}
.de2 { 
  display: inline-block; 
  float: none;  
} 

.categroy-all{
  overflow-x: hidden;  white-space: nowrap;
  margin-left:0%;
}
@media only screen and (max-width: 480px) {
  .categroy-all{
    overflow-x: auto;  white-space: nowrap;
    margin-left:0%;
  }
}
@media only screen and (min-width: 768px){
  .categroy-all{
    overflow-x: auto;  white-space: nowrap;
    margin-left:0%;
  }
}
@media only screen and (min-width: 992px){  
  .categroy-all{
    overflow-x: hidden;  white-space: nowrap;
    margin-left:0%;
  }
}
.expandit{
  display: block;
}
@media only screen and (max-width: 480px) {
  .expandit{
    display: none;
  }
}
@media only screen and (min-width: 768px){
  .expandit{
    display: none;
  }
}
@media only screen and (min-width: 992px){  
  .expandit{
    display: block;
  }
}
.pre-h2  {  
  text-align:left;
  font-size: 12px;
  color: #b2b2b2;
  width:200px;
  font-weight: 600;
}

#preferencesmob{
  display: none;
}
@media only screen and (max-width: 480px) {
  #preferencesmob{
    display: block;
  }
}
@media only screen and (min-width: 768px){
  #preferencesmob{
    display: block;
  }
}
@media only screen and (min-width: 992px){  
  #preferencesmob{
    display: none;
  }
}

#fullwidth{
  width: 90%;
}
@media only screen and (max-width: 480px) {
  #fullwidth{   
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px){
  #fullwidth{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 992px){  
  #fullwidth{
    width: 95%;
    
  }
}
