<div class="row main-content">
  <div class="col-11">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <img src="/assets/images/settingIcon.svg" />
      </div>
      <div class="col-8">
        <p>Setting</p>
      </div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <img src="/assets/images/myProfileIcon.svg" />
      </div>
      <div class="col-8">
        <p>My Profile</p>
      </div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-2">
        <img src="/assets/images/helpAndSupportIcon.svg" />
      </div>
      <div class="col-8">
        <p>Help & Support</p>
      </div>
    </div>

    <div class="row last-item" (click)="signOut()">
      <div class="col-1"></div>
      <div class="col-2">
        <img src="/assets/images/signoutIcon.svg" />
      </div>
      <div class="col-8">
        <p>Sign Out</p>
      </div>
    </div>
  </div>
</div>