<ion-content padding>
  <ion-grid>
    <!-- Omnie Search -->
    <ion-row class="top-row">
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row class="align-things-center" *ngIf="flag">
      <ion-col col-12>
        <div class="main-spinner"></div>
      </ion-col>
    </ion-row>

    <!-- Popular Businesses -->
    <ion-row class="home-row" *ngIf="!flag">
      <ion-col>
        <section-header *ngIf="businesses && businesses.length>0; else showDiv" [text]="'Nearby buisnesses'"></section-header>
        <ng-template #showDiv>
          <section-header [text]="'Oops! no relevant buisnesses nearby.'"></section-header>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!flag && businesses && businesses.length>0">
      <ion-col col-6 *ngFor="let item of businesses" class="popular-business">
        <business-card [item]="item"></business-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content class="card-background-page" *ngIf="!flag && businesses && businesses.length===0">
    <ion-card class="align-things-center" (click)="addBusiness()">
      <div class="card-title"> Know any consious business? </div>
      <div class="card-subtitle"> Add it here. </div>
      <img class="main-iamge" src="assets/imgs/empty-category.svg" />
      <img class="add_icon" src="assets/imgs/addIcon.svg" />
    </ion-card>
  </ion-content>
</ion-content>
