page-explore-business-category {
  .popular-business {
    padding: 0 !important;
  }

  .popular-business h2 {
    font-size: 0.9em !important;
    color: $metal;
    padding: 0.5em 0 0 1em;
  }

  .custom-col {
    flex: 0 0 48% !important;
    width: 48% !important;
    max-width: 48% !important;
  }

  p {
    font-size: 1.8rem;
  }

  .card-background-page {
    ion-card {
      width: 100% !important;
      @media screen and (min-width: 360px) {
        height: 400px;
      }
    }

    .main-iamge {
      width: 70%;
      margin: 0 auto;
      top: 110px !important;
      position: relative;
    }

    .card-title {
      position: absolute;
      top: 10%;
      font-weight: normal !important;
      @media screen and (min-width: 375px) {
        font-size: 1.6em !important;
      }
      @media screen and (min-width: 414px) {
        font-size: 1.8em !important;
      }
    }
  
    .card-subtitle {
      position: absolute;
      left: 15%;
      top: 17%;
      @media screen {
        font-size: 1.2em !important;
      }
      @media screen and (min-width: 375px) {
        font-size: 1.4em !important;
      }
      @media screen and (min-width: 414px) {
        font-size: 1.6em !important;
      }
    }
  }

  .add_icon {
    height: 30px !important;
    position: absolute;
    bottom: 7%;
  }
}
