<div class="container-fluid">
  <div class="row justify-content-md-center main-content">
    <div class="col-11">
      <div class="row">
        <div class="col-12">
          <h2 class="mt-4 main-heading"> Explore Groups in Your Area </h2>
          <div class="row">
            <div class="col-12">           

                  <ul class="breadcrumb">
                    <li><img src="/assets/images/location.svg" style="width:20px; margin-right: 10px;"></li>
                    <li> <input type="text" [(ngModel)]="place" placeholder="Type city name"
                      class="form-control pl-0 input_style" autocorrect="off" autocapitalize="off" spellcheck="off"
                      #search></li>
                    <li><a href="#">Change Location</a></li>
                  </ul>

            </div>
          </div>


          <div class="row" *ngIf="category">
            <div class="col-12 pr-0">
              <h3 class="sub-heading">
                {{ category.name }}
              </h3>
              <div class="row" style="margin-top: 25px;">
                <div class="col-lg-3 col-md-6 col-xl-3" *ngFor="let group of groups">
                  <app-group-card [group]="group"></app-group-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>