page-forget-password {
    .back-icon{
        color: $secondary-color;
        float: left;
        font-size: 35px;
        margin-left: 3%;
        margin-top: 5%;
        @media screen and (min-width: 360px) {
            font-size: 21px;
        }
        @media screen and (min-width: 414px) {
            font-size: 30px;
        }
    }
    .item-input .label-md{
        padding:5px;
    }
    .account {
        font-weight: 800;
        margin-left: 5%;
    }

    .item{
        margin-bottom:10px;   
    }

    .text-1{
        @media screen and (min-width: 360px), screen and (min-width: 375px) {
            font-size: 1.2rem !important;
            margin-top: 1px;
        }
        @media screen and (min-width: 414px) {
            font-size: 1.5rem !important;
        }
    }
    .glow {
        color: $secondary-color;
    }

    .msg {
        bottom: 10%;
        position: absolute;
        width: 100%;
        text-align: center;
        font-size: 1.6rem;
        @media screen and (min-width: 320px), screen and (min-width: 360px), screen and (min-width: 375px) {
            font-size: 1.2rem;
        }
        @media screen and (min-width: 414px) {
            font-size: 1.5rem;
        }
    }

    .msg p {
        width: 100%;
    }
}
