page-collection-recipe {
    .first-row {
        border-bottom: 1px solid $light-color;
    }
    recipe-card {
        width: 100%;
    }
    .guide-scroll {
        @media screen and (max-width: 375px) {
            margin-top: 10px !important;
        }
    }
}
