ion-content {
  --background: url("../../../assets/images/fullScaleBg.png") no-repeat center
    center;
}

.logo {
  width: 200px;
  margin-left: 50px;
}

.btn-sm {
  border-radius: 50px !important;
  font-size: 12px;
  word-spacing: 2px;
}

.navbar-brand {
  margin-left: 20px;
}

.main-content {
  padding: 60px 100px;
  /* padding-bottom: 100px; */
}

h4 {
  color: #fff;
}

p {
  font-size: 12px;
  margin-bottom: 0px;
  color: #f3f3f3;
}

.form-control {
  font-size: 0.7rem !important;
  margin-top: 0;
  padding: 0 !important;
}

.form-group {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.sign-card {
  width: 350px;
  margin: 0 auto;
}

.card {
  margin: 0 auto;
  border-radius: 10px !important;
  margin-top: 20px;
  box-shadow: 0px 2px 14px 3px rgba(245, 237, 237, 0.17);
}

.button-primary {
  background: #00b2aa !important;
  color: #fff !important;
}

label {
  margin: 0;
}

.form-control,
.form-control:focus,
.input-group-addon {
  border-color: #e1e1e1;
  border-radius: 0;
}

/* .signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 30px 0;
} */

.signup-form h2 {
  color: #636363;
  margin: 0 0 15px;
  text-align: center;
}

.signup-form .lead {
  font-size: 14px;
  /* margin-bottom: 30px; */
  text-align: center;
}

.signup-form form {
  border-radius: 10px;
  /* margin-bottom: 15px; */
  background: #fff;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 18px;
}

.signup-form label {
  font-weight: normal;
  font-size: 13px;
}

.signup-form .form-control {
  height: 25px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
}

.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
  background: none;
  border-width: 0 0 1px 0;
  padding-left: 0px;
}

.signup-form .btn {
  font-size: 14px;
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
  border-radius: 50px;
  border: none;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  outline: none !important;
}

.signup-form .btn:hover,
.signup-form .btn:focus {
  background: linear-gradient(145deg, #ff6969 35%, #ffcd5a 100%);
}

.signup-form a:hover {
  text-decoration: underline;
}

.signup-form .fa {
  font-size: 21px;
}

.signup-form .fa-paper-plane {
  font-size: 17px;
}

.signup-form .fa-check {
  color: #fff;
  left: 9px;
  top: 18px;
  font-size: 7px;
  position: absolute;
}

.footer-text {
  font-size: 14px;
  color: #fff;
  border-top: 0.3px solid white;
  padding-top: 20px;
  word-spacing: 2px;
  margin-top: 210px;
}

a {
  color: #fff;
}

hr {
  color: white;
}

.sign-up {
  margin-top: 10px;
  font-size: 12px;
}

.social-login {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 0px 250px;
}

.footer-policy u {
  color: white;
}

.account {
  font-size: 0.75rem !important;
  padding: 0.25rem;
}

@media (max-width: 999px) {
  .logo {
    width: 200px;
    margin-left: 0px;
  }
  .btn-sm {
    border-radius: 50px 50px 50px 50px;
    font-size: 12px;
    word-spacing: 2px;
  }
  .navbar-brand {
    margin-left: 10px;
  }
  .card {
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
  }
  h4 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text {
    font-size: 11px;
    color: #fff;
    border-top: 1px solid white;
    padding-top: 10px;
    word-spacing: 2px;
  }
  .main-content {
    padding: 20px 100px;
  }
  .social-login {
    color: #fff;
    font-size: 14px;
    padding: 0px 180px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 150px;
    margin-left: 0px;
  }
  .btn-sm {
    border-radius: 50px 50px 50px 50px;
    font-size: 12px;
    word-spacing: 2px;
  }
  .navbar-brand {
    margin-left: 10px;
  }
  .card {
    width: 250px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
  }
  h4 {
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 150px;
    margin-left: 0px;
  }
  h4 {
    font-size: 16px;
    margin-left: 15px;
    text-align: left;
  }
  .card {
    width: 230px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
  }
  .footer-text {
    font-size: 11px;
    color: #fff;
    border-top: 1px solid white;
    padding-top: 10px;
    word-spacing: 2px;
    padding-top: 50px;
    margin-top: 100px;
  }
  .main-content {
    padding: 60px 50px;
  }
  .footer {
    padding: 10px 40px;
  }
}

@media (max-width: 330px) {
  .logo {
    width: 150px;
    margin-left: 0px;
  }
  h4 {
    font-size: 16px;
    margin-left: 15px;
    text-align: left;
  }
  .card {
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
  }
  .footer-text {
    font-size: 9px;
    color: #fff;
    border-top: 1px solid white;
    padding-top: 10px;
    word-spacing: 2px;
  }
  .main-content {
    padding: 60px 30px;
  }
  .footer {
    padding: 10px 40px;
  }
}




.form-control-mob {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 13px;
  line-height: 1.5;
  color: #495057;
  font-weight: 400px;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0;
  border: 1px solid #ced4da00;
  border-bottom: 1px solid #c1c0c0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.has-search .form-control-mob {
  padding-left: 30px;
}

.has-search .form-control-mob-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1.375rem;
  height: 1.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  margin-top: 7px;
  color: #aaa;
}
.signup-form {
  font-size: 18px;
}


.card1 {
  width: 40%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 10px;
 
}
@media (max-width: 999px) {
  .card1 {
    width: 100%;
    margin: 0 auto;  
    border-radius: 10px;
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .card1 {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    margin-top: 30px;
  }
}


.hedesk{
  font-size: 20px;  
  color:white;
  font-weight: 600;
}
@media (max-width: 768px) {
  .hedesk{
    font-size: 20px;
    display: none;    
  }  
}
.headmob{
  font-size: 20px;  
  color:white;
  text-align: center;  
  font-weight: 600;
}
@media (max-width: 768px) {
  .headmob{
    font-size: 20px;  
    color:white;   
    text-align: center;
    font-weight: 600;
  } 
}

.btnmob{
  margin-left: 40%;
  margin-right: 30%;
  margin-top: 30px;
  width:250px; 
  font-size: 18px;
  height: 40px;
  font-weight: 400;
  margin-right: 15px;
}
@media (max-width: 768px) {
  .btnmob{   
    margin-left: 10%;
    margin-top: 30px;
    width:80%; 
    font-size: 16px;
    height: 40px;
    font-weight: 400;
    margin-right: 15px;
  }
}


@media (max-width: 768px) {
  .btndesk{
    display: none; 
  }
}
