<div class="container-fluid">
  <!----------top section----------->
  <div class="row main-content justify-content-md-center">
    <div class="col-11" *ngIf="forum">
      <div class="row comment">
        <div class="col-12">
          <div class="post-footer-option">
            <ul class="list-unstyled">
              <li><a href="#"># Vegan</a></li>
              <li><a href="#">Post {{ publishedTime }}</a></li>
              <li>
                <a href="#">
                  <button class="btnlink"><img src="/assets/images/share.png" style="width:15px;">
                    Share
                  </button>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <h3>{{ forum.title }}</h3>
        </div>
        <div class="col-12">
          <div class="head" *ngIf="userLocation">
            <small>
              <img [src]="addedUserImage" class="profile">
              <strong class='user'>{{ forum.addedBy.name }}</strong>
              <img src="/assets/images/locationGray@2x.png"
                style="width: 13px;  margin-left: 22px; margin-right:10px;">{{ userLocation.city }},
              {{ userLocation.state }}
            </small>
          </div>
        </div>
        <div class="col-12">
          <p class="txt-cmt" *ngIf="forum.type === 'photo'; else showLink">
            {{ forum.description }}
          </p>
          <ng-template #showLink>
            <p class="txt-cmt">
              {{ forum.link }}
            </p>
          </ng-template>
        </div>
        <div class="col-12" *ngIf="forum.type === 'photo'">
          <p>
            <img [src]="viewedPhoto" style="width: 300px; height: 200px; border-radius: 15px; margin-bottom: 10px;">
          </p>
        </div>
        <div class="col-12">
          <div class="post-footer-option">
            <ul class="list-unstyled">
              <li><a href="#"><img src="/assets/images/like.png" width="20px"> {{ forum.likes }}</a></li>
              <li><a href="#"><img src="/assets/images/thumbs-down-silhouette.png" width="20px">
                  {{ forum.dislikes }}</a></li>
              <li><a href="#"><img src="/assets/images/chat.png" width="20px"> {{ forum.commentsCount }}</a></li>
              <li>
                <div class="dropdown">
                  <img src="/assets/images/inPostMore.png" width="28px">
                  <div class="dropdown-content">
                    <a href="#">Delete</a>
                    <a href="#">Report inappropriate content</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <BR><BR>
      <!-------end top section------>


      <!-------------Commnet textbox------>
      <div class="" style="margin-right: -15px; margin-left: -15px;">
        <textarea class="form-control" rows="9" id="comment" placeholder="Your reply"
          style="border-radius:15px; font-size:17px;"></textarea>
        <img src="/assets/images/commentPhoto.png" class="upload">
        <center><button type="submit" class="category">Add a Comment</button></center>
      </div>
      <!-------------Commnet textbox------>


      <!-------------Commnet reply------>
      <div class="row comments">
        <div class="head">
          <small><img src="/assets/images/member-05-270x270.jpg" class="profile"><strong class='user'>Jennifer
              C.Espara</strong>
            <img src="/assets/images/locationGray@2x.png"
              style="width: 13px;  margin-left: 22px; margin-right:10px;">Stoten
            Island,
            NY</small>
        </div>
        <p class="txt-cmt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non lorem elementum, accumsan magna sed,
          faucibus
          mauris.
          Nulla pellentesque ante nibh, ac hendrerit ante fermentum sed. Nunc in libero dictum, porta nibh pellentesque,
          ultrices dolor.
          Curabitur nunc ipsum, blandit vel aliquam id, aliquam vel velit. Vestibulum ante ipsum primis in faucibus orci
          luctus et
          ultrices posuere cubilia Curae; Sed sit amet mi dignissim, pretium justo non, lacinia libero. Nulla facilisi.
          Donec id sem velit. </p>
        <button class="reply">Reply</button>
        <div class="dropdown cmticon">
          <img src="/assets/images/inPostMore.png" width="28px">
          <div class="dropdown-content">
            <a href="#">Delete</a>
            <a href="#">Report inappropriate content</a>
          </div>
        </div>
        <hr>
      </div>
      <!-------------end Commnet reply------>
    </div>
  </div>
  <app-footer></app-footer>
</div>