<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-3 class="back-arrow above-map" (tap)="prevStep()">
        <img src="assets/icon/custom/back_arrow.png" alt="">
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <profile-image *ngIf="user.photo; else showDummyImage" [src]="user.photo.thumb400Url"></profile-image>
      <ng-template #showDummyImage>
        <profile-image [src]="'assets/imgs/defaultUser.png'"></profile-image>
      </ng-template>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col col-12>
        <h4 class="profile-name">{{ user.name }}</h4>
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center;">
      <ion-col col-12>
        <p class="location" *ngIf="currentLocation">
          <ion-icon ios="md-navigate" md="md-navigate" class="navi"></ion-icon> {{ currentLocation.city }}, {{
          currentLocation.state }}
        </p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="user && !flag" class="align-things-center points-section">
      <ion-col col-12>
        <ion-card class="points-card align-things-center" (click)="openPoints()">
          <ion-row>
            <ion-col col-3 class="align-things-center">
              <img style="border-radius: 50% !important;" class="level-icon" [src]="userLevel?.icon">
              <p class="level-name">{{ userLevel?.name }}</p>
            </ion-col>
            <ion-col col-6 class="align-things-center">
              <p class="points">
                <span class="current-point">{{ userPoint }}</span>
                <span class="total-point"> / {{ userLevel?.endPoint }}</span>
              </p>
              <div>
                <div class="loader fl"></div>
                <div class="loader" [ngStyle]="{'width': (userPoint/userLevel?.endPoint)*100 + '%'}"></div>
              </div>
              <p class="level">Level {{ userLevel?.level }}</p>
            </ion-col>
            <ion-col col-3 class="align-things-center">
              <img class="level-icon" src="assets/imgs/badgeNextLevel.svg">
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="align-things-center" *ngIf="flag">
      <ion-col col-12>
        <div class="main-spinner"></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-scroll scrollX="true" class="guide-scroll" style="height:70px">
      <ion-row nowrap>
        <ion-col col-4>
          <button ion-button round [class.filter-active]="options==='about'" class="filter-button align-things-center"
            (click)="filter('about')">
            About Me
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button round [class.filter-active]="options==='recipes'" class="filter-button align-things-center"
            (click)="filter('recipes')">
            Recipes
          </button>
        </ion-col>
        <ion-col col-4>
          <button ion-button round [class.filter-active]="options==='products'" class="filter-button align-things-center"
            (click)="filter('products')">
            Products
          </button>
        </ion-col>
      </ion-row>
    </ion-scroll>

    <ion-row *ngIf="options==='about'" class="option-card align-things-center" col-12>
      <ion-card col-12 class="about-card">
        <ion-col col-12>
          <h1>About Me</h1>
        </ion-col>
        <ion-col col-12>
          <p>{{ user.about }}</p>
        </ion-col>
      </ion-card>
    </ion-row>

    <ion-row *ngIf="options==='recipes'">
      <ion-col col-12 class="align-things-center">
        <ion-card class="addCard align-things-center">
          <ion-card-content>
            <button ion-button round icon-only class="card_btn" (click)="addRecipe()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let item of recipes" col-12>
        <recipe-card [item]="item"></recipe-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="options==='products'">
      <ion-col col-12 class="align-things-center">
        <ion-card class="addCard align-things-center">
          <ion-card-content>
            <button ion-button round icon-only class="card_btn" (click)="addProduct()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let item of products" col-6 class="products">
        <product-card [item]="item"></product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
